<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #hubNavigationMenuForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="hubNavigationMenu.id">{{ l('EditHubNavigationMenu') }}</span>
                        <span *ngIf="!hubNavigationMenu.id">{{ l('CreateNewHubNavigationMenu') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="HubName">{{ l('Hub') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="HubName"
                                name="hubName"
                                [(ngModel)]="hubName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectHubModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setHubIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="hubNavigationMenu.hubId"
                        [(ngModel)]="hubNavigationMenu.hubId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterNavigationMenuName">{{ l('MasterNavigationMenu') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterNavigationMenuName"
                                name="masterNavigationMenuName"
                                [(ngModel)]="masterNavigationMenuName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectMasterNavigationMenuModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button
                                class="btn btn-danger btn-icon"
                                type="button"
                                (click)="setMasterNavigationMenuIdNull()"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="hubNavigationMenu.masterNavigationMenuId"
                        [(ngModel)]="hubNavigationMenu.masterNavigationMenuId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="HubNavigationMenu_CustomName">{{ l('CustomName') }}</label>
                        <input
                            type="text"
                            #HubNavigationMenu_CustomName="ngModel"
                            id="HubNavigationMenu_CustomName"
                            class="form-control"
                            [(ngModel)]="hubNavigationMenu.customName"
                            name="CustomName"
                            minlength="1"
                            maxlength="128"
                        />
                        <validation-messages [formCtrl]="HubNavigationMenu_CustomName"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="HubNavigationMenu_NavigationLink">
                            {{ l('NavigationLink') }}
                        </label>
                        <input
                            type="text"
                            #HubNavigationMenu_NavigationLink="ngModel"
                            id="HubNavigationMenu_NavigationLink"
                            class="form-control"
                            [(ngModel)]="hubNavigationMenu.navigationLink"
                            name="NavigationLink"
                        />
                        <validation-messages [formCtrl]="HubNavigationMenu_NavigationLink"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!hubNavigationMenuForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hubNavigationMenuHubLookupTableModal
        #hubNavigationMenuHubLookupTableModal
        (modalSave)="getNewHubId()"
    ></hubNavigationMenuHubLookupTableModal>
    <hubNavigationMenuMasterNavigationMenuLookupTableModal
        #hubNavigationMenuMasterNavigationMenuLookupTableModal
        (modalSave)="getNewMasterNavigationMenuId()"
    ></hubNavigationMenuMasterNavigationMenuLookupTableModal>
</div>
