<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productGigWorkerPortfolioForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productGigWorkerPortfolio.id">{{l("EditProductGigWorkerPortfolio")}}</span>
                        <span *ngIf="!productGigWorkerPortfolio.id">{{l("CreateNewProductGigWorkerPortfolio")}}</span>
                    </h4>                    
                    
                    
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
                </div>
                <div class="modal-body">
                 


					<div class="my-3">
                        <label class="form-label" for="BusinessName">{{l("Business")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="BusinessName" name="businessName" [(ngModel)]="businessName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectBusinessModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setBusinessIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="productGigWorkerPortfolio.businessId" [(ngModel)]="productGigWorkerPortfolio.businessId" type="text"  hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="ContactFullName">{{l("Contact")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ContactFullName" name="contactFullName" [(ngModel)]="contactFullName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectContactModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setContactIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="productGigWorkerPortfolio.contactId" [(ngModel)]="productGigWorkerPortfolio.contactId" type="text"  hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="ProductName">{{l("Product")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ProductName" name="productName" [(ngModel)]="productName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="productGigWorkerPortfolio.productId" [(ngModel)]="productGigWorkerPortfolio.productId" type="text"  hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="EmployeeName">{{l("Employee")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="EmployeeName" name="employeeName" [(ngModel)]="employeeName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectEmployeeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setEmployeeIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="productGigWorkerPortfolio.employeeId" [(ngModel)]="productGigWorkerPortfolio.employeeId" type="text"  hidden>
                        


								<div class="my5">
									<label class="form-label" for="ProductGigWorkerPortfolio_DisplaySequence">{{l("DisplaySequence")}}</label>
									<input type="number" #ProductGigWorkerPortfolio_DisplaySequence="ngModel" id="ProductGigWorkerPortfolio_DisplaySequence" class="form-control" [(ngModel)]="productGigWorkerPortfolio.displaySequence" name="DisplaySequence"    />
									<validation-messages [formCtrl]="ProductGigWorkerPortfolio_DisplaySequence"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productGigWorkerPortfolioForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<productGigWorkerPortfolioBusinessLookupTableModal #productGigWorkerPortfolioBusinessLookupTableModal (modalSave)="getNewBusinessId()"></productGigWorkerPortfolioBusinessLookupTableModal>
		 <productGigWorkerPortfolioContactLookupTableModal #productGigWorkerPortfolioContactLookupTableModal (modalSave)="getNewContactId()"></productGigWorkerPortfolioContactLookupTableModal>
		 <productGigWorkerPortfolioProductLookupTableModal #productGigWorkerPortfolioProductLookupTableModal (modalSave)="getNewProductId()"></productGigWorkerPortfolioProductLookupTableModal>
		 <productGigWorkerPortfolioEmployeeLookupTableModal #productGigWorkerPortfolioEmployeeLookupTableModal (modalSave)="getNewEmployeeId()"></productGigWorkerPortfolioEmployeeLookupTableModal>
		 
</div>