<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #orderfulfillmentTeamForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="orderfulfillmentTeam.id">{{ l('EditOrderfulfillmentTeam') }}</span>
                        <span *ngIf="!orderfulfillmentTeam.id">{{ l('CreateNewOrderfulfillmentTeam') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="OrderFullName">{{ l('Order') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="OrderFullName"
                                name="orderFullName"
                                [(ngModel)]="orderFullName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectOrderModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setOrderIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="orderfulfillmentTeam.orderId"
                        [(ngModel)]="orderfulfillmentTeam.orderId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="EmployeeName">{{ l('Employee') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="EmployeeName"
                                name="employeeName"
                                [(ngModel)]="employeeName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectEmployeeModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setEmployeeIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="orderfulfillmentTeam.employeeId"
                        [(ngModel)]="orderfulfillmentTeam.employeeId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="ContactFullName">{{ l('Contact') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ContactFullName"
                                name="contactFullName"
                                [(ngModel)]="contactFullName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectContactModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setContactIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="orderfulfillmentTeam.contactId"
                        [(ngModel)]="orderfulfillmentTeam.contactId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="UserName">{{ l('User') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="UserName"
                                name="userName"
                                [(ngModel)]="userName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="orderfulfillmentTeam.userId"
                        [(ngModel)]="orderfulfillmentTeam.userId"
                        type="text"
                        hidden
                    />
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!orderfulfillmentTeamForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <orderfulfillmentTeamOrderLookupTableModal
        #orderfulfillmentTeamOrderLookupTableModal
        (modalSave)="getNewOrderId()"
    ></orderfulfillmentTeamOrderLookupTableModal>
    <orderfulfillmentTeamEmployeeLookupTableModal
        #orderfulfillmentTeamEmployeeLookupTableModal
        (modalSave)="getNewEmployeeId()"
    ></orderfulfillmentTeamEmployeeLookupTableModal>
    <orderfulfillmentTeamContactLookupTableModal
        #orderfulfillmentTeamContactLookupTableModal
        (modalSave)="getNewContactId()"
    ></orderfulfillmentTeamContactLookupTableModal>
    <orderfulfillmentTeamUserLookupTableModal
        #orderfulfillmentTeamUserLookupTableModal
        (modalSave)="getNewUserId()"
    ></orderfulfillmentTeamUserLookupTableModal>
</div>
