<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                    aria-label="Close"
                    [disabled]="saving"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('TrackingNumber') }} :</h6>
                        {{ item.orderDeliveryInfo.trackingNumber }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('TotalWeight') }} :</h6>
                        {{ item.orderDeliveryInfo.totalWeight }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DeliveryProviderId') }} :</h6>
                        {{ item.orderDeliveryInfo.deliveryProviderId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DispatchDate') }} :</h6>
                        {{ item.orderDeliveryInfo.dispatchDate | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DispatchTime') }} :</h6>
                        {{ item.orderDeliveryInfo.dispatchTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DeliverToCustomerDate') }} :</h6>
                        {{ item.orderDeliveryInfo.deliverToCustomerDate | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DeliverToCustomerTime') }} :</h6>
                        {{ item.orderDeliveryInfo.deliverToCustomerTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DeliveryNotes') }} :</h6>
                        {{ item.orderDeliveryInfo.deliveryNotes }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('CustomerAcknowledged') }} :</h6>
                        <div *ngIf="item.orderDeliveryInfo.customerAcknowledged" class="text-left">
                            <i class="fa fa-check-circle text-success" title="True"></i>
                        </div>
                        <div *ngIf="!item.orderDeliveryInfo.customerAcknowledged" class="text-left">
                            <i class="fa fa-times-circle" title="False"></i>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('CustomerSignature') }} :</h6>
                        {{ item.orderDeliveryInfo.customerSignature }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('CateringDate') }} :</h6>
                        {{ item.orderDeliveryInfo.cateringDate | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('CateringTime') }} :</h6>
                        {{ item.orderDeliveryInfo.cateringTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DeliveryDate') }} :</h6>
                        {{ item.orderDeliveryInfo.deliveryDate | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DeliveryTime') }} :</h6>
                        {{ item.orderDeliveryInfo.deliveryTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DineInDate') }} :</h6>
                        {{ item.orderDeliveryInfo.dineInDate | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DineInTime') }} :</h6>
                        {{ item.orderDeliveryInfo.dineInTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IncludedChildren') }} :</h6>
                        <div *ngIf="item.orderDeliveryInfo.includedChildren" class="text-left">
                            <i class="fa fa-check-circle text-success" title="True"></i>
                        </div>
                        <div *ngIf="!item.orderDeliveryInfo.includedChildren" class="text-left">
                            <i class="fa fa-times-circle" title="False"></i>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IsAsap') }} :</h6>
                        <div *ngIf="item.orderDeliveryInfo.isAsap" class="text-left">
                            <i class="fa fa-check-circle text-success" title="True"></i>
                        </div>
                        <div *ngIf="!item.orderDeliveryInfo.isAsap" class="text-left">
                            <i class="fa fa-times-circle" title="False"></i>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IsPickupCatering') }} :</h6>
                        <div *ngIf="item.orderDeliveryInfo.isPickupCatering" class="text-left">
                            <i class="fa fa-check-circle text-success" title="True"></i>
                        </div>
                        <div *ngIf="!item.orderDeliveryInfo.isPickupCatering" class="text-left">
                            <i class="fa fa-times-circle" title="False"></i>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('NumberOfGuests') }} :</h6>
                        {{ item.orderDeliveryInfo.numberOfGuests }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PickupDate') }} :</h6>
                        {{ item.orderDeliveryInfo.pickupDate | luxonFormat : 'yyyy-LL-dd HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PickupTime') }} :</h6>
                        {{ item.orderDeliveryInfo.pickupTime }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('Employee') }}) {{ l('Name') }} :</h6>
                        {{ item.employeeName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('Order') }}) {{ l('InvoiceNumber') }} :</h6>
                        {{ item.orderInvoiceNumber }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
