/* You can add global styles to this file, and also import other style files */
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

.swal2-icon.swal2-info::before,
.swal2-icon.swal2-warning::before,
.swal2-icon.swal2-success::before,
.swal2-icon.swal2-error::before {
    content: "";
}

@keyframes glowing {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

bs-days-calendar-view+bs-days-calendar-view {
    margin-left: 10px;
}

bs-days-calendar-view {
    display: inline-block;
    border-radius: 4px 0 0 4px;
}

@media (max-width: 768px) {
    .btn-md-icon {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
}

.badge {
    justify-content: center;
}

.img_box_product {
    width: 105px;
    min-width: 105px;
    height: 90px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 5px;
    margin-right: 13px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.square_logo_box {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 5px;
    margin-right: 13px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    span {
        font-size: 16px;
        font-weight: bold;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.table_title {
    font-weight: 500;
    font-size: 1.1rem;
}

.dashboard_header_image {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
}

.dashboard_header_name {
    font-size: 2rem;
    font-weight: bold;
    color: #2b9ef4;
    letter-spacing: 3px;
}

.db_tabs_aligned_top {
    margin-bottom: 1px;

    .nav-line-tabs.nav-line-tabs-2x {
        border-bottom-width: 0px !important;
    }

    .nav-line-tabs.nav-line-tabs-2x .nav-item .nav-link.active {
        border-bottom-width: 3px !important;
    }
}

.nested_tab_db {
    background: white;
    padding: 1px 30px;
}

.tag_block_custom {
    width: 100%;

    .row>* {
        padding: 5px;
    }

    h4 {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;
    }

    .btn+.btn {
        margin-left: 0px !important;
    }

    .btn {
        text-transform: capitalize;
        margin-right: 0rem !important;
        margin-bottom: 10px;
        font-size: 11px;
        font-weight: 400;
        padding: 3px 14px 5px 13px !important;
    }

    .btn-outline-brand {
        color: #6d6d6d;
        border-color: #eaeaea;
        background: #eaeaea;
        border-radius: 15px;
    }

    .btn-outline-brand:not(:disabled):not(.disabled):active,
    .btn-outline-brand:not(:disabled):not(.disabled).active,
    .show>.btn-outline-brand.dropdown-toggle {
        color: #fff !important;
        background-color: #2b9df3 !important;
        border-color: #2b9df3;

        i {
            color: white !important;
        }
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon {
        padding-right: 0.75rem;
        font-size: 1.1rem !important;
        color: #74788d !important;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
        margin: 0;
        padding: 0;
        font-size: 1.07rem !important;
        font-weight: 500;
        color: #6d6c75 !important;
    }

    .btn:hover {
        background-color: #2b9df378;
    }
}

.card_accordion {
    .accordion-button:not(.collapsed) {
        color: #2b9ef4;
        background-color: #2b9ef400;
        border-bottom: 1px solid #e7e7e7;
    }
}

.form-check-custom.form-check-solid .form-check-input {
    border: 1px solid #ddebf3 !important;
}

.img_gallery_for_db {
    .img_gallery_top {
        width: 100%;
        height: 25rem;
        border-radius: 8px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
        }
    }

    .sm_bottom_gallery {
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;

        .overlay-layer {
            height: 6px !important;

            i {
                font-size: 1.25rem !important;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        a {
            display: grid;
            text-align: center;

            i {
                font-size: 1.5rem;
            }
        }
    }
}

.kt-widget6 {
    .kt-widget6__item {
        display: flex;
        align-items: center;
        margin-bottom: 0.07rem;
        justify-content: space-around;
        padding: 12px;
        border-bottom: 1px dashed #e4e6ef;

        span {
            min-width: 8rem;
            text-align: center;
        }
    }
}

.image-input .image-input-wrapper {
    background-size: contain !important;
    background-position: center;
}

.height_fluid {
    height: calc(100% - 20px) !important;
}

//p-editor
::ng-deep {
    .p-editor-container {
        border-radius: 8px;
    }

    .p-editor-container .p-editor-toolbar.ql-snow {
        border: 1px solid #2b9ef417 !important;
    }

    .p-editor-container .p-editor-toolbar {
        background: #f5f8fa;
    }

    .p-editor-container .p-editor-content.ql-snow {
        border: 1px solid #2b9ef417;
    }

    .p-editor-container .p-editor-content .ql-editor {
        background: #f5f8fa;
    }
}

.p-editor-container {
    border-radius: 8px;
}

.p-editor-container .p-editor-toolbar.ql-snow {
    border: 1px solid #2b9ef417 !important;
}

.p-editor-container .p-editor-toolbar {
    background: #f5f8fa !important;
}

.p-editor-container .p-editor-content.ql-snow {
    border: 1px solid #2b9ef417 !important;
}

.p-editor-container .p-editor-content .ql-editor {
    background: #f5f8fa !important;
}

.select_button_custom {
    .p-selectbutton .p-button.p-highlight {
        background: #3d9ef3 !important;
        border-color: #2b9ef4 !important;
        color: rgb(255 255 255 / 87%) !important;
    }
}

.border_bold_left_primary{
    border-left: 8px solid #4a9ef1 !important;
}
.border_bold_left_light{
    border-left: 8px solid  #848484 !important;
}

.skill_set_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed #2b9ef40f;
    border-radius: 8px;
    padding: 1.5rem;
    background: #f1faff;
    box-shadow: azure;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    .skills_title {
        display: flex;
        align-items: center;

        h6 {
            margin-bottom: 0;
            margin-right: 1.5rem;
        }
    }
}

.p_filter .p-dropdown {
    border: 1px solid rgb(228 230 239) !important;
    border-radius: 5px !important;
    padding: 2px !important;

    .p-inputtext {
        padding: 0.69rem 0.95rem !important;
        border: 0px solid rgb(228, 230, 239) !important;
    }    
}

.new_media_file {
    .kt-avatar {
        position: relative;
        display: inline-block;
    }
     .kt-avatar .kt-avatar__upload {
        cursor: pointer;
        position: relative;
        right: 0;
        top: 0;
        width: 155px;
        height: 41px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #5867dd6b;
        color: #5867dd;
    }
    .kt-avatar .kt-avatar__upload {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .kt-avatar .kt-avatar__upload {
        cursor: pointer;
        position: relative;
        right: 0px;
        top: 0px;
        width: 155px;
        height: 41px;
        border-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #5867dd6b;
        color: #5867dd;
    }

    .kt-avatar .kt-avatar__upload i {
        color: #5d78ff;
        font-size: 1.5rem;
        margin-right: 7px;
    }

    .kt-avatar .kt-avatar__upload:hover i {
        color: #5d78ff !important;
    }

     .kt-avatar .kt-avatar__upload i {
        color: #5d78ff;
        font-size: 1.5rem;
        margin-right: 7px;
    }
    .kt-avatar .kt-avatar__upload i {
        color: #5d78ff;
        font-size: 0.9rem;
    }

    .kt-avatar .kt-avatar__upload input {
        width: 0 !important;
        height: 0 !important;
        overflow: hidden;
        opacity: 0;
    }

    .kt-avatar .kt-avatar__cancel {
        cursor: pointer;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: auto;
        right: -10px;
        bottom: -5px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
        display: none;
    }

    .kt-avatar .kt-avatar__cancel i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #74788d;
        font-size: 0.9rem;
    }

}

.uploaded_img{
    width: 30rem;
    height: 25rem;
    object-fit: scale-down;
    image-rendering: -webkit-optimize-contrast;
}

.media_library_st{
    .pro__img {
        width: 100%;
        height: 117px;
        object-fit: cover;
    }
    
    .kt-subheader__main {
        span {
            cursor: pointer !important;
        }
    }
    
    // td {
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }
    
    .box16 {
        overflow: hidden;
    }
    
    
    .box16 {
        text-align: center;
        color: #fff;
        position: relative;
        transition: all .3s cubic-bezier(.25, .8, .25, 1);
        border: 0px solid #a5a5a5;
        border-radius: 4px;
        height: 15.6rem;
    }
    
    .box16 .box-content,
    .box16:after {
        width: 100%;
        position: absolute;
        left: 0;
    }
    
    .box16:after {
        content: "";
        height: 100%;
        top: 0;
        transition: all 0.5s ease 0s;
    }
    
    .box16 .post,
    .box16 .title {
        transform: translateY(145px);
        transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
    }
    
    .box16:hover:after {
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.01) 0,
                rgba(0, 0, 0, 0.09) 11%,
                rgba(0, 0, 0, 0.12) 13%,
                rgba(0, 0, 0, 0.19) 20%,
                rgba(0, 0, 0, 0.29) 28%,
                rgba(0, 0, 0, 0.29) 29%,
                rgba(0, 0, 0, 0.42) 38%,
                rgba(0, 0, 0, 0.46) 43%,
                rgba(0, 0, 0, 0.53) 47%,
                rgba(0, 0, 0, 0.75) 69%,
                rgba(0, 0, 0, 0.87) 84%,
                rgba(0, 0, 0, 0.98) 99%,
                rgba(0, 0, 0, 0.94) 100%);
    }
    
    .box16 img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: contain;
        image-rendering: -webkit-optimize-contrast;
    }
    
    .box16 .box-content {
        bottom: 50px;
        z-index: 1;
    }
    
    .box16 .title {
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0px 0px 10px;
        background: #00000082;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .box16 .post {
        display: block;
        padding: 8px 0;
        font-size: 15px;
    }
    
    .box16 .social li a,
    .box17 .icon li a {
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
    }
    
    .box16:hover .post,
    .box16:hover .title {
        transform: translateY(0);
    }
    
    .box16 .social {
        list-style: none;
        padding: 0 0 5px;
        margin: 40px 0 25px;
        opacity: 0;
        position: relative;
        transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
        transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s;
    }
    
    .box16:hover .social {
        opacity: 1;
        transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
    }
    
    .box16 .social:before {
        content: "";
        width: 50px;
        height: 2px;
        background: #fff0;
        margin: 0 auto;
        position: absolute;
        top: -23px;
        left: 0;
        right: 0;
    }
    
    .box16 .social li {
        display: inline-block;
    }
    
    .box16 .social li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #00adef;
        margin-right: 10px;
        transition: all 0.3s ease 0s;
        i{
            color: white;
        }
    }
    
    .box17 .icon li,
    .box17 .icon li a {
        display: inline-block;
    }
    
    .box16 .social li a:hover {
        background: #0392ca;
    }
    
    .box16 .social li:last-child a {
        margin-right: 0;
    }
    
    @media only screen and (max-width: 990px) {
        .box16 {
            margin-bottom: 30px;
        }
    }
    
    .main_content_box {
        border: 1px solid #c3c3c3;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
        height: 22.6rem;
    }
    
    
    .main_content_box {
    
        .snd_box {
            text-align: left;
            margin-top: 10px;
            font-weight: 400;
        }
    
        .icon__ed {
            transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
            transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s;
        }
    
    }
    
    .main_content_box:hover {
    
        .icon__ed {
            opacity: 1;
            transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
        }
    
    }
    
    .snd_box {
        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 18px;
            margin-top: 1px;
            margin-bottom: 0px;
    
            small {
                font-size: 11px;
                color: darkgrey;
            }
        }
    
        h6 {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
            word-break: break-all;
        }
    }
    
    .vdo_box {
        h3 {
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 9px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
            word-break: break-all;
        }
    }
    
    .icon_for_ed {
        ul li a i {
            font-size: 1.5rem;
            background: rgb(254, 43, 30);
            color: white;
            padding: 10px;
            margin-right: 15px;
            border-radius: 50%;
        }
    }
    
    li {
        display: inline-block;
    }
    
}

.media_lookup_modal{
    .pro__img{
        width: 80px;
        height: auto;
        image-rendering: -webkit-optimize-contrast;
      }
    
      .main_img_box{
        border: 1px solid #c5c5c5;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
      }
    
}

.p-inputtext {
    padding: 0.9rem 0.97rem !important;
    border-radius: 0px 6px 6px 0px !important;
    border: 1px solid rgb(228 230 239) !important;
}

.g_prime_btn{
    .p-button {
        background: #2b9ef4 !important;
        text-align: center;
        justify-content: center;
        i{
            color: white;
            font-size: 1.32rem;
        }
    }
    
    .p-button:enabled:hover {
        background: rgb(41 136 207) !important;
    }
}