<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #storeProductMapForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="storeProductMap.id">{{ l('Edit Product') }}</span>
                        <span *ngIf="!storeProductMap.id">{{ l('Create New Product') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <div class="my-3" *ngIf="!storeId && bulkProductTemplateAssignToStore">
                        <label class="form-label" for="StoreName">{{ l('Store') }}</label>
                        <div class="input-group">
                            <input class="form-control" id="StoreName" name="storeName" [(ngModel)]="storeName"
                                type="text" disabled />
                            <button class="btn btn-primary blue" (click)="openSelectStoreModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setStoreIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input *ngIf="!storeId" class="form-control" name="storeProductMap.storeId"
                        [(ngModel)]="storeProductMap.storeId" type="text" required hidden />

                    <div *ngIf="!bulkProductTemplateAssignToStore">
                        <div class="my-3">
                            <div class="input-group">
                                <input class="form-control" id="ProductName" name="productName"
                                    placeholder="Add from My Product List" [(ngModel)]="productName" type="text" disabled />
                                <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                                <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <input class="form-control" name="storeProductMap.productId" [(ngModel)]="storeProductMap.productId"
                            type="text" required hidden />
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <label class="form-label" for="Product_Name">{{ l('Name') }} *</label>
                                    <input type="text" #Product_Name="ngModel" id="Product_Name" class="form-control"
                                        [(ngModel)]="product.name" name="Name" minlength="1" maxlength="1024" required />
                                    <validation-messages [formCtrl]="Product_Name"></validation-messages>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="my-5 p_filter">
                                    <label class="form-label required" for="ProductCategoryName">
                                        Product Category
                                    </label>
                                    <p-dropdown [options]="productCategoryOptions" [filter]="true" [virtualScroll]="true"
                                        placeholder="Select Product Category" [itemSize]="30" name="productCategory"
                                        optionLabel="displayName" optionValue="id" optionId="productCategoryId"
                                        [(ngModel)]="product.productCategoryId" filterBy="displayName" required
                                        [style]="{ width: '100%' }"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <!--begin::Input group-->
                                <div class="fv-row mb-7 mt-7 fv-plugins-icon-container select_button_custom">
                                    <p-selectButton [options]="productServiceOptions" name="productServiceOptions"
                                        id="productServiceOptions" [(ngModel)]="product.isService" optionLabel="label"
                                        optionValue="value"></p-selectButton>
                                </div>
                                <!--end::Input group-->
                            </div>
                        </div>
                        <br>
                        <label class="form-check form-check-custom form-check-solid">
                            <input id="StoreProductMap_Published" #StoreProductMap_Published="ngModel" name="Published"
                                [(ngModel)]="storeProductMap.published" type="checkbox" class="form-check-input" />
                            <span class="form-check-label">
                                {{ l('Published') }}
                            </span>
                        </label>
                        <validation-messages [formCtrl]="StoreProductMap_Published"></validation-messages>
                    </div>

                    <!-- <div class="my-5">
                        <label class="form-label" for="StoreProductMap_DisplaySequence">
                            {{ l('DisplaySequence') }}
                        </label>
                        <input type="number" #StoreProductMap_DisplaySequence="ngModel"
                            id="StoreProductMap_DisplaySequence" class="form-control"
                            [(ngModel)]="storeProductMap.displaySequence" name="DisplaySequence" />
                        <validation-messages [formCtrl]="StoreProductMap_DisplaySequence"></validation-messages>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!storeProductMapForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fas fa-arrow-right"></i>
                        <span>{{ l('Next') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <storeProductMapStoreLookupTableModal #storeProductMapStoreLookupTableModal (modalSave)="getNewStoreId()">
    </storeProductMapStoreLookupTableModal>
    <storeProductMapProductLookupTableModal #storeProductMapProductLookupTableModal (modalSave)="getNewProductId()">
    </storeProductMapProductLookupTableModal>
</div>