<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #storeProductMapForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="storeProductMap.id">{{ l('EditStoreProductMap') }}</span>
                        <span *ngIf="!storeProductMap.id">{{ l('CreateNewStoreProductMap') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="StoreName">{{ l('Store') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="StoreName"
                                name="storeName"
                                [(ngModel)]="storeName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectStoreModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setStoreIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeProductMap.storeId"
                        [(ngModel)]="storeProductMap.storeId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="ProductName">{{ l('Product') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ProductName"
                                name="productName"
                                [(ngModel)]="productName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeProductMap.productId"
                        [(ngModel)]="storeProductMap.productId"
                        type="text"
                        required
                        hidden
                    />

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="StoreProductMap_Published"
                            #StoreProductMap_Published="ngModel"
                            name="Published"
                            [(ngModel)]="storeProductMap.published"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('Published') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="StoreProductMap_Published"></validation-messages>

                    <div class="my5">
                        <label class="form-label" for="StoreProductMap_DisplaySequence">
                            {{ l('DisplaySequence') }}
                        </label>
                        <input
                            type="number"
                            #StoreProductMap_DisplaySequence="ngModel"
                            id="StoreProductMap_DisplaySequence"
                            class="form-control"
                            [(ngModel)]="storeProductMap.displaySequence"
                            name="DisplaySequence"
                        />
                        <validation-messages [formCtrl]="StoreProductMap_DisplaySequence"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!storeProductMapForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <storeProductMapStoreLookupTableModal
        #storeProductMapStoreLookupTableModal
        (modalSave)="getNewStoreId()"
    ></storeProductMapStoreLookupTableModal>
    <storeProductMapProductLookupTableModal
        #storeProductMapProductLookupTableModal
        (modalSave)="getNewProductId()"
    ></storeProductMapProductLookupTableModal>
</div>
