<div class="row g-5 g-xl-8">
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-success card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-success fs-5 mb-3 d-block">Sales Hubs</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfHubs}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">Avarage</span> -->
                </div>
                <div class="progress h-7px bg-success bg-opacity-50 mt-7">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-warning card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-warning fs-5 mb-3 d-block">Live Stores</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfStores}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">48k Goal</span> -->
                </div>
                <div class="progress h-7px bg-warning bg-opacity-50 mt-7">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-primary card-xl-stretch mb-5 mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-primary fs-5 mb-3 d-block">Number Products</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfProducts}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">400k Impressions</span> -->
                </div>
                <div class="progress h-7px bg-primary bg-opacity-50 mt-7">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-primary card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-primary fs-5 mb-3 d-block">Users</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfUsers}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">Avarage</span> -->
                </div>
                <div class="progress h-7px bg-primary bg-opacity-50 mt-7">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-info card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-info fs-5 mb-3 d-block">Customer Repo</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfCustomerRepo}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">48k Goal</span> -->
                </div>
                <div class="progress h-7px bg-info bg-opacity-50 mt-7">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-danger card-xl-stretch mb-5 mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-danger fs-5 mb-3 d-block">Customer Success</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfB2BSuccess}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">400k Impressions</span> -->
                </div>
                <div class="progress h-7px bg-danger bg-opacity-50 mt-7">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-success card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-success fs-5 mb-3 d-block">B2B Customers Repo</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfB2BCustomerRepo}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">Avarage</span> -->
                </div>
                <div class="progress h-7px bg-success bg-opacity-50 mt-7">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-warning card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-warning fs-5 mb-3 d-block">B2B Success</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfB2BSuccess}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">48k Goal</span> -->
                </div>
                <div class="progress h-7px bg-warning bg-opacity-50 mt-7">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-primary card-xl-stretch mb-5 mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-primary fs-5 mb-3 d-block">Todays Orders</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.todaysOrders}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">400k Impressions</span> -->
                </div>
                <div class="progress h-7px bg-primary bg-opacity-50 mt-7">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-primary card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-primary fs-5 mb-3 d-block">Life Time Orders</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.numberOfOrders}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">Avarage</span> -->
                </div>
                <div class="progress h-7px bg-primary bg-opacity-50 mt-7">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-info card-xl-stretch mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-info fs-5 mb-3 d-block">Todays Sales</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.todaysSales}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">48k Goal</span> -->
                </div>
                <div class="progress h-7px bg-info bg-opacity-50 mt-7">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
    <div class="col-xl-3">
        <!--begin: Statistics Widget 6-->
        <div class="card bg-light-danger card-xl-stretch mb-5 mb-xl-8">
            <!--begin::Body-->
            <div class="card-body my-3">
                <a href="#" class="card-title fw-bold text-danger fs-5 mb-3 d-block">Life Time Sales</a>
                <div class="py-1">
                    <span class="text-dark fs-1 fw-bold me-2">{{CoreStatsData?.lifeTimeSales}}</span>
                    <!-- <span class="fw-semibold text-muted fs-7">400k Impressions</span> -->
                </div>
                <div class="progress h-7px bg-danger bg-opacity-50 mt-7">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <!--end:: Body-->
        </div>
        <!--end: Statistics Widget 6-->
    </div>
</div>