<div [@routerTransition]>
  
  
   <sub-header [title]="'BookingTimeslotSettings' | localize" [description]="'BookingTimeslotSettingsHeaderInfo' | localize">
             <div role="actions">
                 <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                
                 <button *ngIf="isGranted('Pages.BookingTimeslotSettings.Create')" (click)="createBookingTimeslotSetting()" 
                                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBookingTimeslotSetting")}}</button>
             </div>
            </sub-header>
    
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                
                                
        	<div class="my-3">                
                <div class="input-group mb-3">
                  <input [(ngModel)]="filterText" (ngModelChange)="getBookingTimeslotSettings()" name="filterText" autoFocus type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')">
                  <button class="btn btn-primary" type="submit" (click)="getBookingTimeslotSettings()"><i class="flaticon-search-1"></i></button>
                </div>
            </div>
        	
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         
						     </div>



							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="TimezoneIdFilter">{{l("TimezoneId")}}</label>
									<input type="text" class="form-control" id="TimezoneIdFilter" name="timezoneIdFilter" [(ngModel)]="timezoneIdFilter" (ngModelChange)="getBookingTimeslotSettings()">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
									<label class="form-label" for="MinStartDateFilter">{{l("StartDateRange")}}</label>
									<div class="input-group">
                                        
                                        <input class="form-control m-input" id="MinStartDateFilter" name="MinStartDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minStartDateFilter" (ngModelChange)="getBookingTimeslotSettings()">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxStartDateFilter" name="MaxStartDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxStartDateFilter" (ngModelChange)="getBookingTimeslotSettings()">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
									<label class="form-label" for="MinEndDateFilter">{{l("EndDateRange")}}</label>
									<div class="input-group">
                                        
                                        <input class="form-control m-input" id="MinEndDateFilter" name="MinEndDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minEndDateFilter" (ngModelChange)="getBookingTimeslotSettings()">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxEndDateFilter" name="MaxEndDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxEndDateFilter" (ngModelChange)="getBookingTimeslotSettings()">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="StartTimeFilter">{{l("StartTime")}}</label>
									<input type="text" class="form-control" id="StartTimeFilter" name="startTimeFilter" [(ngModel)]="startTimeFilter" (ngModelChange)="getBookingTimeslotSettings()">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="EndTimeFilter">{{l("EndTime")}}</label>
									<input type="text" class="form-control" id="EndTimeFilter" name="endTimeFilter" [(ngModel)]="endTimeFilter" (ngModelChange)="getBookingTimeslotSettings()">
								</div>
                            </div>	
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="PubliclyPublishedFilterSelect">{{l("PubliclyPublished")}}</label>
									<select class="form-select" name="PubliclyPublishedFilter" id="PubliclyPublishedFilterSelect" [(ngModel)]="publiclyPublishedFilter" (ngModelChange)="getBookingTimeslotSettings()">
									<option value="-1">{{l("All")}}</option>
									<option value="0">{{l("False")}}</option>
									<option value="1">{{l("True")}}</option>
									</select>
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="TermsAndPolicyFilter">{{l("TermsAndPolicy")}}</label>
									<input type="text" class="form-control" id="TermsAndPolicyFilter" name="termsAndPolicyFilter" [(ngModel)]="termsAndPolicyFilter" (ngModelChange)="getBookingTimeslotSettings()">
								</div>
                            </div>	
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="AutomaticOrManualApprovalFilterSelect">{{l("AutomaticOrManualApproval")}}</label>
									<select class="form-select" name="AutomaticOrManualApprovalFilter" id="AutomaticOrManualApprovalFilterSelect" [(ngModel)]="automaticOrManualApprovalFilter" (ngModelChange)="getBookingTimeslotSettings()">
									<option value="-1">{{l("All")}}</option>
									<option value="0">{{l("False")}}</option>
									<option value="1">{{l("True")}}</option>
									</select>
								</div>
                            </div>	
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="StoreTeamNotificationFilterSelect">{{l("StoreTeamNotification")}}</label>
									<select class="form-select" name="StoreTeamNotificationFilter" id="StoreTeamNotificationFilterSelect" [(ngModel)]="storeTeamNotificationFilter" (ngModelChange)="getBookingTimeslotSettings()">
									<option value="-1">{{l("All")}}</option>
									<option value="0">{{l("False")}}</option>
									<option value="1">{{l("True")}}</option>
									</select>
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
									<label class="form-label" for="MinCancellationDeadlineHoursFilter">{{l("MinMax")}} {{l("CancellationDeadlineHours")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinCancellationDeadlineHoursFilter" [(ngModel)]="minCancellationDeadlineHoursFilter" placeholder="{{l('MinValue')}}" name="minCancellationDeadlineHoursFilter" (ngModelChange)="getBookingTimeslotSettings()"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxCancellationDeadlineHoursFilter" placeholder="{{l('MaxValue')}}" name="maxCancellationDeadlineHoursFilter" (ngModelChange)="getBookingTimeslotSettings()"/>
									</div>
                                </div>
                            </div>


							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="StoreNameFilter">({{l("Store")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="StoreNameFilter" name="storeNameFilter" [(ngModel)]="storeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="ProductNameFilter">({{l("Product")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="ProductNameFilter" name="productNameFilter" [(ngModel)]="productNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="BookingTypeNameFilter">({{l("BookingType")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="BookingTypeNameFilter" name="bookingTypeNameFilter" [(ngModel)]="bookingTypeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="BookingStatusNameFilter">({{l("BookingStatus")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="BookingStatusNameFilter" name="bookingStatusNameFilter" [(ngModel)]="bookingStatusNameFilter">
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getBookingTimeslotSettings($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.BookingTimeslotSettings.Edit', 'Pages.BookingTimeslotSettings.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="storeFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="storeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="productFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="productName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="bookingTypeFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="bookingTypeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="bookingStatusFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="bookingStatusName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="timezoneId">
                                        {{l('TimezoneId')}}
                                        <p-sortIcon field="bookingTimeslotSetting.timezoneId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="startDate">
                                        {{l('StartDate')}}
                                        <p-sortIcon field="bookingTimeslotSetting.startDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endDate">
                                        {{l('EndDate')}}
                                        <p-sortIcon field="bookingTimeslotSetting.endDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="startTime">
                                        {{l('StartTime')}}
                                        <p-sortIcon field="bookingTimeslotSetting.startTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endTime">
                                        {{l('EndTime')}}
                                        <p-sortIcon field="bookingTimeslotSetting.endTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="publiclyPublished">
                                        {{l('PubliclyPublished')}}
                                        <p-sortIcon field="bookingTimeslotSetting.publiclyPublished"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="termsAndPolicy">
                                        {{l('TermsAndPolicy')}}
                                        <p-sortIcon field="bookingTimeslotSetting.termsAndPolicy"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="automaticOrManualApproval">
                                        {{l('AutomaticOrManualApproval')}}
                                        <p-sortIcon field="bookingTimeslotSetting.automaticOrManualApproval"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="storeTeamNotification">
                                        {{l('StoreTeamNotification')}}
                                        <p-sortIcon field="bookingTimeslotSetting.storeTeamNotification"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cancellationDeadlineHours">
                                        {{l('CancellationDeadlineHours')}}
                                        <p-sortIcon field="bookingTimeslotSetting.cancellationDeadlineHours"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.BookingTimeslotSettings.Edit', 'Pages.BookingTimeslotSettings.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewBookingTimeslotSettingModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.BookingTimeslotSettings.Edit')" class="dropdown-item"
														(click)="createOrEditBookingTimeslotSettingModal.show(record.bookingTimeslotSetting.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a class="dropdown-item" href="javascript:;" *ngIf="permission.isGranted('Pages.BookingTimeslotSettings.Delete')"
														(click)="deleteBookingTimeslotSetting(record.bookingTimeslotSetting)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.storeName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.productName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.bookingTypeName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.bookingStatusName}}
											</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('TimezoneId')}}</span>
											{{record.bookingTimeslotSetting.timezoneId}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('StartDate')}}</span>
                                        <span *ngIf="record.bookingTimeslotSetting.startDate">
											{{record.bookingTimeslotSetting.startDate |  luxonFormat:'F' }}
                                        </span>
                                        <span *ngIf="!record.bookingTimeslotSetting.startDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('EndDate')}}</span>
                                        <span *ngIf="record.bookingTimeslotSetting.endDate">
											{{record.bookingTimeslotSetting.endDate |  luxonFormat:'F' }}
                                        </span>
                                        <span *ngIf="!record.bookingTimeslotSetting.endDate">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('StartTime')}}</span>
											{{record.bookingTimeslotSetting.startTime}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('EndTime')}}</span>
											{{record.bookingTimeslotSetting.endTime}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('PubliclyPublished')}}</span>
                                        <div *ngIf="record.bookingTimeslotSetting.publiclyPublished" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
										<div *ngIf="!record.bookingTimeslotSetting.publiclyPublished" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('TermsAndPolicy')}}</span>
											{{record.bookingTimeslotSetting.termsAndPolicy}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('AutomaticOrManualApproval')}}</span>
                                        <div *ngIf="record.bookingTimeslotSetting.automaticOrManualApproval" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
										<div *ngIf="!record.bookingTimeslotSetting.automaticOrManualApproval" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('StoreTeamNotification')}}</span>
                                        <div *ngIf="record.bookingTimeslotSetting.storeTeamNotification" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
										<div *ngIf="!record.bookingTimeslotSetting.storeTeamNotification" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('CancellationDeadlineHours')}}</span>
											{{record.bookingTimeslotSetting.cancellationDeadlineHours}}
										</td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getBookingTimeslotSettings($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"    
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditBookingTimeslotSettingModal #createOrEditBookingTimeslotSettingModal (modalSave)="getBookingTimeslotSettings()"></createOrEditBookingTimeslotSettingModal>    
    <viewBookingTimeslotSettingModal #viewBookingTimeslotSettingModal></viewBookingTimeslotSettingModal>
    
  </div>
