<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #storeMasterTagSettingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="storeMasterTagSetting.id">{{ l('Store Data - Tags and Questions Answer Settings')
                            }}</span>
                        <span *ngIf="!storeMasterTagSetting.id">{{ l('Store Data - Tags and Questions Answer Settings')
                            }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">

                    <div class="w-100" *ngIf="isStoreTag">
                        <div class="my-5 p_filter">
                            <label class="form-label required" for="StoreTagSettingCategoryName">
                                Store Business Type
                            </label>
                            <p-dropdown [options]="storeTagSettingCategoryOptions" [filter]="true"
                                [virtualScroll]="true" placeholder="Select Store Category" [itemSize]="30"
                                name="storeBusinessTypeName" optionLabel="displayName" optionValue="id"
                                optionId="storeBusinessTypeId" [(ngModel)]="storeMasterTagSetting.storeTagSettingCategoryId"
                                filterBy="displayName" required [style]="{ width: '100%' }"></p-dropdown>
                        </div>

                        <div class="my-5 p_filter">
                            <label class="form-label" for="MasterTagCategoryName">{{ l('Store Tag Category') }}</label>
                            <p-dropdown [options]="masterTagCategoryOptions" [filter]="true" [virtualScroll]="true"
                                (onChange)="onMasterTagCategoryClick($event)" placeholder="Select Tag Category"
                                [itemSize]="30" name="displayName" optionLabel="displayName" optionId="id"
                                [(ngModel)]="selectedTagCategory" filterBy="displayName"
                                [style]="{ width: '100%' }"></p-dropdown>

                                <!-- <p-dropdown [options]="masterTagCategoryOptions" [filter]="true" [virtualScroll]="true"
                                placeholder="Select Tag Category" [itemSize]="30" name="displayName"
                                (onChange)="onMasterTagCategoryClick($event)" name="storeTagCategoryName"
                                optionLabel="displayName" optionValue="id" optionId="storeTagCategoryId"
                                [(ngModel)]="storeMasterTagSetting.masterTagCategoryId" filterBy="displayName"
                                [style]="{ width: '100%' }"></p-dropdown> -->
                        </div>

                        <div class="my-5">
                            <div class="d-flex flex-stack flex-grow-1">
                                <div class="fw-semibold tag_block_custom">
                                    <div class="fs-6">
                                        <div style="display: inline-block;" class="row w-100 pl-2">
                                            <span>
                                                <button type="button" class="btn btn-outline-brand btn-sm me-3">
                                                    <!-- <p-progressSpinner
                                                        *ngIf="loader_anim_show && (tags.id==loaderSelectedMasterTagId)"
                                                        [style]="{width: '19px', height: '19px', position:'absolute'}"
                                                        styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                        animationDuration=".5s">
                                                    </p-progressSpinner> -->
                                                    <i class="fas fa-plus mr-2"></i>
                                                    <!-- <i *ngIf="tags.isSelected" class="fas fa-check-circle mr-2"></i> -->
                                                    English
                                                </button>

                                                <button type="button" class="btn btn-outline-brand active btn-sm me-3">
                                                    <!-- <p-progressSpinner
                                                        *ngIf="loader_anim_show && (tags.id==loaderSelectedMasterTagId)"
                                                        [style]="{width: '19px', height: '19px', position:'absolute'}"
                                                        styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                        animationDuration=".5s">
                                                    </p-progressSpinner> -->
                                                    <!-- <i  class="fas fa-plus mr-2"></i> -->
                                                    <i class="fas fa-check-circle mr-2"></i>
                                                    Bangla
                                                </button>
                                                <button type="button" class="btn btn-outline-brand btn-sm me-3">
                                                    <!-- <p-progressSpinner
                                                        *ngIf="loader_anim_show && (tags.id==loaderSelectedMasterTagId)"
                                                        [style]="{width: '19px', height: '19px', position:'absolute'}"
                                                        styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                        animationDuration=".5s">
                                                    </p-progressSpinner> -->
                                                    <i class="fas fa-plus mr-2"></i>
                                                    <!-- <i *ngIf="tags.isSelected" class="fas fa-check-circle mr-2"></i> -->
                                                    Hindi
                                                </button>
                                                <button type="button" class="btn btn-outline-brand btn-sm me-3">
                                                    <!-- <p-progressSpinner
                                                        *ngIf="loader_anim_show && (tags.id==loaderSelectedMasterTagId)"
                                                        [style]="{width: '19px', height: '19px', position:'absolute'}"
                                                        styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                        animationDuration=".5s">
                                                    </p-progressSpinner> -->
                                                    <i class="fas fa-plus mr-2"></i>
                                                    <!-- <i *ngIf="tags.isSelected" class="fas fa-check-circle mr-2"></i> -->
                                                    French
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="my-5">
                            <label class="form-label required" for="StoreMasterTagSetting_CustomTagTitle">
                                Title - (Customize if needed)
                            </label>
                            <input type="text" #StoreMasterTagSetting_CustomTagTitle="ngModel"
                                id="StoreMasterTagSetting_CustomTagTitle" class="form-control"
                                [(ngModel)]="storeMasterTagSetting.customTagTitle" name="CustomTagTitle" minlength="1"
                                required maxlength="128" />
                            <validation-messages
                                [formCtrl]="StoreMasterTagSetting_CustomTagTitle"></validation-messages>
                        </div>
                    </div>


                    <div class="w-100" *ngIf="isStoreTagQuestion">
                        <div class="my-5 p_filter">
                            <label class="form-label required" for="StoreTagSettingCategoryName">
                                Store Business Type
                            </label>
                            <p-dropdown [options]="storeTagSettingCategoryOptions" [filter]="true"
                                [virtualScroll]="true" (onChange)="onStoreTagSettingCategoryClick($event)"
                                placeholder="Select Store Category" [itemSize]="30" name="displayName"
                                optionLabel="displayName" optionId="id" [(ngModel)]="selectedStoreTagSettingCategory"
                                filterBy="displayName" required [style]="{ width: '100%' }"></p-dropdown>
                        </div>

                        <div class="my-3">
                            <label class="form-label" for="StoreMasterTagSetting_CustomTagChatQuestion">
                                Tag Questions
                            </label>
                            <input type="text" #StoreMasterTagSetting_CustomTagChatQuestion="ngModel"
                                id="StoreMasterTagSetting_CustomTagChatQuestion" class="form-control"
                                [(ngModel)]="storeMasterTagSetting.customTagChatQuestion" name="CustomTagChatQuestion"
                                minlength="1" maxlength="512" />
                            <validation-messages
                                [formCtrl]="StoreMasterTagSetting_CustomTagChatQuestion"></validation-messages>
                        </div>
                        <div class="my-5">
                            <label class="form-label" for="StoreMasterTagSetting_AnswerTypeId">
                                {{ l('Tag Answer Type') }}
                            </label>
                            <select class="form-select" name="AnswerTypeId" id="StoreMasterTagSetting_AnswerTypeId"
                                [(ngModel)]="storeMasterTagSetting.answerTypeId">
                                <option value="-1">Select Answer Type</option>
                                <option *ngFor="let item of answerTypeOptions" value="{{item.value}}">{{item.label}}
                                </option>
                            </select>
                        </div>
                    </div>







                    <div class="my-5">
                        <label class="form-check form-check-custom form-check-solid">
                            <input id="StoreMasterTagSetting_DisplayPublic"
                                #StoreMasterTagSetting_DisplayPublic="ngModel" name="DisplayPublic"
                                [(ngModel)]="storeMasterTagSetting.displayPublic" type="checkbox"
                                class="form-check-input" />
                            <span class="form-check-label ms-3">
                                {{ l('Display on Store Public Profile') }}
                            </span>
                        </label>
                        <validation-messages [formCtrl]="StoreMasterTagSetting_DisplayPublic"></validation-messages>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue"
                        [disabled]="!storeMasterTagSettingForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <storeMasterTagSettingStoreTagSettingCategoryLookupTableModal
        #storeMasterTagSettingStoreTagSettingCategoryLookupTableModal (modalSave)="getNewStoreTagSettingCategoryId()">
    </storeMasterTagSettingStoreTagSettingCategoryLookupTableModal>
    <storeMasterTagSettingMasterTagCategoryLookupTableModal #storeMasterTagSettingMasterTagCategoryLookupTableModal
        (modalSave)="getNewMasterTagCategoryId()"></storeMasterTagSettingMasterTagCategoryLookupTableModal>
</div>