<div [@routerTransition]>
    <!-- <sub-header [title]="'Store Data - Tags and Questions Answer Settings' | localize" [description]="">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button *ngIf="isGranted('Pages.StoreMasterTagSettings.Create')" (click)="createStoreMasterTagSetting()"
                class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                {{ l('Tags and Questions Answer Settings') }}
            </button>
        </div>
    </sub-header> -->

    <div class="w-100 d-flex mb-6 ps-9 pe-9 mt-6 justify-content-between align-items-center ng-tns-c282-7">
        <div class="d-flex align-items-center">
            <h1 class="fs-3 fw-bold  my-0 page-heading text-dark me-6">
                Settings for Store Tag & Question
            </h1>
            <div class="p_filter me-6">
                <!-- <p-dropdown [options]="storeTagSettingCategoryOptions" [filter]="true" [virtualScroll]="true"
                    (onChange)="onStoreTagSettingCategoryClick($event)" placeholder="Select Store Category"
                    [itemSize]="30" name="storeTagSettingCategoryName" optionLabel="displayName" optionId="id"
                    [(ngModel)]="selectedStoreTagSettingCategoryId.id" filterBy="displayName" required
                    [style]="{ width: '100%' }"></p-dropdown> -->

                <p-dropdown [options]="storeTagSettingCategoryOptions" [filter]="true" [virtualScroll]="true"
                    placeholder="Select Store Category" [itemSize]="30" name="storeBusinessTypeName" (onChange)="onStoreTagSettingCategoryClick($event)"
                    optionLabel="displayName" optionValue="id" optionId="storeBusinessTypeId"
                    [(ngModel)]="storeMasterTagSetting.storeTagSettingCategoryId" filterBy="displayName" required
                    [style]="{ width: '100%' }"></p-dropdown>
            </div>
            <button class="btn btn-primary btn-sm">
                Total <span class="badge badge-circle badge-success ms-2">{{primengTableHelper.totalRecordsCount}}</span>
            </button>
        </div>
        <div>
            <button *ngIf="isGranted('Pages.ProductNotes.Create')" (click)="createStoreMasterTagSettingStoreTags()"
                class="btn btn-primary blue me-3">
                <i class="fa fa-plus"></i>
                Add Tags
            </button>
            <button *ngIf="isGranted('Pages.ProductNotes.Create')"
                (click)="createStoreMasterTagSettingStoreTagsQuestions()" class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                Add Question
            </button>
        </div>
    </div>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="filterText" (ngModelChange)="getStoreMasterTagSettings()"
                                            name="filterText" autoFocus type="text" class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')" />
                                        <button class="btn btn-primary" type="submit"
                                            (click)="getStoreMasterTagSettings()">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CustomTagTitleFilter">
                                        {{ l('Title') }}
                                    </label>
                                    <input type="text" class="form-control" id="CustomTagTitleFilter"
                                        name="customTagTitleFilter" [(ngModel)]="customTagTitleFilter"
                                        (ngModelChange)="getStoreMasterTagSettings()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CustomTagChatQuestionFilter">
                                        {{ l('Tag Questions') }}
                                    </label>
                                    <input type="text" class="form-control" id="CustomTagChatQuestionFilter"
                                        name="customTagChatQuestionFilter" [(ngModel)]="customTagChatQuestionFilter"
                                        (ngModelChange)="getStoreMasterTagSettings()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="DisplayPublicFilterSelect">
                                        {{ l('Display Public') }}
                                    </label>
                                    <select class="form-select" name="DisplayPublicFilter"
                                        id="DisplayPublicFilterSelect" [(ngModel)]="displayPublicFilter"
                                        (ngModelChange)="getStoreMasterTagSettings()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('No') }}</option>
                                        <option value="1">{{ l('Yes') }}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinDisplaySequenceFilter">
                                        {{ l('MinMax') }} {{ l('DisplaySequence') }}
                                    </label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDisplaySequenceFilter"
                                            [(ngModel)]="minDisplaySequenceFilter" placeholder="{{ l('MinValue') }}"
                                            name="minDisplaySequenceFilter"
                                            (ngModelChange)="getStoreMasterTagSettings()" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDisplaySequenceFilter"
                                            placeholder="{{ l('MaxValue') }}" name="maxDisplaySequenceFilter"
                                            (ngModelChange)="getStoreMasterTagSettings()" />
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="AnswerTypeIdFilterSelect">
                                        {{ l('Answer Type') }}
                                    </label>
                                    <select class="form-select" name="AnswerTypeIdFilter" id="AnswerTypeIdFilterSelect"
                                        [(ngModel)]="answerTypeIdFilter" (ngModelChange)="getStoreMasterTagSettings()">
                                        <option value="-1">{{ l('All') }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="StoreTagSettingCategoryNameFilter">
                                        Store Type Tag Category
                                    </label>
                                    <input type="text" class="form-control" id="StoreTagSettingCategoryNameFilter"
                                        name="storeTagSettingCategoryNameFilter"
                                        [(ngModel)]="storeTagSettingCategoryNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MasterTagCategoryNameFilter">
                                        Store Tag Category
                                    </label>
                                    <input type="text" class="form-control" id="MasterTagCategoryNameFilter"
                                        name="masterTagCategoryNameFilter" [(ngModel)]="masterTagCategoryNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getStoreMasterTagSettings($event)" cdkDropList
                            class="example-list" (cdkDropListDropped)="drop($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <div class="card drag_drop_card mb-6">
                                    <div class="card-body p-0">
                                        <div cdkDrag
                                            class="example-box notice align-items-start d-flex bg-light-primary rounded border-primary border border-dashed p-6">
                                            <span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
                                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.3"
                                                        d="M8.9 21L7.19999 22.6999C6.79999 23.0999 6.2 23.0999 5.8 22.6999L4.1 21H8.9ZM4 16.0999L2.3 17.8C1.9 18.2 1.9 18.7999 2.3 19.1999L4 20.9V16.0999ZM19.3 9.1999L15.8 5.6999C15.4 5.2999 14.8 5.2999 14.4 5.6999L9 11.0999V21L19.3 10.6999C19.7 10.2999 19.7 9.5999 19.3 9.1999Z"
                                                        fill="currentColor" />
                                                    <path
                                                        d="M21 15V20C21 20.6 20.6 21 20 21H11.8L18.8 14H20C20.6 14 21 14.4 21 15ZM10 21V4C10 3.4 9.6 3 9 3H4C3.4 3 3 3.4 3 4V21C3 21.6 3.4 22 4 22H9C9.6 22 10 21.6 10 21ZM7.5 18.5C7.5 19.1 7.1 19.5 6.5 19.5C5.9 19.5 5.5 19.1 5.5 18.5C5.5 17.9 5.9 17.5 6.5 17.5C7.1 17.5 7.5 17.9 7.5 18.5Z"
                                                        fill="currentColor" />
                                                </svg>
                                            </span>
                                            <div class="d-flex flex-stack flex-grow-1">
                                                <div class="fw-semibold tag_block_custom">
                                                    <h4 *ngIf="!record.storeMasterTagSetting.customTagChatQuestion"
                                                        class="text-gray-600 fw-bold d-flex justify-content-between align-items-center">
                                                        {{record.masterTagCategoryName}}
                                                        <span class="d-flex align-items-center">
                                                            <span class="me-4 cursor-move">
                                                                <i class="fa-solid fa-bars fs-1 me-4 text-primary"></i>
                                                            </span>
                                                        </span>
                                                    </h4>
                                                    <h4 *ngIf="record.storeMasterTagSetting.customTagChatQuestion"
                                                        class="text-gray-600 fw-bold d-flex justify-content-between align-items-center">
                                                        {{record.storeMasterTagSetting.customTagChatQuestion}}
                                                        <span class="d-flex align-items-center">
                                                            <span class="me-4 cursor-move">
                                                                <i class="fa-solid fa-bars fs-1 me-4 text-primary"></i>
                                                            </span>
                                                        </span>
                                                    </h4>
                                                    <div class="fs-6">
                                                        <div *ngIf="!record.storeMasterTagSetting.customTagChatQuestion" style="display: inline-block;" class="row w-100 pl-2">
                                                            <span *ngFor="let item of record.masterTags">
                                                                <button type="button"
                                                                    class="btn btn-outline-brand btn-sm">
                                                                    <i class="fas fa-eye mr-2"></i>
                                                                    {{item.name}}
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <div *ngIf="record.storeMasterTagSetting.customTagChatQuestion" style="display: inline-block;" class="row w-100 pl-2">
                                                            <div>
                                                                Answer Type: {{ getAnswerTypeString(record.storeMasterTagSetting.answerTypeId) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <tr>
                                    <td style="width: 200px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.storeTagSettingCategoryName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.masterTagCategoryName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('CustomTagTitle') }}</span>
                                        {{ record.storeMasterTagSetting.customTagTitle }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('CustomTagChatQuestion') }}</span>
                                        {{ record.storeMasterTagSetting.customTagChatQuestion }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('AnswerTypeId') }}</span>
                                        {{ l(answerType[record.storeMasterTagSetting.answerTypeId]) }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplayPublic') }}</span>
                                        <div *ngIf="record.storeMasterTagSetting.displayPublic">
                                            <span class="badge badge-primary badge">Yes</span>
                                        </div>
                                        <div *ngIf="!record.storeMasterTagSetting.displayPublic">
                                            <span class="badge badge-danger badge">No</span>
                                        </div>
                                    </td>
                                    <td style="width: 130px" [hidden]="
                                            !isGrantedAny(
                                                'Pages.StoreMasterTagSettings.Edit',
                                                'Pages.StoreMasterTagSettings.Delete'
                                            )">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" *ngIf="
                                                            permission.isGranted('Pages.StoreMasterTagSettings.Edit')
                                                        " class="dropdown-item" (click)="
                                                            createOrEditStoreMasterTagSettingModal.show(
                                                                record.storeMasterTagSetting.id
                                                            )
                                                        ">
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:;" *ngIf="
                                                            permission.isGranted('Pages.StoreMasterTagSettings.Delete')
                                                        " (click)="
                                                            deleteStoreMasterTagSetting(record.storeMasterTagSetting)
                                                        ">
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> -->
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getStoreMasterTagSettings($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditStoreMasterTagSettingModal #createOrEditStoreMasterTagSettingModal
        (modalSave)="getStoreMasterTagSettings()"></createOrEditStoreMasterTagSettingModal>
    <viewStoreMasterTagSettingModal #viewStoreMasterTagSettingModal></viewStoreMasterTagSettingModal>
</div>