<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contactEducationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="contactEducation.id">{{l("EditContactEducation")}}</span>
                        <span *ngIf="!contactEducation.id">{{l("CreateNewContactEducation")}}</span>
                    </h4>                    
                    
                    
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
                </div>
                <div class="modal-body">
                 


					<div class="my-3">
                        <label class="form-label" for="ContactFullName">{{l("Contact")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ContactFullName" name="contactFullName" [(ngModel)]="contactFullName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectContactModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setContactIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="contactEducation.contactId" [(ngModel)]="contactEducation.contactId" type="text" required hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="EmployeeName">{{l("Employee")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="EmployeeName" name="employeeName" [(ngModel)]="employeeName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectEmployeeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setVerifiedByEmployeeIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="contactEducation.verifiedByEmployeeId" [(ngModel)]="contactEducation.verifiedByEmployeeId" type="text"  hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="BusinessName">{{l("Business")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="BusinessName" name="businessName" [(ngModel)]="businessName" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectBusinessModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setInstituteBusinessIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="contactEducation.instituteBusinessId" [(ngModel)]="contactEducation.instituteBusinessId" type="text"  hidden>
                        
					<div class="my-3">
                        <label class="form-label" for="ContactDocumentDocumentTitle">{{l("ContactDocument")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ContactDocumentDocumentTitle" name="contactDocumentDocumentTitle" [(ngModel)]="contactDocumentDocumentTitle" type="text" disabled>     
                            <button class="btn btn-primary blue" (click)="openSelectContactDocumentModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setUploadedCertificateIdNull()"><i class="fa fa-times"></i></button>                            
                        </div>
                    </div>
                    <input class="form-control" name="contactEducation.uploadedCertificateId" [(ngModel)]="contactEducation.uploadedCertificateId" type="text"  hidden>
                        


								<div class="my-3">
									<label class="form-label" for="ContactEducation_Name">{{l("Name")}} *</label>
									<input type="text" #ContactEducation_Name="ngModel" id="ContactEducation_Name" class="form-control" [(ngModel)]="contactEducation.name" name="Name"   minlength="1"  maxlength="512"  required/>
								    <validation-messages [formCtrl]="ContactEducation_Name"></validation-messages>
								</div>
					
								<br/>
								<label class="form-check form-check-custom form-check-solid">
                                    <input
                                        id="ContactEducation_HighestDegree" 
                                        #ContactEducation_HighestDegree="ngModel"
                                        name="HighestDegree" 
                                        [(ngModel)]="contactEducation.highestDegree"
                                        type="checkbox"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{l("HighestDegree")}}
                                    </span>
                                </label>
                                <validation-messages [formCtrl]="ContactEducation_HighestDegree"></validation-messages>
					
								<div class="my-3">
									<label class="form-label" for="ContactEducation_InstituteName">{{l("InstituteName")}}</label>
									<input type="text" #ContactEducation_InstituteName="ngModel" id="ContactEducation_InstituteName" class="form-control" [(ngModel)]="contactEducation.instituteName" name="InstituteName"   minlength="1"  maxlength="2048" />
								    <validation-messages [formCtrl]="ContactEducation_InstituteName"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="ContactEducation_MajorOrMinorDegreeSubject">{{l("MajorOrMinorDegreeSubject")}}</label>
									<input type="text" #ContactEducation_MajorOrMinorDegreeSubject="ngModel" id="ContactEducation_MajorOrMinorDegreeSubject" class="form-control" [(ngModel)]="contactEducation.majorOrMinorDegreeSubject" name="MajorOrMinorDegreeSubject"   minlength="1"  maxlength="256" />
								    <validation-messages [formCtrl]="ContactEducation_MajorOrMinorDegreeSubject"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="ContactEducation_StartDate">{{l("StartDate")}}</label>
									 <input class="form-control m-input" #ContactEducation_StartDate type="datetime" bsDatepicker  datePickerLuxonModifier  [(date)]="contactEducation.startDate" id="ContactEducation_StartDate" name="ContactEducation_StartDate">
									<validation-messages [formCtrl]="ContactEducation_StartDate"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="ContactEducation_EndDate">{{l("EndDate")}}</label>
									 <input class="form-control m-input" #ContactEducation_EndDate type="datetime" bsDatepicker  datePickerLuxonModifier  [(date)]="contactEducation.endDate" id="ContactEducation_EndDate" name="ContactEducation_EndDate">
									<validation-messages [formCtrl]="ContactEducation_EndDate"></validation-messages>
								</div>
					
								<div class="my5">
									<label class="form-label" for="ContactEducation_PassingGpa">{{l("PassingGpa")}}</label>
									<input type="number" #ContactEducation_PassingGpa="ngModel" id="ContactEducation_PassingGpa" class="form-control" [(ngModel)]="contactEducation.passingGpa" name="PassingGpa"    />
									<validation-messages [formCtrl]="ContactEducation_PassingGpa"></validation-messages>
								</div>
					
								<div class="my-3">
									<label class="form-label" for="ContactEducation_Location">{{l("Location")}}</label>
									<input type="text" #ContactEducation_Location="ngModel" id="ContactEducation_Location" class="form-control" [(ngModel)]="contactEducation.location" name="Location"   minlength="1"  maxlength="1024" />
								    <validation-messages [formCtrl]="ContactEducation_Location"></validation-messages>
								</div>
					
								<br/>
								<label class="form-check form-check-custom form-check-solid">
                                    <input
                                        id="ContactEducation_Verified" 
                                        #ContactEducation_Verified="ngModel"
                                        name="Verified" 
                                        [(ngModel)]="contactEducation.verified"
                                        type="checkbox"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{l("Verified")}}
                                    </span>
                                </label>
                                <validation-messages [formCtrl]="ContactEducation_Verified"></validation-messages>
					
								<br/>
								<label class="form-check form-check-custom form-check-solid">
                                    <input
                                        id="ContactEducation_ThumbsUpDown" 
                                        #ContactEducation_ThumbsUpDown="ngModel"
                                        name="ThumbsUpDown" 
                                        [(ngModel)]="contactEducation.thumbsUpDown"
                                        type="checkbox"
                                        class="form-check-input"
                                    />
                                    <span class="form-check-label">
                                        {{l("ThumbsUpDown")}}
                                    </span>
                                </label>
                                <validation-messages [formCtrl]="ContactEducation_ThumbsUpDown"></validation-messages>
					
								<div class="my-3">
									<label class="form-label" for="ContactEducation_InternalNotes">{{l("InternalNotes")}}</label>
									<input type="text" #ContactEducation_InternalNotes="ngModel" id="ContactEducation_InternalNotes" class="form-control" [(ngModel)]="contactEducation.internalNotes" name="InternalNotes"    />
								    <validation-messages [formCtrl]="ContactEducation_InternalNotes"></validation-messages>
								</div>
					
								<div class="my5">
									<label class="form-label" for="ContactEducation_DisplaySequence">{{l("DisplaySequence")}}</label>
									<input type="number" #ContactEducation_DisplaySequence="ngModel" id="ContactEducation_DisplaySequence" class="form-control" [(ngModel)]="contactEducation.displaySequence" name="DisplaySequence"    />
									<validation-messages [formCtrl]="ContactEducation_DisplaySequence"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!contactEducationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<contactEducationContactLookupTableModal #contactEducationContactLookupTableModal (modalSave)="getNewContactId()"></contactEducationContactLookupTableModal>
		 <contactEducationEmployeeLookupTableModal #contactEducationEmployeeLookupTableModal (modalSave)="getNewVerifiedByEmployeeId()"></contactEducationEmployeeLookupTableModal>
		 <contactEducationBusinessLookupTableModal #contactEducationBusinessLookupTableModal (modalSave)="getNewInstituteBusinessId()"></contactEducationBusinessLookupTableModal>
		 <contactEducationContactDocumentLookupTableModal #contactEducationContactDocumentLookupTableModal (modalSave)="getNewUploadedCertificateId()"></contactEducationContactDocumentLookupTableModal>
		 
</div>