<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button
                    type="button"
                    class="btn-close"
                    (click)="close()"
                    aria-label="Close"
                    [disabled]="saving"
                ></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('ReplyText') }} :</h6>
                        {{ item.storeReviewFeedback.replyText }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('IsPublished') }} :</h6>
                        <div *ngIf="item.storeReviewFeedback.isPublished" class="text-left">
                            <i class="fa fa-check-circle text-success" title="True"></i>
                        </div>
                        <div *ngIf="!item.storeReviewFeedback.isPublished" class="text-left">
                            <i class="fa fa-times-circle" title="False"></i>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('StoreReview') }}) {{ l('ReviewInfo') }} :</h6>
                        {{ item.storeReviewReviewInfo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('Contact') }}) {{ l('FullName') }} :</h6>
                        {{ item.contactFullName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('RatingLike') }}) {{ l('Name') }} :</h6>
                        {{ item.ratingLikeName }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
