<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>               
                
                
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("JobTitle")}} :</h6>
                        {{ item.contactExperience.jobTitle }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Current")}} :</h6>
                        <div *ngIf="item.contactExperience.current" class="text-left"><i class="fa fa-check-circle text-success"
                                title="True"></i></div>
                        <div *ngIf="!item.contactExperience.current" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("EmployerName")}} :</h6>
                        {{ item.contactExperience.employerName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EmployerWebsite")}} :</h6>
                        {{ item.contactExperience.employerWebsite }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Location")}} :</h6>
                        {{ item.contactExperience.location }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("StartDate")}} :</h6>
                        {{ item.contactExperience.startDate |  luxonFormat:'yyyy-LL-dd HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EndDate")}} :</h6>
                        {{ item.contactExperience.endDate |  luxonFormat:'yyyy-LL-dd HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("JobDescription")}} :</h6>
                        {{ item.contactExperience.jobDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Verified")}} :</h6>
                        <div *ngIf="item.contactExperience.verified" class="text-left"><i class="fa fa-check-circle text-success"
                                title="True"></i></div>
                        <div *ngIf="!item.contactExperience.verified" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("ThumbsUpDown")}} :</h6>
                        <div *ngIf="item.contactExperience.thumbsUpDown" class="text-left"><i class="fa fa-check-circle text-success"
                                title="True"></i></div>
                        <div *ngIf="!item.contactExperience.thumbsUpDown" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("InternalNotes")}} :</h6>
                        {{ item.contactExperience.internalNotes }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("GrossSalary")}} :</h6>
                        {{ item.contactExperience.grossSalary }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DisplaySequence")}} :</h6>
                        {{ item.contactExperience.displaySequence }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("Contact")}}) {{l("FullName")}} :</h6>
                        {{item.contactFullName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Employee")}}) {{l("Name")}} :</h6>
                        {{item.employeeName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Business")}}) {{l("Name")}} :</h6>
                        {{item.businessName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Currency")}}) {{l("Name")}} :</h6>
                        {{item.currencyName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
