<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #productCategoryVariantMapForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productCategoryVariantMap.id">{{ l('EditProductCategoryVariantMap') }}</span>
                        <span *ngIf="!productCategoryVariantMap.id">{{ l('CreateNewProductCategoryVariantMap') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3" *ngIf="!productCategoryIdFilter">
                        <label class="form-label" for="ProductCategoryName">{{ l('ProductCategory') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ProductCategoryName"
                                name="productCategoryName"
                                [(ngModel)]="productCategoryName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectProductCategoryModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setProductCategoryIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productCategoryVariantMap.productCategoryId"
                        [(ngModel)]="productCategoryVariantMap.productCategoryId"
                        type="text"
                        
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="ProductVariantCategoryName">
                            {{ l('ProductVariantCategory') }}
                        </label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ProductVariantCategoryName"
                                name="productVariantCategoryName"
                                [(ngModel)]="productVariantCategoryName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectProductVariantCategoryModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button
                                class="btn btn-danger btn-icon"
                                type="button"
                                (click)="setProductVariantCategoryIdNull()"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productCategoryVariantMap.productVariantCategoryId"
                        [(ngModel)]="productCategoryVariantMap.productVariantCategoryId"
                        type="text"
                        required
                        hidden
                    />
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!productCategoryVariantMapForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <productCategoryVariantMapProductCategoryLookupTableModal
        #productCategoryVariantMapProductCategoryLookupTableModal
        (modalSave)="getNewProductCategoryId()"
    ></productCategoryVariantMapProductCategoryLookupTableModal>
    <productCategoryVariantMapProductVariantCategoryLookupTableModal
        #productCategoryVariantMapProductVariantCategoryLookupTableModal
        (modalSave)="getNewProductVariantCategoryId()"
    ></productCategoryVariantMapProductVariantCategoryLookupTableModal>
</div>
