<div [@routerTransition]>
    <sub-header [title]="'Teams' | localize" [description]="getTotalcount(primengTableHelper.totalRecordsCount)">
        
        <div role="actions">


            <button
                *ngIf="isGranted('Pages.ProductCategoryTeams.Create')"
                (click)="createProductCategoryTeam()"
                class="btn btn-primary blue"
            >
                <i class="fa fa-plus"></i>
                Team
            </button>
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <!-- <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input
                                            [(ngModel)]="filterText"
                                            (ngModelChange)="getProductCategoryTeams()"
                                            name="filterText"
                                            autoFocus
                                            type="text"
                                            class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')"
                                        />
                                        <button
                                            class="btn btn-primary"
                                            type="submit"
                                            (click)="getProductCategoryTeams()"
                                        >
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="PrimaryFilterSelect">{{ l('Primary') }}</label>
                                    <select
                                        class="form-select"
                                        name="PrimaryFilter"
                                        id="PrimaryFilterSelect"
                                        [(ngModel)]="primaryFilter"
                                        (ngModelChange)="getProductCategoryTeams()"
                                    >
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('False') }}</option>
                                        <option value="1">{{ l('True') }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ProductCategoryNameFilter">
                                        ({{ l('ProductCategory') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="ProductCategoryNameFilter"
                                        name="productCategoryNameFilter"
                                        [(ngModel)]="productCategoryNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="EmployeeNameFilter">
                                        ({{ l('Employee') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="EmployeeNameFilter"
                                        name="employeeNameFilter"
                                        [(ngModel)]="employeeNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button
                                    (click)="resetFilters()"
                                    class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters"
                                >
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form> -->

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <!-- <p-table
                            #dataTable
                            (onLazyLoad)="getProductCategoryTeams($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.ProductCategoryTeams.Edit',
                                                'Pages.ProductCategoryTeams.Delete'
                                            )
                                        "
                                    >
                                        {{ l('Actions') }}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="productCategoryFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="productCategoryName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="employeeFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="employeeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="primary">
                                        {{ l('Primary') }}
                                        <p-sortIcon field="productCategoryTeam.primary"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.ProductCategoryTeams.Edit',
                                                'Pages.ProductCategoryTeams.Delete'
                                            )
                                        "
                                    >
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item"
                                                        (click)="viewProductCategoryTeamModal.show(record)"
                                                    >
                                                        {{ l('View') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.ProductCategoryTeams.Edit')"
                                                        class="dropdown-item"
                                                        (click)="
                                                            createOrEditProductCategoryTeamModal.show(
                                                                record.productCategoryTeam.id
                                                            )
                                                        "
                                                    >
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="javascript:;"
                                                        *ngIf="
                                                            permission.isGranted('Pages.ProductCategoryTeams.Delete')
                                                        "
                                                        (click)="deleteProductCategoryTeam(record.productCategoryTeam)"
                                                    >
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.productCategoryName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.employeeName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Primary') }}</span>
                                        <div *ngIf="record.productCategoryTeam.primary" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.productCategoryTeam.primary" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table> -->
                        <div class="col-xl-6" *ngFor="let record of primengTableHelper.records">
                            <div class="w-100 p-5 border-1 border-dashed rounded border-gray-300">
                                <div class="d-flex justify-content-between align-baseline">
                                    <div class="d-flex gap-7 align-items-center">
                                        <div class="symbol symbol-circle symbol-100px">
                                            <img *ngIf ="record.employeePicture" alt="Pic" src="{{record.employeePicture}}">
                                            <img *ngIf ="!record.employeePicture" src="assets/common/images/default-profile-picture.png"
                                                alt="image">
                                        </div>
                                        <div class="d-flex flex-column gap-2">
                                            <h3 class="mb-0">{{record.employeeName}}</h3>
                                            <div class="d-flex align-items-center gap-2" *ngIf="record?.jobTitle">
                                                <span class="svg-icon svg-icon-2">
                                                    <i class="fas fa-store-alt"></i>
                                                </span>
                                               <a href="javascript:;"
                                                    class="text-muted text-hover-primary">
                                                    {{record?.jobTitle}}
                                                </a> 
                                            </div>
                                            <div class="d-flex align-items-center gap-2" *ngIf="record?.personalEmail">
                                                <span class="svg-icon svg-icon-2">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path opacity="0.3"
                                                            d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                 <a href="#"
                                                    class="text-muted text-hover-primary">{{record?.personalEmail}}</a>
                                            </div>
                                            <div class="d-flex align-items-center gap-2" *ngIf="record?.mobile">
                                                <span class="svg-icon svg-icon-2">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M5 20H19V21C19 21.6 18.6 22 18 22H6C5.4 22 5 21.6 5 21V20ZM19 3C19 2.4 18.6 2 18 2H6C5.4 2 5 2.4 5 3V4H19V3Z"
                                                            fill="currentColor"></path>
                                                        <path opacity="0.3" d="M19 4H5V20H19V4Z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <a href="javascript:;"
                                                    class="text-muted text-hover-primary">{{record?.mobile }}</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-toolbar gap-3">
                                        <button class="btn btn-sm btn-light btn-active-light-primary"
                                            data-kt-drawer-show="true"
                                            data-kt-drawer-target="#kt_drawer_chat" *ngIf="permission.isGranted('Pages.ProductCategoryTeams.Edit')"
                                            (click)="createOrEditProductCategoryTeamModal.show(record.productCategoryTeam.id)"
                                            class="kt-nav__link">
                                            <span class="svg-icon svg-icon-2">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </button>
                                        <a href="javascript:;"
                                            class="btn btn-sm btn-light btn-active-light-primary"
                                            *ngIf="permission.isGranted('Pages.ProductCategoryTeams.Delete')"
                                            (click)="deleteProductCategoryTeam(record.productCategoryTeam)">
                                            <span class="svg-icon svg-icon-2">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <!--end::Item-->
                                <!-- <div class="separator separator-dashed my-5"></div> -->
                                <!--begin::Item-->
                                <!-- <div class="w-100">
                                    <span class="fw-light text-gray-400">
                                        Jornalists call this critical, introductory section the
                                        "Lede," and when bridge properly executed, it's the that
                                        carries your reader from an headine try at
                                        attention-grabbing to the body of your blog post, if you
                                        want to get it right on of these 10 clever ways to omen
                                        your next blog posr with a bang
                                    </span>
                                </div> -->
                            </div>
                        </div>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <!-- <div class="primeng-paging-container">
                            <p-paginator
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #paginator
                                (onPageChange)="getProductCategoryTeams($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "
                            ></p-paginator>
                        </div> -->
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditProductCategoryTeamModal
        #createOrEditProductCategoryTeamModal
        (modalSave)="getProductCategoryTeams()"
    ></createOrEditProductCategoryTeamModal>
    <viewProductCategoryTeamModal #viewProductCategoryTeamModal></viewProductCategoryTeamModal>
</div>
