<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productCrossSellProductForm="ngForm" novalidate (ngSubmit)="save()"
                autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productCrossSellProduct.id">{{ l('EditProductCrossSellProduct') }}</span>
                        <span *ngIf="!productCrossSellProduct.id">{{ l('CreateNewProductCrossSellProduct') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="ProductName">{{ l('Cross Sale Product') }}</label>
                        <div class="input-group">
                            <input class="form-control" id="ProductName" name="productName" [(ngModel)]="productName"
                                type="text" disabled />
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setPrimaryProductIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input class="form-control" name="productCrossSellProduct.crossProductId"
                        [(ngModel)]="productCrossSellProduct.crossProductId" type="text" required hidden />

                    

                    <div class="my-5">
                        <label class="form-label" for="ProductCrossSellProduct_CrossSellScore">
                            {{ l('Cross Sell Score') }}
                        </label>
                        <input type="number" #ProductCrossSellProduct_CrossSellScore="ngModel"
                            id="ProductCrossSellProduct_CrossSellScore" class="form-control"
                            [(ngModel)]="productCrossSellProduct.crossSellScore" name="CrossSellScore" />
                        <validation-messages [formCtrl]="ProductCrossSellProduct_CrossSellScore"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue"
                        [disabled]="!productCrossSellProductForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <productCrossSellProductProductLookupTableModal #productCrossSellProductProductLookupTableModal
        (modalSave)="getNewPrimaryProductId()"></productCrossSellProductProductLookupTableModal>
</div>