<div [@routerTransition]>
    <!-- <sub-header [title]="'HubStores' | localize" [description]="'HubStoresHeaderInfo' | localize">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button *ngIf="isGranted('Pages.HubStores.Create')" (click)="createHubStore()" class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                {{ l('CreateNewHubStore') }}
            </button>
        </div>
    </sub-header> -->
    <div class="w-100 d-flex mb-6 mt-6 justify-content-between align-items-center">
        <div class="d-flex">
            <h1 class="fs-3 fw-bold  my-0 page-heading text-dark">
                Store List
            </h1>
            <span style="cursor: pointer;" class="badge badge-primary badge ms-2">
                Total: {{primengTableHelper.totalRecordsCount}}
            </span>
        </div>
        <button *ngIf="isGranted('Pages.HubStores.Create')" (click)="createHubStore()" class="btn btn-primary blue">
            <i class="fa fa-plus"></i>
            {{ l('Store') }}
        </button>
    </div>

    <div class="w-100">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="filterText" (ngModelChange)="getHubStores()"
                                            name="filterText" autoFocus type="text" class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')" />
                                        <button class="btn btn-primary" type="submit" (click)="getHubStores()">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="PublishedFilterSelect">{{ l('Published') }}</label>
                                    <select class="form-select" name="PublishedFilter" id="PublishedFilterSelect"
                                        [(ngModel)]="publishedFilter" (ngModelChange)="getHubStores()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('No') }}</option>
                                        <option value="1">{{ l('Yes') }}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinDisplaySequenceFilter">
                                        {{ l('MinMax') }} {{ l('DisplaySequence') }}
                                    </label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDisplaySequenceFilter"
                                            [(ngModel)]="minDisplaySequenceFilter" placeholder="{{ l('MinValue') }}"
                                            name="minDisplaySequenceFilter" (ngModelChange)="getHubStores()" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDisplaySequenceFilter"
                                            placeholder="{{ l('MaxValue') }}" name="maxDisplaySequenceFilter"
                                            (ngModelChange)="getHubStores()" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="HubNameFilter">
                                        ({{ l('Hub') }}) {{ l('Name') }}
                                    </label>
                                    <input type="text" class="form-control" id="HubNameFilter" name="hubNameFilter"
                                        [(ngModel)]="hubNameFilter" />
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="StoreNameFilter">
                                        Store
                                    </label>
                                    <input type="text" class="form-control" id="StoreNameFilter" name="storeNameFilter"
                                        [(ngModel)]="storeNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getHubStores($event)" [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:30px; text-align: center;">
                                        <label
                                            class="form-check form-check-custom form-check-inline form-check-solid is-invalid">
                                            <input class="form-check-input" (change)="onChangesSelectAll()"
                                                [(ngModel)]="selectedAll" type="checkbox">
                                            <span class="fw-semibold ps-2 fs-6">
                                            </span>
                                        </label>
                                    </th>
                                    <th style="width: 45px;">
                                    </th>
                                    <th style="width: 420px">
                                        {{l('Name')}}
                                    </th>
                                    <th style="width: 180px;">
                                        {{l('Mobile')}}
                                    </th>
                                    <th style="width: 220px;">
                                        {{l('Email')}}
                                    </th>
                                    <th style="width: 90px; text-align:center">
                                        {{l('Connect')}}
                                    </th>
                                    <th style="width: 150px;text-align: center;">
                                        {{l('#Product')}}
                                    </th>
                                    <th style="width: 150px; text-align: center; ">
                                        {{l('Published')}}
                                    </th>
                                    <th style="width: 150px; text-align: center;">
                                        {{l('Verified')}}
                                    </th>
                                    <th style="width: 120px" pSortableColumn="displaySequence">
                                        Score
                                        <p-sortIcon field="store.displaySequence"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="hubFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="hubName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="storeFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="storeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="published">
                                        {{ l('Published') }}
                                        <p-sortIcon field="hubStore.published"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="displaySequence">
                                        {{ l('DisplaySequence') }}
                                        <p-sortIcon field="hubStore.displaySequence"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.HubStores.Edit', 'Pages.HubStores.Delete')">
                                        {{ l('Actions') }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 30px;">
                                        <label
                                            class="form-check form-check-custom form-check-inline form-check-solid is-invalid mb-2">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="record.selected" (change)="checkIfAllSelected()">
                                            <span class="fw-semibold ps-2 fs-6">
                                            </span>
                                        </label>
                                    </td>
                                    <td style="text-align: left; width: 45px;">
                                        <i class="flaticon-black fav_icon_store"></i>
                                        <!-- <i *ngIf="record.wishListId" class="flaticon-black fav_icon_store fav_heart"
                                            (click)="onLikeClick(record.wishListId)"></i> -->
                                        <!-- <i *ngIf="record.wishListId" class="flaticon-black fav_icon_store fav_heart" (click)="onLikeClick(record.wishListId)"></i> -->
                                    </td>
                                    <td style="width: 420px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        <div class="d-flex align-items-center">
                                            <div class="square_logo_box shadow-sm">
                                                <img *ngIf="record.picture"
                                                    src="{{record.picture}}"
                                                    class="mw-100" alt="">
                                                <span *ngIf="!record.picture">{{ record.storeName | nameSplit}}</span>
                                            </div>
                                            <div class="d-flex flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
                                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
                                                    <a href="javascript:;" title="{{ record.storeName }}"
                                                        [routerLink]="['/app/main/shop/stores/dashboard',record.hubStore.storeId]"
                                                        class="fs-5 text-gray-800 text-hover-primary fw-bold">
                                                        {{ record.storeName }}
                                                        <i class="fas fa-check-circle ml-1 mr-0 text-success"
                                                            title="Published"></i>
                                                    </a>
                                                    <span *ngIf="record.primaryCategoryName" class="text-gray-400 fw-semibold fs-7 my-0">
                                                        <i class="fas fa-tags mr-1"></i>
                                                        {{record.primaryCategoryName}}
                                                    </span>
                                                    <span
                                                        *ngIf="record.city || record.stateName || record.countryName || record.zipCode"
                                                        class="text-gray-400 fw-semibold fs-7 my-1">
                                                        <i class="fas fa-map-marked-alt mr-1"></i>
                                                        <span>
                                                            {{ record.city }}
                                                        </span>
                                                        <span
                                                            *ngIf="record.city && (record.stateName || record.countryName || record.zipCode)">,
                                                        </span>
                                                        <span>
                                                            {{ record.stateName }}
                                                        </span>
                                                        <span
                                                            *ngIf="record.stateName && (record.countryName || record.zipCode)">,
                                                        </span>
                                                        <span>
                                                            {{ record.countryName }}
                                                        </span>
                                                        <span *ngIf=" record.countryName && record.zipCode">,
                                                        </span>
                                                        <span>
                                                            {{ record.zipCode }}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 180px">
                                        <span class="p-column-title">{{ l('Mobile') }}</span>
                                        <i *ngIf="record.mobile " class="fas fa-phone-alt mr-1"></i>
                                        {{ record.mobile }}
                                    </td>
                                    <td style="width: 220px">
                                        <span class="p-column-title">{{ l('Email') }}</span>
                                        <i *ngIf="record.email" class="fas fa-envelope"></i>
                                        {{ record.email }}
                                    </td>
                                    <td style="width: 90px; text-align: center;">
                                        <span class="p-column-title">{{ l('Connect') }}</span>
                                        <a href="javascript:;" (click)="onConnectClick(record.hubStore.storeId)">
                                            <i class="fas fa-comments text-primary fs-3"></i>
                                        </a>
                                    </td>
                                    <td style="width: 150px; text-align: center;">
                                        <span class="p-column-title">{{ l('#Products') }}</span>
                                        {{record.numberOfProducts}}
                                    </td>
                                    <td style="width:150px; text-align: center;">
                                        <span class="p-column-title">{{ l('Published?') }}</span>
                                        <div *ngIf="record.isPublished">
                                            <span style="width: 3rem;" class="badge badge-success">Yes</span>
                                        </div>
                                        <div *ngIf="!record.isPublished">
                                            <span style="width: 3rem;" class="badge badge-danger">No</span>
                                        </div>
                                    </td>
                                    <td style="width:150px; text-align: center;">
                                        <span class="p-column-title">{{ l('Verified') }}</span>
                                        <div *ngIf="record.isVerified">
                                            <span style="width: 3rem;" class="badge badge-success">Yes</span>
                                        </div>
                                        <div *ngIf="!record.isVerified">
                                            <span style="width: 3rem;" class="badge badge-danger">No</span>
                                        </div>
                                    </td>

                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Sequence') }}</span>
                                        {{ record.hubStore.displaySequence }}
                                    </td>

                                    <!-- <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.hubName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.storeName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Published') }}</span>
                                        <div *ngIf="record.hubStore.published" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.hubStore.published" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplaySequence') }}</span>
                                        {{ record.hubStore.displaySequence }}
                                    </td> -->
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.HubStores.Edit', 'Pages.HubStores.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <!-- <li>
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="viewHubStoreModal.show(record)">
                                                        {{ l('View') }}
                                                    </a>
                                                </li> -->
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubStores.Edit')"
                                                        class="dropdown-item"
                                                        (click)="createOrEditHubStoreModal.show(record.hubStore.id)">
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubStores.Delete')"
                                                        (click)="deleteHubStore(record.hubStore)">
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getHubStores($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditHubStoreModal #createOrEditHubStoreModal (modalSave)="getHubStores()"></createOrEditHubStoreModal>
    <viewHubStoreModal #viewHubStoreModal></viewHubStoreModal>
    <oneToOneConnectModal #oneToOneConnectModal></oneToOneConnectModal>
</div>