.topbar_all_menu {
    // justify-content: flex-end;
    .int_menu {
        padding-left: 4rem;
        padding-right: 4rem;
        border: 1px solid #bec9ff;
        display: flex;
    }
    .dashboard_internal_team {
        margin-left: 0px;
        margin-right: 2px;
        border: 1px solid #bdc8fe;
        margin-top: 6px;
        padding-top: 1px;
        display: flex !important;
        vertical-align: middle;
        align-items: center;
        padding-left: 10px;
        padding-right: 6px;
        border-radius: 3px;
        height: 3rem;
        .das_div {
            vertical-align: middle;
            align-items: center;
            display: flex;
        }
        .icon_photo {
            vertical-align: middle;
            align-items: center;
            display: flex;
        }
        .kt-media.kt-media--circle img {
            border-radius: 50%;
        }
        .isprimary {
            border: 1px solid #5d78ff !important;
        }
    }
}

.avatar_new_up_brand {
    height: 114px;
    width: 114px;
    object-fit: contain;
    background: white;
    image-rendering: -webkit-optimize-contrast;
}

.header_all_content {
    .update {
        font-style: italic;
        color: #a2a2a2;
    }
    .show_more {
        display: block;
        margin-top: 12px;
        font-size: 12px;
        text-align: end;
    }
}

.widget_body_all {
    padding-left: 7.8rem !important;
    margin-top: 0px;
    .sum_box {
        margin-bottom: 10px;
        .box_lebel {
            // border: 1px solid #d0d0d0;
            font-size: 1rem;
            font-weight: 300;
            /* padding-left: 5px; */
            /* padding-right: 5px; */
            min-width: 110px;
            height: 27px;
            padding-top: 0px;
            padding-bottom: 0px;
            /* text-align: center; */
            /* margin-right: 10px; */
            border-radius: 3px;
            color: #9a9a9a;
            display: inline-table;
        }
        // .sum_label {
        //     border: 1px solid #d0d0d0;
        //     font-size: 12px;
        //     font-weight: 300;
        //     padding-left: 5px;
        //     padding-right: 5px;
        //     width: 146px;
        //     height: 27px;
        //     padding-top: 3px;
        //     padding-bottom: 3px;
        //     text-align: center;
        //     margin-right: 10px;
        //     border-radius: 3px;
        //     color: #9a9a9a;
        // }
        .content_sp {
            margin-top: 5px;
            font-size: 1rem;
            font-weight: 400;
        }
        .sum_content_sp {
            b {
                color: #b1b1b1;
            }
            margin-top: 5px;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.bottom_body_tab {
    .new_media_file {
        .kt-avatar .kt-avatar__upload {
            cursor: pointer;
            position: relative;
            right: 0px;
            top: 0px;
            width: 155px;
            height: 55px;
            border-radius: 4px;
            background-color: #ffffff;
            border: 1px solid #5867dd6b;
            color: #5867dd;
            display: block;
            text-align: center;
            padding-top: 4px;
        }
        .kt-avatar .kt-avatar__upload i {
            color: #5d78ff;
            font-size: 1.5rem;
            margin-right: 7px;
        }
        .kt-avatar .kt-avatar__upload:hover i {
            color: #5d78ff !important;
        }
    }
    // .nav-pills .nav-item {
    //     margin-right: 0.5rem;
    //     border: 1px solid #5d78ff;
    //     border-radius: 5px;
    // }
}

.job_seeking {
    .kt-radio.kt-radio--brand.kt-radio--solid>span {
        background: #ffffff !important;
        border: 1px solid #5d78ff !important;
    }
}

.skillset_competancy {
    i {
        font-size: 14px;
        cursor: pointer;
        margin-top: 0px;
    }
    .bdge_cus {
        border-radius: 1rem;
    }
    .skill_name {
        display: flex;
        border-bottom: 1px solid #ececec;
        padding: 0px 0px 1.2rem 1px;
        justify-content: space-between;
        margin-bottom: 15px;
        width: 100%;
        align-items: center;
        .skill_name_child {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h6 {
                font-size: 15px;
                margin-bottom: 0rem;
            }
        }
        .skill_btn {
            .btn_custom {
                background: #f1f1f1;
                border: 1px solid #eaeaea;
                i {
                    color: #a0a2a2;
                }
            }
        }
    }
    .remarks {
        padding: 5px 0px 2px 3px;
        border-radius: 3px;
    }
    .btn {
        align-items: center;
        margin-bottom: 0px !important;
    }
}

.work_experience {
    .port_icon {
        padding-right: 0.75rem;
        font-size: 1.1rem !important;
        color: #74788d;
    }
    .port_title {
        margin: 0;
        padding: 0;
        font-size: 1.1rem !important;
        font-weight: 500;
        color: #48465b;
    }
}

.custom_check_link_edit {
    border: 1px solid #e2e5ec;
    color: #ababab;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0.6rem;
    padding-bottom: 1px;
    border-radius: 4px;
    height: auto;
    width: 11rem;
    margin-left: 1rem;
    text-align: center;
}

.summary_cover_letter {
    font-size: 1rem;
    font-weight: 500;
    width: 162px;
    height: 27px;
    padding-top: 3px;
    padding-bottom: 0px;
    border-radius: 3px;
    color: #7d7c7c;
    display: inline-table;
}

.letter_details {
    white-space: break-spaces;
    margin-top: 0.3rem;
}

//custom badge
.custom_badge_all {
    border: 1px solid #5d78ff;
    padding: 5px 8px 5px 8px;
    color: #797979;
    font-size: 1rem;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    i {
        display: none;
    }
}

.custom_badge_all:hover {
    background: #5d78ff;
    color: white !important;
    i {
        display: inline-block !important;
        cursor: pointer;
    }
}

.applicant_dashboard_master {
    .btn+.btn {
        margin-left: 0px !important;
        margin-right: 12px !important;
        /* margin-bottom: 10px; */
    }
    .btn {
        align-items: center;
        margin-bottom: 10px;
    }
}

.master_portlet_custom {
    background: #edeef5;
    .custom_tab_head {
        background: white;
        padding: 0.5rem 0.5rem 0.3rem 1.5rem;
        margin-bottom: 0px;
    }
}

.custom_row_padding {
    padding-left: 10px;
    padding-right: 10px;
}

.custom_upload_label {
    width: 100%;
    height: 41px !important;
    padding-top: 0px !important;
    display: flex !important;
}

:host ::ng-deep .ui-fileupload .ui-fileupload-buttonbar {
    background-color: #ffffff !important;
    padding: 0px !important;
    border: none !important;
    color: #333333 !important;
    border-bottom: 0 none !important;
    .ui-button {
        margin: 0;
        border: 1px solid #d0d0d0 !important;
        font-size: 14px;
        transition: background-color 0.2s, box-shadow 0.2s;
    }
    .ui-fileupload-choose:not(.ui-state-disabled):hover {
        background-color: #617cff !important;
        color: #ffffff;
        border-color: #617cff !important;
    }
    .ui-fileupload-choose.ui-state-focus {
        outline: 0 none;
        outline-offset: 0px;
        box-shadow: none !important;
    }
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #5d78ff !important;
    background-color: #5d78ff !important;
    color: #ffffff;
}

:host ::ng-deep .ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: #5d78ff;
    background-color: #5d78ff;
    color: #ffffff;
}

.exp_box_details {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 1.2rem;
    .action_exp_d {
        position: absolute;
        right: 1.39rem;
        top: 0.5rem;
    }
    h6 {
        font-size: 1.1rem;
        color: #969696;
    }
    p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

.edu_box_details {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 1.2rem;
    height: 14rem;
    .action_exp_d {
        position: absolute;
        right: 1.39rem;
        top: 0.5rem;
    }
    h6 {
        font-size: 1.1rem;
        color: #969696;
    }
    p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

.certificate_box_details {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 1.2rem;
    .action_exp_d {
        position: absolute;
        right: 1.39rem;
        top: 0.5rem;
    }
    h6 {
        font-size: 1.1rem;
        color: #969696;
    }
    p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

.tag_block_applicnt {
    .btn+.btn {
        margin-left: 0px !important;
    }
    .btn {
        text-transform: capitalize;
        margin-right: 1rem !important;
        margin-bottom: 10px;
    }
    .btn-outline-brand {
        color: #6d6d6d;
        border-color: #eaeaea;
        background: #eaeaea;
        border-radius: 15px;
    }
    .btn-outline-brand:not(:disabled):not(.disabled):active,
    .btn-outline-brand:not(:disabled):not(.disabled).active,
    .show>.btn-outline-brand.dropdown-toggle {
        color: #fff !important;
        background-color: #5d78ff !important;
        border-color: #5d78ff;
    }
    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon {
        padding-right: 0.75rem;
        font-size: 1.1rem !important;
        color: #74788d !important;
    }
    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
        margin: 0;
        padding: 0;
        font-size: 1.07rem !important;
        font-weight: 500;
        color: #6d6c75 !important;
    }
}

.sutom_btn_for_add {
    align-items: flex-end;
    display: flex;
    .cus_btn {
        height: 2.869rem;
        margin-bottom: 0;
        border: 1px solid #e2e5ec;
        background: #eaeaea;
        color: #6d6d6d;
    }
    .cus_btn_2 {
        height: 2.65rem;
        margin-bottom: 7px;
        border: 1px solid #e2e5ec;
        background: #eaeaea;
        color: #6d6d6d;
    }
}

.custom_port_applicant_tag {
    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-icon {
        padding-right: 0.75rem;
        font-size: 1.1rem !important;
        color: #74788d !important;
    }
    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
        margin: 0;
        padding: 0;
        font-size: 1.07rem !important;
        font-weight: 500;
        color: #6d6c75 !important;
    }
}

:host ::ng-deep .new_ui_dropdown p-dropdown .ui-dropdown {
    display: block;
    position: relative;
    cursor: pointer;
    width: 25rem;
    border: 1px solid #ced4da !important;
}

:host ::ng-deep .new_ui_dropdown p-dropdown .ui-dropdown-label-container {
    padding-top: 0px !important;
}

.rating_new_w_aa {
    margin-top: 5px;
}

:host ::ng-deep .ui-rating a {
    text-align: center;
    display: inline-block;
    color: #ffa200;
    border-radius: 3px;
    line-height: 1;
    transition: color 0.2s, box-shadow 0.2s;
}

:host ::ng-deep .ui-rating:not(.ui-state-disabled):not(.ui-rating-readonly) a:hover {
    color: #bfc3c5;
}

// .input_tel_mobile_c{
//     display: grid;
//     label{
//         text-align: left !important;
//     }
//     .input_mobile_f {
//         width: 100%;
//         padding-left: 3.8rem !important;
//     }
// }
.input_tel_mobile_c {
    display: grid;
    label {
        text-align: left !important;
    }
    .input_mobile_f {
        padding-left: 3rem !important;
    }
    .country_flag_img_avd {
        position: absolute;
        /* margin-top: 33px; */
        display: flex;
        margin-left: 10px;
        bottom: 8px;
    }
}

.document_img {
    margin-right: 1rem;
    width: 2.6rem;
    img {
        width: 2.5rem;
        border-radius: 4px;
        height: 2.5rem;
        image-rendering: -webkit-optimize-contrast;
        object-fit: contain;
    }
}

.doc_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}



:host ::ng-deep .ui-selectbutton .ui-button.ui-state-active {
    background-color: #5d78ff;
    border-color: #5d78ff;
    color: #ffffff;
}

:host ::ng-deep .ui-selectbutton .ui-button.ui-state-active {
    background-color: #5d78ff;
    border-color: #5d78ff;
    color: #ffffff;
    border: 1px solid #5d78ff;
}

:host ::ng-deep .ui-selectbutton .ui-button {
    background-color: #ffffff;
    border: 1px solid #5d78ff;
    color: #5d78ff;
    overflow: hidden;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: 7rem;
    height: 2.6rem;
}

:host ::ng-deep .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: #5d78ff;
    border-color: #5d78ff;
    color: #ffffff;
}

:host ::ng-deep .ui-button.ui-button-text-only .ui-button-text {
    padding: 0.5em 0em !important;
    font-size: 13px;
}

.drag_drop{
    .example-list {
        display: grid;
        overflow: auto;
    }
    .example-box {
        padding: 5px 0px;
        /* border-bottom: solid 1px #ccc; */
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
    }
    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    .cdk-drag-placeholder {
        opacity: 0;
    }
    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .example-box:last-child {
        border: none;
    }
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}
