<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="state.id">{{ l('EditState') }}</span>
                        <span *ngIf="!state.id">{{ l('CreateNewState') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="CountryName">{{ l('Country') }}</label>
                        <select name="state.countryId" [(ngModel)]="state.countryId" class="form-select" required>
                            <option value="">{{ l('SelectACountry') }}</option>
                            <option *ngFor="let item of allCountrys" value="{{ item.id }}">
                                {{ item.displayName }}
                            </option>
                        </select>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="State_Name">{{ l('Name') }} *</label>
                        <input
                            type="text"
                            #State_Name="ngModel"
                            id="State_Name"
                            class="form-control"
                            [(ngModel)]="state.name"
                            name="Name"
                            minlength="1"
                            maxlength="128"
                            required
                        />
                        <validation-messages [formCtrl]="State_Name"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="State_Ticker">{{ l('Ticker') }}</label>
                        <input
                            type="text"
                            #State_Ticker="ngModel"
                            id="State_Ticker"
                            class="form-control"
                            [(ngModel)]="state.ticker"
                            name="Ticker"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="State_Ticker"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!stateForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
