<div [@routerTransition]>
    <!-- <sub-header [title]="'HubZipCodeMaps' | localize" [description]="'HubZipCodeMapsHeaderInfo' | localize">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button *ngIf="isGranted('Pages.HubZipCodeMaps.Create')" (click)="createHubZipCodeMap()"
                class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                {{ l('CreateNewHubZipCodeMap') }}
            </button>
        </div>
    </sub-header> -->
    <div class="w-100 d-flex mb-6 mt-6 justify-content-between align-items-center">
        <div class="d-flex">
            <h1 class="fs-3 fw-bold  my-0 page-heading text-dark">
                {{ l('Hub Zip Codes') }}
            </h1>
        </div>
        <button *ngIf="isGranted('Pages.HubZipCodeMaps.Create')" (click)="createHubZipCodeMap()"
            class="btn btn-primary blue">
            <i class="fa fa-plus"></i>
            {{ l('Hub Zip Code') }}
        </button>
    </div>

    <div>
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="filterText" (ngModelChange)="getHubZipCodeMaps()"
                                            name="filterText" autoFocus type="text" class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')" />
                                        <button class="btn btn-primary" type="submit" (click)="getHubZipCodeMaps()">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CityNameFilter">{{ l('City Name') }}</label>
                                    <input type="text" class="form-control" id="CityNameFilter" name="cityNameFilter"
                                        [(ngModel)]="cityNameFilter" (ngModelChange)="getHubZipCodeMaps()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ZipCodeFilter">{{ l('Zip Code') }}</label>
                                    <input type="text" class="form-control" id="ZipCodeFilter" name="zipCodeFilter"
                                        [(ngModel)]="zipCodeFilter" (ngModelChange)="getHubZipCodeMaps()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CityNameFilter">
                                        City
                                    </label>
                                    <input type="text" class="form-control" id="CityNameFilter" name="cityNameFilter"
                                        [(ngModel)]="cityNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getHubZipCodeMaps($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 150px">
                                        {{l('Zip Code')}}
                                    </th>
                                    <th style="width: 150px">
                                        {{l('City')}}
                                    </th>
                                    <!-- <th style="width: 150px">
                                        {{l('County')}}
                                    </th>
                                    <th style="width: 150px">
                                        {{l('State')}}
                                    </th> -->

                                    <!-- <th style="width: 150px" pSortableColumn="hubFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="hubName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cityFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="cityName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="zipCodeFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="zipCodeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cityName">
                                        {{ l('CityName') }}
                                        <p-sortIcon field="hubZipCodeMap.cityName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="zipCode">
                                        {{ l('ZipCode') }}
                                        <p-sortIcon field="hubZipCodeMap.zipCode"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 130px" [hidden]="
                                            !isGrantedAny('Pages.HubZipCodeMaps.Edit', 'Pages.HubZipCodeMaps.Delete')
                                        ">
                                        {{ l('Actions') }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>

                                    <!-- <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.hubName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.cityName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.zipCodeName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('CityName') }}</span>
                                        {{ record.hubZipCodeMap.cityName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('ZipCode') }}</span>
                                        {{ record.hubZipCodeMap.zipCode }}
                                    </td> -->
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span> {{record.zipCodeName}}
                                    </td>
                                    <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span> {{record.cityName}}
                                    </td>
                                    <!-- <td style="width:150px">
                                        <span class="ui-column-title"> {{l('Name')}}</span> {{record.countyName}}
                                    </td>
                                    <td style="width: 150px">
                                        <span>{{record.stateName}}</span>
                                        <span *ngIf="record.stateTicker" class="ml-2">({{record.stateTicker}})</span>
                                    </td> -->
                                    <td style="width: 130px" [hidden]="
                                            !isGrantedAny('Pages.HubZipCodeMaps.Edit', 'Pages.HubZipCodeMaps.Delete')
                                        ">
                                        <!-- <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="viewHubZipCodeMapModal.show(record)">
                                                        {{ l('View') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubZipCodeMaps.Edit')"
                                                        class="dropdown-item" (click)="
                                                            createOrEditHubZipCodeMapModal.show(record.hubZipCodeMap.id)
                                                        ">
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubZipCodeMaps.Delete')"
                                                        (click)="deleteHubZipCodeMap(record.hubZipCodeMap)">
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> -->
                                        <a href="javascript:;"
                                            *ngIf="permission.isGranted('Pages.HubZipCodeMaps.Delete')"
                                            (click)="deleteHubZipCodeMap(record.hubZipCodeMap)"
                                            class="btn btn-icon btn-danger"><i
                                                class="fas fa-trash-alt fs-2 me-2"></i></a>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getHubZipCodeMaps($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditHubZipCodeMapModal #createOrEditHubZipCodeMapModal (modalSave)="getHubZipCodeMaps()">
    </createOrEditHubZipCodeMapModal>
    <viewHubZipCodeMapModal #viewHubZipCodeMapModal></viewHubZipCodeMapModal>
</div>