<div [@routerTransition]>
    <sub-header [title]="'TaskEvents' | localize" [description]="">
        <div role="actions">
            <!-- <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button> -->

            <button *ngIf="isGranted('Pages.TaskEvents.Create')" (click)="createTaskEvent()"
                class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                {{ l('Task Event') }}
            </button>
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="filterText" (ngModelChange)="getTaskEvents()"
                                            name="filterText" autoFocus type="text" class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')" />
                                        <button class="btn btn-primary" type="submit" (click)="getTaskEvents()">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="NameFilter">{{ l('Task Title') }}</label>
                                    <input type="text" class="form-control" id="NameFilter" name="nameFilter"
                                        [(ngModel)]="nameFilter" (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="DescriptionFilter">{{ l('Description') }}</label>
                                    <input type="text" class="form-control" id="DescriptionFilter"
                                        name="descriptionFilter" [(ngModel)]="descriptionFilter"
                                        (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="StatusFilterSelect">{{ l('Status') }}</label>
                                    <!-- <select class="form-select" name="StatusFilter" id="StatusFilterSelect"
                                        [(ngModel)]="statusFilter" (ngModelChange)="getTaskEvents()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('Open') }}</option>
                                        <option value="1">{{ l('Completed') }}</option>
                                    </select> -->
                                    <select class="form-select" name="StatusFilter" id="StatusFilterSelect"
                                    [(ngModel)]="statusFilter" (ngModelChange)="getTaskEvents()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option *ngFor="let item of allTaskStatuss" value="{{ item.id }}">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="PriorityFilterSelect">{{ l('Priority') }}</label>
                                    <select class="form-select" name="PriorityFilter" id="PriorityFilterSelect"
                                        [(ngModel)]="priorityFilter" (ngModelChange)="getTaskEvents()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('Low') }}</option>
                                        <option value="1">{{ l('High') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinEventDateFilter">{{ l('Date Range') }}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinEventDateFilter"
                                            name="MinEventDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('Start Date') }}" [(ngModel)]="minEventDateFilter"
                                            (ngModelChange)="getTaskEvents()" />
                                        <span style="line-height: 40px; padding: 0 15px 0 15px">&mdash;</span>
                                        <input class="form-control m-input" id="MaxEventDateFilter"
                                            name="MaxEventDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('End Date') }}" [(ngModel)]="maxEventDateFilter"
                                            (ngModelChange)="getTaskEvents()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3 p_filter">
                                    <label class="form-label" for="team">{{ l('Team') }}</label>
                                    <p-dropdown [options]="employeeList" [filter]="true" [virtualScroll]="true"
                                        placeholder="Select Team" [itemSize]="30" name="employee"
                                        optionLabel="displayName" optionId="id" [(ngModel)]="selectedEmployees"
                                        filterBy="displayName" [style]="{ width: '100%' }" (onChange)="onEmployeeSelect($event)"></p-dropdown> 
                                        <!-- <p-multiSelect name="employee" id="employee" [options]="employeeList"
                                    [(ngModel)]="selectedEmployees" optionLabel="displayName" [virtualScroll]="true"
                                    [filter]="true" [itemSize]="34" [maxSelectedLabels]="2"  placeholder="Select Team"
                                    class="multiselect-custom-virtual-scroll" (onChange)="onEmployeeSelect($event)"> 
                                </p-multiSelect>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3 p_filter">
                                    <label class="form-label" for="team">{{ l('Tag') }}</label>
                                    <p-dropdown [options]="allTags" [filter]="true" [virtualScroll]="true"
                                        placeholder="Select Tag" [itemSize]="30" name="displayName"
                                        optionLabel="displayName" optionId="id" [(ngModel)]="selectedTag"
                                        filterBy="displayName" [style]="{ width: '100%' }"></p-dropdown>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="StartTimeFilter">{{ l('StartTime') }}</label>
                                    <input type="text" class="form-control" id="StartTimeFilter" name="startTimeFilter"
                                        [(ngModel)]="startTimeFilter" (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="EndTimeFilter">{{ l('EndTime') }}</label>
                                    <input type="text" class="form-control" id="EndTimeFilter" name="endTimeFilter"
                                        [(ngModel)]="endTimeFilter" (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="TemplateFilterSelect">{{ l('Template') }}</label>
                                    <select class="form-select" name="TemplateFilter" id="TemplateFilterSelect"
                                        [(ngModel)]="templateFilter" (ngModelChange)="getTaskEvents()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('False') }}</option>
                                        <option value="1">{{ l('True') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ActualTimeFilter">{{ l('ActualTime') }}</label>
                                    <input type="text" class="form-control" id="ActualTimeFilter"
                                        name="actualTimeFilter" [(ngModel)]="actualTimeFilter"
                                        (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinEndDateFilter">{{ l('EndDateRange') }}</label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinEndDateFilter"
                                            name="MinEndDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('MinValue') }}" [(ngModel)]="minEndDateFilter"
                                            (ngModelChange)="getTaskEvents()" />
                                        <span style="line-height: 40px; padding: 0 15px 0 15px">&mdash;</span>
                                        <input class="form-control m-input" id="MaxEndDateFilter"
                                            name="MaxEndDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('MaxValue') }}" [(ngModel)]="maxEndDateFilter"
                                            (ngModelChange)="getTaskEvents()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="EstimatedTimeFilter">{{ l('EstimatedTime') }}</label>
                                    <input type="text" class="form-control" id="EstimatedTimeFilter"
                                        name="estimatedTimeFilter" [(ngModel)]="estimatedTimeFilter"
                                        (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="HourAndMinutesFilter">
                                        {{ l('HourAndMinutes') }}
                                    </label>
                                    <input type="text" class="form-control" id="HourAndMinutesFilter"
                                        name="hourAndMinutesFilter" [(ngModel)]="hourAndMinutesFilter"
                                        (ngModelChange)="getTaskEvents()" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="TaskStatusNameFilter">
                                        ({{ l('TaskStatus') }}) {{ l('Name') }}
                                    </label>
                                    <input type="text" class="form-control" id="TaskStatusNameFilter"
                                        name="taskStatusNameFilter" [(ngModel)]="taskStatusNameFilter" />
                                </div>
                            </div> -->
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getTaskEvents($event)" [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:30px; text-align: center;">
                                        <label
                                            class="form-check form-check-custom form-check-inline form-check-solid is-invalid">
                                            <input class="form-check-input" (change)="onChangesSelectAll()"
                                                [(ngModel)]="selectedAll" type="checkbox">
                                            <span class="fw-semibold ps-2 fs-6">
                                            </span>
                                        </label>
                                    </th>
                                    <th style="width: 250px">
                                        {{ l('Task Title') }}
                                    </th>
                                    <th style="width: 180px;">
                                        {{l('Start Date & Time')}}
                                    </th>
                                    <th style="width: 180px;">
                                        {{l('End Date & Time')}}
                                    </th>
                                    <th style="width: 150px; text-align: center;">
                                        {{l('Est. Hour')}}
                                    </th>
                                    <th style="width: 150px; text-align: center;">
                                        {{l('Actual Hour')}}
                                    </th>
                                    <th style="width: 180px; text-align: center;">
                                        {{l('Team')}}
                                    </th>
                                    <th style="width: 180px; text-align: center;">
                                        {{l('Completion Status')}}
                                    </th>
                                    <th class="text-center" style="width: 130px">
                                        {{l('Status')}}
                                    </th>
                                    <th class="text-center" style="width: 130px">
                                        {{l('Priority')}}
                                    </th>


                                    <!-- <th style="width: 150px" pSortableColumn="name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="taskEvent.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="description">
                                        {{ l('Description') }}
                                        <p-sortIcon field="taskEvent.description"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="status">
                                        {{ l('Status') }}
                                        <p-sortIcon field="taskEvent.status"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="priority">
                                        {{ l('Priority') }}
                                        <p-sortIcon field="taskEvent.priority"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="eventDate">
                                        {{ l('EventDate') }}
                                        <p-sortIcon field="taskEvent.eventDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="startTime">
                                        {{ l('StartTime') }}
                                        <p-sortIcon field="taskEvent.startTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endTime">
                                        {{ l('EndTime') }}
                                        <p-sortIcon field="taskEvent.endTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="template">
                                        {{ l('Template') }}
                                        <p-sortIcon field="taskEvent.template"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="actualTime">
                                        {{ l('ActualTime') }}
                                        <p-sortIcon field="taskEvent.actualTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endDate">
                                        {{ l('EndDate') }}
                                        <p-sortIcon field="taskEvent.endDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="estimatedTime">
                                        {{ l('EstimatedTime') }}
                                        <p-sortIcon field="taskEvent.estimatedTime"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="hourAndMinutes">
                                        {{ l('HourAndMinutes') }}
                                        <p-sortIcon field="taskEvent.hourAndMinutes"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.TaskEvents.Edit', 'Pages.TaskEvents.Delete')">
                                        {{ l('Actions') }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 30px;">
                                        <label
                                            class="form-check form-check-custom form-check-inline form-check-solid is-invalid mb-2">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="record.selected" (change)="checkIfAllSelected()">
                                            <span class="fw-semibold ps-2 fs-6">
                                            </span>
                                        </label>
                                    </td>
                                    <td style="width: 250px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
                                            <a href="javascript:;" title=" {{ record.taskEvent.name }}"
                                                [routerLink]="['/app/main/taskManagement/taskEvents/dashboard',record.taskEvent.id]"
                                                class="fs-5 text-gray-800 text-hover-primary fw-bold">
                                                {{ record.taskEvent.name }}
                                            </a>
                                            <!-- <span class="text-gray-400 fw-semibold fs-7 my-0">
                                                <i class="fas fa-tags mr-1"></i>
                                                Web Development, Web Design, Software Development
                                            </span> -->
                                        </div>
                                    </td>
                                    <td style="width:180px;">
                                        <span *ngIf="record.taskEvent.eventDate">
                                            {{record.taskEvent.eventDate | luxonFormat : 'dd-MM-yyyy'}} 
                                        </span>
                                        <span *ngIf="record.taskEvent.startTime && record.taskEvent.eventDate">(</span>
                                        <span *ngIf="record.taskEvent.startTime">{{record.taskEvent.startTime}}</span>
                                        <span *ngIf="record.taskEvent.startTime && record.taskEvent.eventDate">)</span>
                                    </td>
                                    <td style="width:180px;">
                                        <span *ngIf="record.taskEvent.endDate">
                                            {{record.taskEvent.endDate | luxonFormat : 'dd-MM-yyyy'}}
                                        </span>
                                        <span *ngIf="record.taskEvent.endTime && record.taskEvent.endDate">(</span>
                                        <span *ngIf="record.taskEvent.endTime">{{record.taskEvent.endTime}}</span>
                                        <span *ngIf="record.taskEvent.endTime && record.taskEvent.endDate">)</span>
                                    </td>
                                    <td style="width:150px; text-align: center;">
                                        {{ record.taskEvent.actualTime }}
                                    </td>
                                    <td style="width:150px; text-align: center;">
                                        {{ record.taskEvent.actualTime }}
                                    </td>
                                    <td style="width: 180px; text-align: center;">
                                        <div class="symbol-group symbol-hover flex-nowrap d-flex justify-content-center">
                                            <div *ngFor="let team of record.team" class="symbol symbol-35px symbol-circle" data-bs-toggle="tooltip"
                                                data-bs-original-title="Alan Warden" data-kt-initialized="1">
                                                
                                                <span *ngIf ="!team.picture" title="{{team.employeeName}}"
                                                    class="symbol-label bg-warning text-inverse-warning fw-bold">{{team.employeeName | nameSplit}}</span>
                                                    <img *ngIf ="team.picture" alt="Pic" src="{{team.picture}}">
                                            </div>
                                           
                                        </div>
                                    </td>
                                    <td style="width: 180px; text-align: center;">
                                        <div>
                                            <input type="text" pInputText [(ngModel)]="record.taskEvent.completionPercentage" class="w-full"/>
                                            <p-slider [(ngModel)]="record.taskEvent.completionPercentage" disabled class="w-full"></p-slider>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Status') }}</span>
                                        <div *ngIf="record.taskStatusName" class="text-center">
                                            <span class="badge badge-primary badge-sm">{{record.taskStatusName}}</span>
                                        </div>
                                        <!-- <div *ngIf="!record.taskEvent.status" class="text-center">
                                            <span class="badge badge-danger badge-sm">Open</span>
                                        </div> -->
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Priority') }}</span>
                                        <div *ngIf="record.taskEvent.priority" class="text-center">
                                            <span class="badge badge-danger badge-sm">High</span>
                                        </div>
                                        <div *ngIf="!record.taskEvent.priority" class="text-center">
                                            <span class="badge badge-warning badge-sm">Low</span>
                                        </div>
                                    </td>





                                    <!-- <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.taskStatusName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Description') }}</span>
                                        {{ record.taskEvent.description }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Status') }}</span>
                                        <div *ngIf="record.taskEvent.status" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.taskEvent.status" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Priority') }}</span>
                                        <div *ngIf="record.taskEvent.priority" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.taskEvent.priority" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('EventDate') }}</span>
                                        <span *ngIf="record.taskEvent.eventDate">
                                            {{ record.taskEvent.eventDate | luxonFormat : 'F' }}
                                        </span>
                                        <span *ngIf="!record.taskEvent.eventDate">-</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('StartTime') }}</span>
                                        {{ record.taskEvent.startTime }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('EndTime') }}</span>
                                        {{ record.taskEvent.endTime }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Template') }}</span>
                                        <div *ngIf="record.taskEvent.template" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.taskEvent.template" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('ActualTime') }}</span>
                                        {{ record.taskEvent.actualTime }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('EndDate') }}</span>
                                        <span *ngIf="record.taskEvent.endDate">
                                            {{ record.taskEvent.endDate | luxonFormat : 'F' }}
                                        </span>
                                        <span *ngIf="!record.taskEvent.endDate">-</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('EstimatedTime') }}</span>
                                        {{ record.taskEvent.estimatedTime }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('HourAndMinutes') }}</span>
                                        {{ record.taskEvent.hourAndMinutes }}
                                    </td> -->
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.TaskEvents.Edit', 'Pages.TaskEvents.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <!-- <li>
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="viewTaskEventModal.show(record)">
                                                        {{ l('View') }}
                                                    </a>
                                                </li> -->
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.TaskEvents.Edit')"
                                                        class="dropdown-item"
                                                        (click)="createOrEditTaskEventModal.show(record.taskEvent.id)">
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.TaskEvents.Delete')"
                                                        (click)="deleteTaskEvent(record.taskEvent)">
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getTaskEvents($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditTaskEventModal #createOrEditTaskEventModal (modalSave)="getTaskEvents()"></createOrEditTaskEventModal>
    <viewTaskEventModal #viewTaskEventModal></viewTaskEventModal>
</div>