.split_section_twocol{
    display: flex;
    .first_col{
        width: 50%;
    }
    .first_col:first-child{
        border-right: 1px solid rgb(204, 204, 204);
        padding-right: 2rem;    
    }
    .first_col:last-child{
        padding-left: 2rem;
    }
}