<div [@routerTransition]>
    <sub-header [title]="'HubSalesProjections' | localize" [description]="'HubSalesProjectionsHeaderInfo' | localize">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button
                *ngIf="isGranted('Pages.HubSalesProjections.Create')"
                (click)="createHubSalesProjection()"
                class="btn btn-primary blue"
            >
                <i class="fa fa-plus"></i>
                {{ l('CreateNewHubSalesProjection') }}
            </button>
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input
                                            [(ngModel)]="filterText"
                                            (ngModelChange)="getHubSalesProjections()"
                                            name="filterText"
                                            autoFocus
                                            type="text"
                                            class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')"
                                        />
                                        <button
                                            class="btn btn-primary"
                                            type="submit"
                                            (click)="getHubSalesProjections()"
                                        >
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinDurationTypeIdFilter">
                                        {{ l('MinMax') }} {{ l('DurationTypeId') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="MinDurationTypeIdFilter"
                                            [(ngModel)]="minDurationTypeIdFilter"
                                            placeholder="{{ l('MinValue') }}"
                                            name="minDurationTypeIdFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                        <input
                                            type="number"
                                            class="form-control"
                                            [(ngModel)]="maxDurationTypeIdFilter"
                                            placeholder="{{ l('MaxValue') }}"
                                            name="maxDurationTypeIdFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinStartDateFilter">{{ l('StartDateRange') }}</label>
                                    <div class="input-group">
                                        <input
                                            class="form-control m-input"
                                            id="MinStartDateFilter"
                                            name="MinStartDateFilter"
                                            type="datetime"
                                            bsDatepicker
                                            placeholder="{{ l('MinValue') }}"
                                            [(ngModel)]="minStartDateFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                        <span style="line-height: 40px; padding: 0 15px 0 15px">&mdash;</span>
                                        <input
                                            class="form-control m-input"
                                            id="MaxStartDateFilter"
                                            name="MaxStartDateFilter"
                                            type="datetime"
                                            bsDatepicker
                                            placeholder="{{ l('MaxValue') }}"
                                            [(ngModel)]="maxStartDateFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinEndDateFilter">{{ l('EndDateRange') }}</label>
                                    <div class="input-group">
                                        <input
                                            class="form-control m-input"
                                            id="MinEndDateFilter"
                                            name="MinEndDateFilter"
                                            type="datetime"
                                            bsDatepicker
                                            placeholder="{{ l('MinValue') }}"
                                            [(ngModel)]="minEndDateFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                        <span style="line-height: 40px; padding: 0 15px 0 15px">&mdash;</span>
                                        <input
                                            class="form-control m-input"
                                            id="MaxEndDateFilter"
                                            name="MaxEndDateFilter"
                                            type="datetime"
                                            bsDatepicker
                                            placeholder="{{ l('MaxValue') }}"
                                            [(ngModel)]="maxEndDateFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinExpectedSalesAmountFilter">
                                        {{ l('MinMax') }} {{ l('ExpectedSalesAmount') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="MinExpectedSalesAmountFilter"
                                            [(ngModel)]="minExpectedSalesAmountFilter"
                                            placeholder="{{ l('MinValue') }}"
                                            name="minExpectedSalesAmountFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                        <input
                                            type="number"
                                            class="form-control"
                                            [(ngModel)]="maxExpectedSalesAmountFilter"
                                            placeholder="{{ l('MaxValue') }}"
                                            name="maxExpectedSalesAmountFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinActualSalesAmountFilter">
                                        {{ l('MinMax') }} {{ l('ActualSalesAmount') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="MinActualSalesAmountFilter"
                                            [(ngModel)]="minActualSalesAmountFilter"
                                            placeholder="{{ l('MinValue') }}"
                                            name="minActualSalesAmountFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                        <input
                                            type="number"
                                            class="form-control"
                                            [(ngModel)]="maxActualSalesAmountFilter"
                                            placeholder="{{ l('MaxValue') }}"
                                            name="maxActualSalesAmountFilter"
                                            (ngModelChange)="getHubSalesProjections()"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="HubNameFilter">
                                        ({{ l('Hub') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="HubNameFilter"
                                        name="hubNameFilter"
                                        [(ngModel)]="hubNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ProductCategoryNameFilter">
                                        ({{ l('ProductCategory') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="ProductCategoryNameFilter"
                                        name="productCategoryNameFilter"
                                        [(ngModel)]="productCategoryNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="StoreNameFilter">
                                        ({{ l('Store') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="StoreNameFilter"
                                        name="storeNameFilter"
                                        [(ngModel)]="storeNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CurrencyNameFilter">
                                        ({{ l('Currency') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="CurrencyNameFilter"
                                        name="currencyNameFilter"
                                        [(ngModel)]="currencyNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button
                                    (click)="resetFilters()"
                                    class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters"
                                >
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table
                            #dataTable
                            (onLazyLoad)="getHubSalesProjections($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.HubSalesProjections.Edit',
                                                'Pages.HubSalesProjections.Delete'
                                            )
                                        "
                                    >
                                        {{ l('Actions') }}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="hubFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="hubName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="productCategoryFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="productCategoryName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="storeFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="storeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="currencyFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="currencyName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="durationTypeId">
                                        {{ l('DurationTypeId') }}
                                        <p-sortIcon field="hubSalesProjection.durationTypeId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="startDate">
                                        {{ l('StartDate') }}
                                        <p-sortIcon field="hubSalesProjection.startDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endDate">
                                        {{ l('EndDate') }}
                                        <p-sortIcon field="hubSalesProjection.endDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="expectedSalesAmount">
                                        {{ l('ExpectedSalesAmount') }}
                                        <p-sortIcon field="hubSalesProjection.expectedSalesAmount"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="actualSalesAmount">
                                        {{ l('ActualSalesAmount') }}
                                        <p-sortIcon field="hubSalesProjection.actualSalesAmount"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.HubSalesProjections.Edit',
                                                'Pages.HubSalesProjections.Delete'
                                            )
                                        "
                                    >
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item"
                                                        (click)="viewHubSalesProjectionModal.show(record)"
                                                    >
                                                        {{ l('View') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubSalesProjections.Edit')"
                                                        class="dropdown-item"
                                                        (click)="
                                                            createOrEditHubSalesProjectionModal.show(
                                                                record.hubSalesProjection.id
                                                            )
                                                        "
                                                    >
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubSalesProjections.Delete')"
                                                        (click)="deleteHubSalesProjection(record.hubSalesProjection)"
                                                    >
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.hubName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.productCategoryName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.storeName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.currencyName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DurationTypeId') }}</span>
                                        {{ record.hubSalesProjection.durationTypeId }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('StartDate') }}</span>
                                        <span *ngIf="record.hubSalesProjection.startDate">
                                            {{ record.hubSalesProjection.startDate | luxonFormat : 'F' }}
                                        </span>
                                        <span *ngIf="!record.hubSalesProjection.startDate">-</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('EndDate') }}</span>
                                        <span *ngIf="record.hubSalesProjection.endDate">
                                            {{ record.hubSalesProjection.endDate | luxonFormat : 'F' }}
                                        </span>
                                        <span *ngIf="!record.hubSalesProjection.endDate">-</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('ExpectedSalesAmount') }}</span>
                                        {{ record.hubSalesProjection.expectedSalesAmount }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('ActualSalesAmount') }}</span>
                                        {{ record.hubSalesProjection.actualSalesAmount }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #paginator
                                (onPageChange)="getHubSalesProjections($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "
                            ></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditHubSalesProjectionModal
        #createOrEditHubSalesProjectionModal
        (modalSave)="getHubSalesProjections()"
    ></createOrEditHubSalesProjectionModal>
    <viewHubSalesProjectionModal #viewHubSalesProjectionModal></viewHubSalesProjectionModal>
</div>
