<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #storeBusinessCustomerMapForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="storeBusinessCustomerMap.id">{{ l('EditStoreBusinessCustomerMap') }}</span>
                        <span *ngIf="!storeBusinessCustomerMap.id">{{ l('CreateNewStoreBusinessCustomerMap') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="StoreName">{{ l('Store') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="StoreName"
                                name="storeName"
                                [(ngModel)]="storeName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectStoreModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setStoreIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeBusinessCustomerMap.storeId"
                        [(ngModel)]="storeBusinessCustomerMap.storeId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="BusinessName">{{ l('Business') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="BusinessName"
                                name="businessName"
                                [(ngModel)]="businessName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectBusinessModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setBusinessIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeBusinessCustomerMap.businessId"
                        [(ngModel)]="storeBusinessCustomerMap.businessId"
                        type="text"
                        required
                        hidden
                    />

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="StoreBusinessCustomerMap_PaidCustomer"
                            #StoreBusinessCustomerMap_PaidCustomer="ngModel"
                            name="PaidCustomer"
                            [(ngModel)]="storeBusinessCustomerMap.paidCustomer"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('PaidCustomer') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="StoreBusinessCustomerMap_PaidCustomer"></validation-messages>

                    <div class="my5">
                        <label class="form-label" for="StoreBusinessCustomerMap_LifeTimeSalesAmount">
                            {{ l('LifeTimeSalesAmount') }}
                        </label>
                        <input
                            type="number"
                            #StoreBusinessCustomerMap_LifeTimeSalesAmount="ngModel"
                            id="StoreBusinessCustomerMap_LifeTimeSalesAmount"
                            class="form-control"
                            [(ngModel)]="storeBusinessCustomerMap.lifeTimeSalesAmount"
                            name="LifeTimeSalesAmount"
                        />
                        <validation-messages
                            [formCtrl]="StoreBusinessCustomerMap_LifeTimeSalesAmount"
                        ></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!storeBusinessCustomerMapForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <storeBusinessCustomerMapStoreLookupTableModal
        #storeBusinessCustomerMapStoreLookupTableModal
        (modalSave)="getNewStoreId()"
    ></storeBusinessCustomerMapStoreLookupTableModal>
    <storeBusinessCustomerMapBusinessLookupTableModal
        #storeBusinessCustomerMapBusinessLookupTableModal
        (modalSave)="getNewBusinessId()"
    ></storeBusinessCustomerMapBusinessLookupTableModal>
</div>
