<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>               
                
                
                 <button type="button" class="btn-close" (click)="close()" aria-label="Close" [disabled]="saving"></button>
             
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Title")}} :</h6>
                        {{ item.booking.title }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BookingReferenceNumber")}} :</h6>
                        {{ item.booking.bookingReferenceNumber }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("StartDate")}} :</h6>
                        {{ item.booking.startDate |  luxonFormat:'yyyy-LL-dd HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EndDate")}} :</h6>
                        {{ item.booking.endDate |  luxonFormat:'yyyy-LL-dd HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("StartTime")}} :</h6>
                        {{ item.booking.startTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EndTime")}} :</h6>
                        {{ item.booking.endTime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TimeZoneId")}} :</h6>
                        {{ item.booking.timeZoneId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.booking.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CustomerRemarks")}} :</h6>
                        {{ item.booking.customerRemarks }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CheckInDateTime")}} :</h6>
                        {{ item.booking.checkInDateTime |  luxonFormat:'yyyy-LL-dd HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CheckOutDateTime")}} :</h6>
                        {{ item.booking.checkOutDateTime |  luxonFormat:'yyyy-LL-dd HH:mm:ss'  }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("BookingType")}}) {{l("Name")}} :</h6>
                        {{item.bookingTypeName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("BookingStatus")}}) {{l("Name")}} :</h6>
                        {{item.bookingStatusName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Contact")}}) {{l("FullName")}} :</h6>
                        {{item.contactFullName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Store")}}) {{l("Name")}} :</h6>
                        {{item.storeName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Product")}}) {{l("Name")}} :</h6>
                        {{item.productName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Order")}}) {{l("InvoiceNumber")}} :</h6>
                        {{item.orderInvoiceNumber}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
