<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #storeBusinessHourForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="storeBusinessHour.id">{{ l('EditStoreBusinessHour') }}</span>
                        <span *ngIf="!storeBusinessHour.id">{{ l('CreateNewStoreBusinessHour') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="StoreName">{{ l('Store') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="StoreName"
                                name="storeName"
                                [(ngModel)]="storeName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectStoreModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setStoreIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeBusinessHour.storeId"
                        [(ngModel)]="storeBusinessHour.storeId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagCategoryName">{{ l('MasterTagCategory') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagCategoryName"
                                name="masterTagCategoryName"
                                [(ngModel)]="masterTagCategoryName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectMasterTagCategoryModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button
                                class="btn btn-danger btn-icon"
                                type="button"
                                (click)="setMasterTagCategoryIdNull()"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeBusinessHour.masterTagCategoryId"
                        [(ngModel)]="storeBusinessHour.masterTagCategoryId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagName">{{ l('MasterTag') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagName"
                                name="masterTagName"
                                [(ngModel)]="masterTagName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectMasterTagModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setMasterTagIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeBusinessHour.masterTagId"
                        [(ngModel)]="storeBusinessHour.masterTagId"
                        type="text"
                        hidden
                    />

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="StoreBusinessHour_NowOpenOrClosed"
                            #StoreBusinessHour_NowOpenOrClosed="ngModel"
                            name="NowOpenOrClosed"
                            [(ngModel)]="storeBusinessHour.nowOpenOrClosed"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('NowOpenOrClosed') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="StoreBusinessHour_NowOpenOrClosed"></validation-messages>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="StoreBusinessHour_IsOpen24Hours"
                            #StoreBusinessHour_IsOpen24Hours="ngModel"
                            name="IsOpen24Hours"
                            [(ngModel)]="storeBusinessHour.isOpen24Hours"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsOpen24Hours') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="StoreBusinessHour_IsOpen24Hours"></validation-messages>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_MondayStartTime">
                            {{ l('MondayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_MondayStartTime="ngModel"
                            id="StoreBusinessHour_MondayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.mondayStartTime"
                            name="MondayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_MondayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_MondayEndTime">{{ l('MondayEndTime') }}</label>
                        <input
                            type="text"
                            #StoreBusinessHour_MondayEndTime="ngModel"
                            id="StoreBusinessHour_MondayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.mondayEndTime"
                            name="MondayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_MondayEndTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_TuesdayStartTime">
                            {{ l('TuesdayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_TuesdayStartTime="ngModel"
                            id="StoreBusinessHour_TuesdayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.tuesdayStartTime"
                            name="TuesdayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_TuesdayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_TuesdayEndTime">
                            {{ l('TuesdayEndTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_TuesdayEndTime="ngModel"
                            id="StoreBusinessHour_TuesdayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.tuesdayEndTime"
                            name="TuesdayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_TuesdayEndTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_WednesdayStartTime">
                            {{ l('WednesdayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_WednesdayStartTime="ngModel"
                            id="StoreBusinessHour_WednesdayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.wednesdayStartTime"
                            name="WednesdayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_WednesdayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_WednesdayEndTime">
                            {{ l('WednesdayEndTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_WednesdayEndTime="ngModel"
                            id="StoreBusinessHour_WednesdayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.wednesdayEndTime"
                            name="WednesdayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_WednesdayEndTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_ThursdayStartTime">
                            {{ l('ThursdayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_ThursdayStartTime="ngModel"
                            id="StoreBusinessHour_ThursdayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.thursdayStartTime"
                            name="ThursdayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_ThursdayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_ThursdayEndTime">
                            {{ l('ThursdayEndTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_ThursdayEndTime="ngModel"
                            id="StoreBusinessHour_ThursdayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.thursdayEndTime"
                            name="ThursdayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_ThursdayEndTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_FridayStartTime">
                            {{ l('FridayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_FridayStartTime="ngModel"
                            id="StoreBusinessHour_FridayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.fridayStartTime"
                            name="FridayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_FridayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_FridayEndTime">{{ l('FridayEndTime') }}</label>
                        <input
                            type="text"
                            #StoreBusinessHour_FridayEndTime="ngModel"
                            id="StoreBusinessHour_FridayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.fridayEndTime"
                            name="FridayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_FridayEndTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_SaturdayStartTime">
                            {{ l('SaturdayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_SaturdayStartTime="ngModel"
                            id="StoreBusinessHour_SaturdayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.saturdayStartTime"
                            name="SaturdayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_SaturdayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_SaturdayEndTime">
                            {{ l('SaturdayEndTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_SaturdayEndTime="ngModel"
                            id="StoreBusinessHour_SaturdayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.saturdayEndTime"
                            name="SaturdayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_SaturdayEndTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_SundayStartTime">
                            {{ l('SundayStartTime') }}
                        </label>
                        <input
                            type="text"
                            #StoreBusinessHour_SundayStartTime="ngModel"
                            id="StoreBusinessHour_SundayStartTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.sundayStartTime"
                            name="SundayStartTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_SundayStartTime"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="StoreBusinessHour_SundayEndTime">{{ l('SundayEndTime') }}</label>
                        <input
                            type="text"
                            #StoreBusinessHour_SundayEndTime="ngModel"
                            id="StoreBusinessHour_SundayEndTime"
                            class="form-control"
                            [(ngModel)]="storeBusinessHour.sundayEndTime"
                            name="SundayEndTime"
                            minlength="1"
                            maxlength="50"
                        />
                        <validation-messages [formCtrl]="StoreBusinessHour_SundayEndTime"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="StoreBusinessHour_IsAcceptOnlyBusinessHour"
                            #StoreBusinessHour_IsAcceptOnlyBusinessHour="ngModel"
                            name="IsAcceptOnlyBusinessHour"
                            [(ngModel)]="storeBusinessHour.isAcceptOnlyBusinessHour"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsAcceptOnlyBusinessHour') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="StoreBusinessHour_IsAcceptOnlyBusinessHour"></validation-messages>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!storeBusinessHourForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <storeBusinessHourStoreLookupTableModal
        #storeBusinessHourStoreLookupTableModal
        (modalSave)="getNewStoreId()"
    ></storeBusinessHourStoreLookupTableModal>
    <storeBusinessHourMasterTagCategoryLookupTableModal
        #storeBusinessHourMasterTagCategoryLookupTableModal
        (modalSave)="getNewMasterTagCategoryId()"
    ></storeBusinessHourMasterTagCategoryLookupTableModal>
    <storeBusinessHourMasterTagLookupTableModal
        #storeBusinessHourMasterTagLookupTableModal
        (modalSave)="getNewMasterTagId()"
    ></storeBusinessHourMasterTagLookupTableModal>
</div>
