<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productAndGiftCardMapForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productAndGiftCardMap.id">{{ l('EditProductAndGiftCardMap') }}</span>
                        <span *ngIf="!productAndGiftCardMap.id">{{ l('CreateNewProductAndGiftCardMap') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="ProductName">{{ l('Product') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ProductName"
                                name="productName"
                                [(ngModel)]="productName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productAndGiftCardMap.productId"
                        [(ngModel)]="productAndGiftCardMap.productId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="CurrencyName">{{ l('Currency') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="CurrencyName"
                                name="currencyName"
                                [(ngModel)]="currencyName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectCurrencyModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setCurrencyIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productAndGiftCardMap.currencyId"
                        [(ngModel)]="productAndGiftCardMap.currencyId"
                        type="text"
                        hidden
                    />

                    <div class="my5">
                        <label class="form-label" for="ProductAndGiftCardMap_PurchaseAmount">
                            {{ l('PurchaseAmount') }}
                        </label>
                        <input
                            type="number"
                            #ProductAndGiftCardMap_PurchaseAmount="ngModel"
                            id="ProductAndGiftCardMap_PurchaseAmount"
                            class="form-control"
                            [(ngModel)]="productAndGiftCardMap.purchaseAmount"
                            name="PurchaseAmount"
                        />
                        <validation-messages [formCtrl]="ProductAndGiftCardMap_PurchaseAmount"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="ProductAndGiftCardMap_GiftAmount">{{ l('GiftAmount') }}</label>
                        <input
                            type="number"
                            #ProductAndGiftCardMap_GiftAmount="ngModel"
                            id="ProductAndGiftCardMap_GiftAmount"
                            class="form-control"
                            [(ngModel)]="productAndGiftCardMap.giftAmount"
                            name="GiftAmount"
                        />
                        <validation-messages [formCtrl]="ProductAndGiftCardMap_GiftAmount"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!productAndGiftCardMapForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <productAndGiftCardMapProductLookupTableModal
        #productAndGiftCardMapProductLookupTableModal
        (modalSave)="getNewProductId()"
    ></productAndGiftCardMapProductLookupTableModal>
    <productAndGiftCardMapCurrencyLookupTableModal
        #productAndGiftCardMapCurrencyLookupTableModal
        (modalSave)="getNewCurrencyId()"
    ></productAndGiftCardMapCurrencyLookupTableModal>
</div>
