<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jobTagForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobTag.id">{{ l('EditJobTag') }}</span>
                        <span *ngIf="!jobTag.id">{{ l('CreateNewJobTag') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="JobTitle">{{ l('Job') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="JobTitle"
                                name="jobTitle"
                                [(ngModel)]="jobTitle"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectJobModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setJobIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="jobTag.jobId"
                        [(ngModel)]="jobTag.jobId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagCategoryName">{{ l('MasterTagCategory') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagCategoryName"
                                name="masterTagCategoryName"
                                [(ngModel)]="masterTagCategoryName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectMasterTagCategoryModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button
                                class="btn btn-danger btn-icon"
                                type="button"
                                (click)="setMasterTagCategoryIdNull()"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="jobTag.masterTagCategoryId"
                        [(ngModel)]="jobTag.masterTagCategoryId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagName">{{ l('MasterTag') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagName"
                                name="masterTagName"
                                [(ngModel)]="masterTagName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectMasterTagModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setMasterTagIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="jobTag.masterTagId"
                        [(ngModel)]="jobTag.masterTagId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="JobTag_CustomTag">{{ l('CustomTag') }}</label>
                        <input
                            type="text"
                            #JobTag_CustomTag="ngModel"
                            id="JobTag_CustomTag"
                            class="form-control"
                            [(ngModel)]="jobTag.customTag"
                            name="CustomTag"
                            minlength="1"
                            maxlength="128"
                        />
                        <validation-messages [formCtrl]="JobTag_CustomTag"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="JobTag_TagValue">{{ l('TagValue') }}</label>
                        <input
                            type="text"
                            #JobTag_TagValue="ngModel"
                            id="JobTag_TagValue"
                            class="form-control"
                            [(ngModel)]="jobTag.tagValue"
                            name="TagValue"
                            minlength="1"
                            maxlength="128"
                        />
                        <validation-messages [formCtrl]="JobTag_TagValue"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="JobTag_Verified"
                            #JobTag_Verified="ngModel"
                            name="Verified"
                            [(ngModel)]="jobTag.verified"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('Verified') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="JobTag_Verified"></validation-messages>

                    <div class="my5">
                        <label class="form-label" for="JobTag_Sequence">{{ l('Sequence') }}</label>
                        <input
                            type="number"
                            #JobTag_Sequence="ngModel"
                            id="JobTag_Sequence"
                            class="form-control"
                            [(ngModel)]="jobTag.sequence"
                            name="Sequence"
                        />
                        <validation-messages [formCtrl]="JobTag_Sequence"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!jobTagForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jobTagJobLookupTableModal #jobTagJobLookupTableModal (modalSave)="getNewJobId()"></jobTagJobLookupTableModal>
    <jobTagMasterTagCategoryLookupTableModal
        #jobTagMasterTagCategoryLookupTableModal
        (modalSave)="getNewMasterTagCategoryId()"
    ></jobTagMasterTagCategoryLookupTableModal>
    <jobTagMasterTagLookupTableModal
        #jobTagMasterTagLookupTableModal
        (modalSave)="getNewMasterTagId()"
    ></jobTagMasterTagLookupTableModal>
</div>
