<div [@routerTransition]>
    <!-- <sub-header [title]="'ProductAccountTeams' | localize" [description]="'ProductAccountTeamsHeaderInfo' | localize">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button *ngIf="isGranted('Pages.ProductAccountTeams.Create')" (click)="createProductAccountTeam()"
                class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                {{ l('CreateNewProductAccountTeam') }}
            </button>
        </div>
    </sub-header> -->
    <div class="w-100 d-flex mb-6 ps-9 pe-9 mt-6 justify-content-between align-items-center ng-tns-c282-7">
        <div class="d-flex">
            <h1 class="fs-3 fw-bold  my-0 page-heading text-dark">
                Product Account Team
            </h1>
        </div>
        <button *ngIf="isGranted('Pages.ProductAccountTeams.Create')" (click)="createProductAccountTeam()"
            class="btn btn-primary blue">
            <i class="fa fa-plus"></i>
            {{ l('Account Team') }}
        </button>
    </div>

    <div [class]="containerClass">
        <div class="card mb-5 mb-xxl-8">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-6 col-xxl-4 mb-4" *ngFor="let record of allEmployee">
                        <!--begin::Card-->
                        <div class="card shadow-sm rounded">
                            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                                <div class="symbol symbol-65px symbol-circle mb-5" *ngIf="!record.picture">
                                    <img src="/assets/common/images/default-profile-picture.png" alt="image">
                                </div>
                                <div class="symbol symbol-65px symbol-circle mb-5" *ngIf="record.picture">
                                    <img src="{{record.picture}}" alt="image">
                                </div>
                                <a href="javascript:;"
                                    [routerLink]="['/app/main/crm/employees/dashboard',record.productAccountTeam.employeeId]"
                                    class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">
                                    {{record.employeeName}} <i title="Active" *ngIf="record.productAccountTeam.active"
                                        class="fas fa-check-circle ms-3 text-success"></i>
                                </a>
                                <div *ngIf="record.productAccountTeam.primary" class="fw-semibold text-gray-400 mt-4 mb-6">
                                    <span class="badge badge-primary">Primary Manager</span>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-sm btn-light-primary me-3"
                                        *ngIf="permission.isGranted('Pages.ProductAccountTeams.Edit')"(click)="
                                        createOrEditProductAccountTeamModal.show(
                                            record.productAccountTeam.id
                                        )
                                    ">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button *ngIf="permission.isGranted('Pages.ProductAccountTeams.Delete')"
                                        (click)="deleteProductAccountTeam(record.productAccountTeam)"
                                        class="btn btn-sm btn-light-primary">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="filterText" (ngModelChange)="getProductAccountTeams()"
                                            name="filterText" autoFocus type="text" class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')" />
                                        <button class="btn btn-primary" type="submit"
                                            (click)="getProductAccountTeams()">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="PrimaryFilterSelect">{{ l('Primary') }}</label>
                                    <select class="form-select" name="PrimaryFilter" id="PrimaryFilterSelect"
                                        [(ngModel)]="primaryFilter" (ngModelChange)="getProductAccountTeams()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('False') }}</option>
                                        <option value="1">{{ l('True') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ActiveFilterSelect">{{ l('Active') }}</label>
                                    <select class="form-select" name="ActiveFilter" id="ActiveFilterSelect"
                                        [(ngModel)]="activeFilter" (ngModelChange)="getProductAccountTeams()">
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('False') }}</option>
                                        <option value="1">{{ l('True') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinRemoveDateFilter">
                                        {{ l('RemoveDateRange') }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinRemoveDateFilter"
                                            name="MinRemoveDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('MinValue') }}" [(ngModel)]="minRemoveDateFilter"
                                            (ngModelChange)="getProductAccountTeams()" />
                                        <span style="line-height: 40px; padding: 0 15px 0 15px">&mdash;</span>
                                        <input class="form-control m-input" id="MaxRemoveDateFilter"
                                            name="MaxRemoveDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('MaxValue') }}" [(ngModel)]="maxRemoveDateFilter"
                                            (ngModelChange)="getProductAccountTeams()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinAssignDateFilter">
                                        {{ l('AssignDateRange') }}
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control m-input" id="MinAssignDateFilter"
                                            name="MinAssignDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('MinValue') }}" [(ngModel)]="minAssignDateFilter"
                                            (ngModelChange)="getProductAccountTeams()" />
                                        <span style="line-height: 40px; padding: 0 15px 0 15px">&mdash;</span>
                                        <input class="form-control m-input" id="MaxAssignDateFilter"
                                            name="MaxAssignDateFilter" type="datetime" bsDatepicker
                                            placeholder="{{ l('MaxValue') }}" [(ngModel)]="maxAssignDateFilter"
                                            (ngModelChange)="getProductAccountTeams()" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="EmployeeNameFilter">
                                        ({{ l('Employee') }}) {{ l('Name') }}
                                    </label>
                                    <input type="text" class="form-control" id="EmployeeNameFilter"
                                        name="employeeNameFilter" [(ngModel)]="employeeNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ProductNameFilter">
                                        ({{ l('Product') }}) {{ l('Name') }}
                                    </label>
                                    <input type="text" class="form-control" id="ProductNameFilter"
                                        name="productNameFilter" [(ngModel)]="productNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form> -->

                <!-- <div class="row align-items-center">
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getProductAccountTeams($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="
                                            !isGrantedAny(
                                                'Pages.ProductAccountTeams.Edit',
                                                'Pages.ProductAccountTeams.Delete'
                                            )
                                        ">
                                        {{ l('Actions') }}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="employeeFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="employeeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="productFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="productName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="primary">
                                        {{ l('Primary') }}
                                        <p-sortIcon field="productAccountTeam.primary"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="active">
                                        {{ l('Active') }}
                                        <p-sortIcon field="productAccountTeam.active"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="removeDate">
                                        {{ l('RemoveDate') }}
                                        <p-sortIcon field="productAccountTeam.removeDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="assignDate">
                                        {{ l('AssignDate') }}
                                        <p-sortIcon field="productAccountTeam.assignDate"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px" [hidden]="
                                            !isGrantedAny(
                                                'Pages.ProductAccountTeams.Edit',
                                                'Pages.ProductAccountTeams.Delete'
                                            )
                                        ">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="viewProductAccountTeamModal.show(record)">
                                                        {{ l('View') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.ProductAccountTeams.Edit')"
                                                        class="dropdown-item" (click)="
                                                            createOrEditProductAccountTeamModal.show(
                                                                record.productAccountTeam.id
                                                            )
                                                        ">
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.ProductAccountTeams.Delete')"
                                                        (click)="deleteProductAccountTeam(record.productAccountTeam)">
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.employeeName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.productName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Primary') }}</span>
                                        <div *ngIf="record.productAccountTeam.primary" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.productAccountTeam.primary" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Active') }}</span>
                                        <div *ngIf="record.productAccountTeam.active" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.productAccountTeam.active" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('RemoveDate') }}</span>
                                        <span *ngIf="record.productAccountTeam.removeDate">
                                            {{ record.productAccountTeam.removeDate | luxonFormat : 'F' }}
                                        </span>
                                        <span *ngIf="!record.productAccountTeam.removeDate">-</span>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('AssignDate') }}</span>
                                        <span *ngIf="record.productAccountTeam.assignDate">
                                            {{ record.productAccountTeam.assignDate | luxonFormat : 'F' }}
                                        </span>
                                        <span *ngIf="!record.productAccountTeam.assignDate">-</span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getProductAccountTeams($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <createOrEditProductAccountTeamModal #createOrEditProductAccountTeamModal
        (modalSave)="getAllProductAccountTeams(productId)">
    </createOrEditProductAccountTeamModal>
    <viewProductAccountTeamModal #viewProductAccountTeamModal></viewProductAccountTeamModal>
</div>