<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #employeeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="employee.id">{{ l('EditEmployee') }}</span>
                        <span *ngIf="!employee.id">{{ l('CreateNewEmployee') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <!--begin::Input group-->
                            <div class="mb-7">
                                <div class="image-input image-input-outline"
                                    style="background-image: url(assets/common/images/location.png)">
                                    <div *ngIf="imageSrc" class="image-input-wrapper w-125px h-125px"
                                        [style.background-image]="'url(' + imageSrc + ')'">
                                    </div>
                                    <label
                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                        data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                        aria-label="Change avatar" data-bs-original-title="Change avatar"
                                        data-kt-initialized="1">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <input type="file" name="profile_avatar" id="customFile" ng2FileSelect
                                            [uploader]="uploader" (change)="fileChangeEvent($event)"
                                            accept=".png, .jpg, .jpeg">
                                        <input type="hidden" name="avatar_remove">
                                    </label>
                                </div>
                                <div class="form-text">Allowed file types: png, jpg, jpeg.
                                </div>
                            </div>
                            <!--end::Input group-->
                        </div>
                        <div class="col-xl-9">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="my-3">
                                        <label class="form-label required" for="Employee_FirstName">{{ l('FirstName') }}
                                            *</label>
                                        <input type="text" #Employee_FirstName="ngModel" id="Employee_FirstName"
                                            class="form-control" [(ngModel)]="employee.firstName" name="FirstName"
                                            minlength="1" maxlength="128" required />
                                        <validation-messages [formCtrl]="Employee_FirstName"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="my-3">
                                        <label class="form-label required" for="Employee_LastName">{{ l('LastName')
                                            }}</label>
                                        <input type="text" #Employee_LastName="ngModel" id="Employee_LastName"
                                            class="form-control" [(ngModel)]="employee.lastName" name="LastName"
                                            minlength="1" maxlength="128" required />
                                        <validation-messages [formCtrl]="Employee_LastName"></validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label required" for="Employee_CompanyName">{{ l('Company Name')
                                    }}</label>
                                <input type="text" #Employee_CompanyName="ngModel" id="Employee_CompanyName"
                                    class="form-control" [(ngModel)]="employee.companyName" name="CompanyName"
                                    minlength="1" maxlength="128" required />
                                <validation-messages [formCtrl]="Employee_CompanyName"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label required" for="Employee_JobTitle">{{ l('Job Title') }}</label>
                                <input type="text" #Employee_JobTitle="ngModel" id="Employee_JobTitle" required
                                    class="form-control" [(ngModel)]="employee.jobTitle" name="JobTitle" minlength="1"
                                    maxlength="128" />
                                <validation-messages [formCtrl]="Employee_JobTitle"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="my-5">
                                <label class="mb-2" for="employee">{{l("Department")}}</label>
                                <p-multiSelect name="employee" id="employee" [options]="employeeList"
                                    [(ngModel)]="selectedEmployees" optionLabel="displayName" [virtualScroll]="true"
                                    [filter]="true" [itemSize]="34" [maxSelectedLabels]="2"
                                    class="multiselect-custom-virtual-scroll" (onChange)="onEmployeeSelect($event)">
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="my-3">
                                <label class="form-label" for="Employee_FullAddress">{{ l('Full Address') }}</label>
                                <input type="text" #Employee_FullAddress="ngModel" id="Employee_FullAddress"
                                    class="form-control" [(ngModel)]="employee.fullAddress" name="FullAddress"
                                    minlength="1" maxlength="1024" />
                                <validation-messages [formCtrl]="Employee_FullAddress"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="my-3">
                                <label class="form-label" for="Employee_Address">{{ l('Address') }}</label>
                                <input type="text" #Employee_Address="ngModel" id="Employee_Address"
                                    class="form-control" [(ngModel)]="employee.address" name="Address" minlength="1"
                                    maxlength="512" />
                                <validation-messages [formCtrl]="Employee_Address"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <!-- <div class="my-3">
                                <label class="form-label" for="CountryName">{{ l('Country') }}</label>
                                <div class="input-group">
                                    <input class="form-control" id="CountryName" name="countryName"
                                        [(ngModel)]="countryName" type="text" disabled />
                                    <button class="btn btn-primary blue" (click)="openSelectCountryModal()"
                                        type="button">
                                        <i class="fa fa-search"></i>
                                        {{ l('Pick') }}
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" (click)="setCountryIdNull()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <input class="form-control" name="employee.countryId" [(ngModel)]="employee.countryId"
                                type="text" hidden /> -->
                            <div class="my-3 p_filter">
                                <label class="form-label" for="CountryName">{{ l('Country') }}</label>
                                <p-dropdown [options]="allCountrys" [filter]="true" [virtualScroll]="true"
                                    (onChange)="onCountryChange($event)" placeholder="Select Country" [itemSize]="30"
                                    name="displayName" optionLabel="displayName" optionId="id"
                                    [(ngModel)]="selectedCountry" filterBy="displayName"
                                    [style]="{ width: '100%' }"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <!-- <div class="my-3">
                                <label class="form-label" for="StateName">{{ l('State') }}</label>
                                <div class="input-group">
                                    <input class="form-control" id="StateName" name="stateName" [(ngModel)]="stateName"
                                        type="text" disabled />
                                    <button class="btn btn-primary blue" (click)="openSelectStateModal()" type="button">
                                        <i class="fa fa-search"></i>
                                        {{ l('Pick') }}
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" (click)="setStateIdNull()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <input class="form-control" name="employee.stateId" [(ngModel)]="employee.stateId"
                                type="text" hidden /> -->
                            <div class="my-3 p_filter">
                                <label class="form-label" for="StateName">{{ l('State') }}</label>
                                <p-dropdown [options]="allStates" [filter]="true" [virtualScroll]="true"
                                     placeholder="Select State" [itemSize]="30"
                                    name="displayName" optionLabel="displayName" optionId="id"
                                    [(ngModel)]="selectedState" filterBy="displayName"
                                    [style]="{ width: '100%' }"></p-dropdown>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_City">{{ l('City') }}</label>
                                <input type="text" #Employee_City="ngModel" id="Employee_City" class="form-control"
                                    [(ngModel)]="employee.city" name="City" minlength="1" maxlength="128" />
                                <validation-messages [formCtrl]="Employee_City"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_ZipCode">{{ l('ZipCode') }}</label>
                                <input type="text" #Employee_ZipCode="ngModel" id="Employee_ZipCode"
                                    class="form-control" [(ngModel)]="employee.zipCode" name="ZipCode" minlength="1"
                                    maxlength="50" />
                                <validation-messages [formCtrl]="Employee_ZipCode"></validation-messages>
                            </div>
                        </div>

                        <!-- <div class="col-xl-12">
                            <div class="my-3">
                                <label class="form-label" for="ContactFullName">{{ l('Contact') }}</label>
                                <div class="input-group">
                                    <input class="form-control" id="ContactFullName" name="contactFullName"
                                        [(ngModel)]="contactFullName" type="text" disabled />
                                    <button class="btn btn-primary blue" (click)="openSelectContactModal()"
                                        type="button">
                                        <i class="fa fa-search"></i>
                                        {{ l('Pick') }}
                                    </button>
                                    <button class="btn btn-danger btn-icon" type="button" (click)="setContactIdNull()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <input class="form-control" name="employee.contactId" [(ngModel)]="employee.contactId"
                                type="text" hidden />
                        </div> -->

                    </div>






                    <!-- <div class="my-3">
                        <label class="form-label" for="Employee_Name">{{ l('Name') }} *</label>
                        <input
                            type="text"
                            #Employee_Name="ngModel"
                            id="Employee_Name"
                            class="form-control"
                            [(ngModel)]="employee.name"
                            name="Name"
                            minlength="1"
                            maxlength="256"
                            required
                        />
                        <validation-messages [formCtrl]="Employee_Name"></validation-messages>
                    </div> -->







                    <div class="row">
                        <div class="col-xl-4">
                            <div class="my-3">
                                <label class="form-label" for="Employee_Mobile">{{ l('Mobile') }}</label>
                                <input type="text" #Employee_Mobile="ngModel" id="Employee_Mobile" class="form-control"
                                    [(ngModel)]="employee.mobile" name="Mobile" minlength="1" maxlength="50" />
                                <validation-messages [formCtrl]="Employee_Mobile"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="my-3">
                                <label class="form-label" for="Employee_OfficePhone">{{ l('OfficePhone') }}</label>
                                <input type="text" #Employee_OfficePhone="ngModel" id="Employee_OfficePhone"
                                    class="form-control" [(ngModel)]="employee.officePhone" name="OfficePhone"
                                    minlength="1" maxlength="50" />
                                <validation-messages [formCtrl]="Employee_OfficePhone"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="my-3">
                                <label class="form-label" for="Employee_Fax">{{ l('Fax') }}</label>
                                <input type="text" #Employee_Fax="ngModel" id="Employee_Fax" class="form-control"
                                    [(ngModel)]="employee.fax" name="Fax" minlength="1" maxlength="50" />
                                <validation-messages [formCtrl]="Employee_Fax"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_BusinessEmail">{{ l('Business Email') }}</label>
                                <input type="text" #Employee_BusinessEmail="ngModel" id="Employee_BusinessEmail"
                                    class="form-control" [(ngModel)]="employee.businessEmail" name="BusinessEmail"
                                    minlength="1" maxlength="128" />
                                <validation-messages [formCtrl]="Employee_BusinessEmail"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_PersonalEmail">{{ l('Personal Email') }}</label>
                                <input type="text" #Employee_PersonalEmail="ngModel" id="Employee_PersonalEmail"
                                    class="form-control" [(ngModel)]="employee.personalEmail" name="PersonalEmail"
                                    minlength="1" maxlength="128" />
                                <validation-messages [formCtrl]="Employee_PersonalEmail"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_Facebook">{{ l('Facebook') }}</label>
                                <input type="text" #Employee_Facebook="ngModel" id="Employee_Facebook"
                                    class="form-control" [(ngModel)]="employee.facebook" name="Facebook" minlength="1"
                                    maxlength="1024" />
                                <validation-messages [formCtrl]="Employee_Facebook"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_LinkedIn">{{ l('LinkedIn') }}</label>
                                <input type="text" #Employee_LinkedIn="ngModel" id="Employee_LinkedIn"
                                    class="form-control" [(ngModel)]="employee.linkedIn" name="LinkedIn" minlength="1"
                                    maxlength="1024" />
                                <validation-messages [formCtrl]="Employee_LinkedIn"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_DateOfBirth">{{ l('Date of Birth') }}</label>
                                <input class="form-control m-input" #Employee_DateOfBirth type="datetime" bsDatepicker
                                    datePickerLuxonModifier [(date)]="employee.dateOfBirth" id="Employee_DateOfBirth"
                                    name="Employee_DateOfBirth" />
                                <validation-messages [formCtrl]="Employee_DateOfBirth"></validation-messages>
                            </div>
                        </div>



                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Employee_HireDate">{{ l('Hire Date') }}</label>
                                <input class="form-control m-input" #Employee_HireDate type="datetime" bsDatepicker
                                    datePickerLuxonModifier [(date)]="employee.hireDate" id="Employee_HireDate"
                                    name="Employee_HireDate" />
                                <validation-messages [formCtrl]="Employee_HireDate"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="my-3">
                                <label class="form-label" for="Employee_Profile">{{ l('Short Profile') }}</label>
                                <p-editor id="description" name="description" [(ngModel)]="employee.profile"
                                    ngDefaultControl [style]="{ height: '300px' }"
                                    placeholder="'Type here...'"></p-editor>
                            </div>
                        </div>

                    </div>


















                    <!--  -->






                    <!-- <div class="my-3">
                        <label class="form-label" for="Employee_ProfilePictureId">{{ l('ProfilePictureId') }}</label>
                        <input
                            type="text"
                            #Employee_ProfilePictureId="ngModel"
                            id="Employee_ProfilePictureId"
                            class="form-control"
                            [(ngModel)]="employee.profilePictureId"
                            name="ProfilePictureId"
                        />
                        <validation-messages [formCtrl]="Employee_ProfilePictureId"></validation-messages>
                    </div> -->

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input id="Employee_CurrentEmployee" #Employee_CurrentEmployee="ngModel" name="CurrentEmployee"
                            [(ngModel)]="employee.currentEmployee" type="checkbox" class="form-check-input" />
                        <span class="form-check-label">
                            {{ l('CurrentEmployee') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="Employee_CurrentEmployee"></validation-messages>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!employeeForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <employeeStateLookupTableModal #employeeStateLookupTableModal (modalSave)="getNewStateId()">
    </employeeStateLookupTableModal>
    <employeeCountryLookupTableModal #employeeCountryLookupTableModal (modalSave)="getNewCountryId()">
    </employeeCountryLookupTableModal>
    <employeeContactLookupTableModal #employeeContactLookupTableModal (modalSave)="getNewContactId()">
    </employeeContactLookupTableModal>
</div>