<div [@routerTransition]>
  
  
   <sub-header [title]="'StoreProductServiceLocalityMaps' | localize" [description]="'StoreProductServiceLocalityMapsHeaderInfo' | localize">
             <div role="actions">
                 <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                
                 <button *ngIf="isGranted('Pages.StoreProductServiceLocalityMaps.Create')" (click)="createStoreProductServiceLocalityMap()" 
                                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewStoreProductServiceLocalityMap")}}</button>
             </div>
            </sub-header>
    
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                
                                
        	<div class="my-3">                
                <div class="input-group mb-3">
                  <input [(ngModel)]="filterText" (ngModelChange)="getStoreProductServiceLocalityMaps()" name="filterText" autoFocus type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')">
                  <button class="btn btn-primary" type="submit" (click)="getStoreProductServiceLocalityMaps()"><i class="flaticon-search-1"></i></button>
                </div>
            </div>
        	
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         
						     </div>



							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="LocalityNameFilter">{{l("LocalityName")}}</label>
									<input type="text" class="form-control" id="LocalityNameFilter" name="localityNameFilter" [(ngModel)]="localityNameFilter" (ngModelChange)="getStoreProductServiceLocalityMaps()">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="ZipCodeFilter">{{l("ZipCode")}}</label>
									<input type="text" class="form-control" id="ZipCodeFilter" name="zipCodeFilter" [(ngModel)]="zipCodeFilter" (ngModelChange)="getStoreProductServiceLocalityMaps()">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
									<label class="form-label" for="MinLatitudeFilter">{{l("MinMax")}} {{l("Latitude")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinLatitudeFilter" [(ngModel)]="minLatitudeFilter" placeholder="{{l('MinValue')}}" name="minLatitudeFilter" (ngModelChange)="getStoreProductServiceLocalityMaps()"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxLatitudeFilter" placeholder="{{l('MaxValue')}}" name="maxLatitudeFilter" (ngModelChange)="getStoreProductServiceLocalityMaps()"/>
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
									<label class="form-label" for="MinLongitudeFilter">{{l("MinMax")}} {{l("Longitude")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinLongitudeFilter" [(ngModel)]="minLongitudeFilter" placeholder="{{l('MinValue')}}" name="minLongitudeFilter" (ngModelChange)="getStoreProductServiceLocalityMaps()"/>
                                        <input type="number" class="form-control" [(ngModel)]="maxLongitudeFilter" placeholder="{{l('MaxValue')}}" name="maxLongitudeFilter" (ngModelChange)="getStoreProductServiceLocalityMaps()"/>
									</div>
                                </div>
                            </div>


							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="ProductNameFilter">({{l("Product")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="ProductNameFilter" name="productNameFilter" [(ngModel)]="productNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="StoreNameFilter">({{l("Store")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="StoreNameFilter" name="storeNameFilter" [(ngModel)]="storeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="ZipCodeNameFilter">({{l("ZipCode")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="ZipCodeNameFilter" name="zipCodeNameFilter" [(ngModel)]="zipCodeNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="CityNameFilter">({{l("City")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="CityNameFilter" name="cityNameFilter" [(ngModel)]="cityNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="StateNameFilter">({{l("State")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="StateNameFilter" name="stateNameFilter" [(ngModel)]="stateNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="CountryNameFilter">({{l("Country")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="CountryNameFilter" name="countryNameFilter" [(ngModel)]="countryNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="HubNameFilter">({{l("Hub")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="HubNameFilter" name="hubNameFilter" [(ngModel)]="hubNameFilter">
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getStoreProductServiceLocalityMaps($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.StoreProductServiceLocalityMaps.Edit', 'Pages.StoreProductServiceLocalityMaps.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="productFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="productName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="storeFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="storeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="zipCodeFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="zipCodeName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cityFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="cityName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="stateFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="stateName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="countryFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="countryName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="hubFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="hubName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="localityName">
                                        {{l('LocalityName')}}
                                        <p-sortIcon field="storeProductServiceLocalityMap.localityName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="zipCode">
                                        {{l('ZipCode')}}
                                        <p-sortIcon field="storeProductServiceLocalityMap.zipCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="latitude">
                                        {{l('Latitude')}}
                                        <p-sortIcon field="storeProductServiceLocalityMap.latitude"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="longitude">
                                        {{l('Longitude')}}
                                        <p-sortIcon field="storeProductServiceLocalityMap.longitude"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.StoreProductServiceLocalityMaps.Edit', 'Pages.StoreProductServiceLocalityMaps.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewStoreProductServiceLocalityMapModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.StoreProductServiceLocalityMaps.Edit')" class="dropdown-item"
														(click)="createOrEditStoreProductServiceLocalityMapModal.show(record.storeProductServiceLocalityMap.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a class="dropdown-item" href="javascript:;" *ngIf="permission.isGranted('Pages.StoreProductServiceLocalityMaps.Delete')"
														(click)="deleteStoreProductServiceLocalityMap(record.storeProductServiceLocalityMap)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.productName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.storeName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.zipCodeName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.cityName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.stateName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.countryName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.hubName}}
											</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('LocalityName')}}</span>
											{{record.storeProductServiceLocalityMap.localityName}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('ZipCode')}}</span>
											{{record.storeProductServiceLocalityMap.zipCode}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Latitude')}}</span>
											{{record.storeProductServiceLocalityMap.latitude}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Longitude')}}</span>
											{{record.storeProductServiceLocalityMap.longitude}}
										</td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getStoreProductServiceLocalityMaps($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"    
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditStoreProductServiceLocalityMapModal #createOrEditStoreProductServiceLocalityMapModal (modalSave)="getStoreProductServiceLocalityMaps()"></createOrEditStoreProductServiceLocalityMapModal>    
    <viewStoreProductServiceLocalityMapModal #viewStoreProductServiceLocalityMapModal></viewStoreProductServiceLocalityMapModal>
    
  </div>
