<div [@routerTransition]>
    <!-- <sub-header [title]="'HubContacts' | localize" [description]="'HubContactsHeaderInfo' | localize">
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button *ngIf="isGranted('Pages.HubContacts.Create')" (click)="createHubContact()"
                class="btn btn-primary blue">
                <i class="fa fa-plus"></i>
                {{ l('CreateNewHubContact') }}
            </button>
        </div>
    </sub-header> -->
    <div class="w-100 d-flex mb-6 mt-6 justify-content-between align-items-center">
        <div class="d-flex">
            <h1 class="fs-3 fw-bold  my-0 page-heading text-dark">
                Hub Contacts
            </h1>
            <span style="cursor: pointer;" class="badge badge-primary badge ms-2">
                Total: {{primengTableHelper.totalRecordsCount}}
            </span>
        </div>
        <button *ngIf="isGranted('Pages.HubContacts.Create')" (click)="createHubContact()" class="btn btn-primary blue">
            <i class="fa fa-plus"></i>
            {{ l('Contacts') }}
        </button>
    </div>
    <div class="w-100">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="filterText" (ngModelChange)="getHubContacts()"
                                            name="filterText" autoFocus type="text" class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')" />
                                        <button class="btn btn-primary" type="submit" (click)="getHubContacts()">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinDisplayScoreFilter">
                                        {{ l('MinMax') }} {{ l('DisplayScore') }}
                                    </label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="MinDisplayScoreFilter"
                                            [(ngModel)]="minDisplayScoreFilter" placeholder="{{ l('MinValue') }}"
                                            name="minDisplayScoreFilter" (ngModelChange)="getHubContacts()" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDisplayScoreFilter"
                                            placeholder="{{ l('MaxValue') }}" name="maxDisplayScoreFilter"
                                            (ngModelChange)="getHubContacts()" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="HubNameFilter">
                                        ({{ l('Hub') }}) {{ l('Name') }}
                                    </label>
                                    <input type="text" class="form-control" id="HubNameFilter" name="hubNameFilter"
                                        [(ngModel)]="hubNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="ContactFullNameFilter">
                                        ({{ l('Contact') }}) {{ l('FullName') }}
                                    </label>
                                    <input type="text" class="form-control" id="ContactFullNameFilter"
                                        name="contactFullNameFilter" [(ngModel)]="contactFullNameFilter" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters">
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getHubContacts($event)" [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}" [paginator]="false" [lazy]="true"
                            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:30px; text-align: center;">
                                        <label
                                            class="form-check form-check-custom form-check-inline form-check-solid is-invalid">
                                            <input class="form-check-input" (change)="onChangesSelectAll()"
                                                [(ngModel)]="selectedAll" type="checkbox">
                                            <span class="fw-semibold ps-2 fs-6">
                                            </span>
                                        </label>
                                    </th>
                                    <th style="width: 200px">
                                        {{l('Name')}}
                                    </th>
                                    <th style="width: 220px">
                                        {{l('Address')}}
                                    </th>
                                    <th style="min-width: 220px">
                                        {{l('Mobile')}}
                                    </th>
                                    <th style="width: 220px">
                                        {{l('Email')}}
                                    </th>
                                    <th style="width: 75px; text-align: center;">
                                        {{l('Connect')}}
                                    </th>

                                    <th style="width: 150px; text-align: center;">
                                        {{l('Social Profile')}}
                                    </th>
                                    <th style="width: 65px">
                                        {{l('Wallet')}}
                                    </th>

                                    <th style="width: 150px; text-align: center;">
                                        {{l('Orders')}}
                                    </th>
                                    <th style="width: 150px; text-align: center;">
                                        {{l('Membership')}}
                                    </th>

                                    <th style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.HubContacts.Edit', 'Pages.HubContacts.Delete')">
                                        {{ l('Actions') }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 30px;">
                                        <label
                                            class="form-check form-check-custom form-check-inline form-check-solid is-invalid">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="record.selected" (change)="checkIfAllSelected()">
                                            <span class="fw-semibold ps-2 fs-6">
                                            </span>
                                        </label>
                                    </td>
                                    <td style="width:200px">
                                        <span class="p-column-title"> {{l('Name')}}</span>
                                        <div style="width: 200px;" class="text-truncate"
                                            title="{{ record.contactName }}">
                                            <a class="table_title text-primary" href="javascript:;"
                                                [routerLink]="['/app/main/crm/contacts/dashboard',record.hubContact.contactId]">
                                                {{ record.contactName }}
                                                <i class="ml-2 fas fa-check-circle text-success"></i>
                                            </a>
                                        </div>
                                        <div *ngIf="record.jobTitle" style="width: 200px;" class="text-truncate"
                                            title="Job TItle">
                                            <small>
                                                {{record.jobTitle}}
                                            </small>
                                        </div>
                                    </td>
                                    <td style="width:220px" title="Address">
                                        <span class="p-column-title"> {{l('FullAddress')}}</span>
                                        <div style="width: 220px;" class="text-truncate">
                                            <span>
                                                {{record.fullAddress}}
                                            </span>
                                        </div>
                                    </td>
                                    <td style="min-width:220px">
                                        <span class="p-column-title"> {{l('Mobile')}}</span>
                                        <div title="Mobile: {{record.mobile}}" *ngIf="record.mobile">
                                            <span style="cursor: pointer;">
                                                <i class="fas fa-mobile-alt text-primary mr-2"></i> {{record.mobile}}
                                            </span>
                                            <!-- <span *ngIf="!record.contact.mobile" style="cursor: pointer;">
                                                -
                                            </span> -->
                                        </div>
                                        <div *ngIf="record.officePhone" style="cursor: pointer;"
                                            title="Office Phone: {{record.officePhone}}">
                                            <i class="fas fa-phone-alt me-1 text-primary"></i>
                                            <span>{{record.officePhone}}</span>
                                        </div>
                                    </td>

                                    <td style="width:220px">
                                        <span class="p-column-title"> {{l('Email')}}</span>
                                        <div style="width: 220px;" *ngIf="record.personalEmail" class="text-truncate"
                                            title="Personal Email: {{record.personalEmail}}">
                                            <span style="cursor: pointer;">
                                                <i class="fas fa-envelope text-primary"></i> {{record.personalEmail}}
                                            </span>
                                        </div>

                                        <div style="width: 220px;" class="text-truncate" *ngIf="record.businessEmail"
                                            title="Business Email: {{record.businessEmail}}">
                                            <span style="cursor: pointer;">
                                                <i class="fas fa-envelope-open text-primary"></i>
                                                {{record.businessEmail}}
                                            </span>
                                        </div>
                                    </td>
                                    <td style="width:75px; text-align: center;">
                                        <span class="p-column-title">{{ l('Connect') }}</span>
                                        <a href="javascript:;" (click)="onConnectClick(record.hubContact.id)">
                                            <i class="fas fa-comments text-primary fs-3"></i>
                                        </a>
                                    </td>
                                    <td style="width:150px; text-align: center;">
                                        <span class="p-column-title"> {{l('Social')}}</span>
                                        <span *ngIf="record.facebook">
                                            <a class="text-primary me-2 fa-1x" href="{{record.facebook}}"
                                                target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        </span>
                                        <span *ngIf="record.linkedIn">
                                            <a class="text-primary fa-1x" href="{{record.linkedIn}}" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </span>
                                    </td>
                                    <td style="width:65px">
                                        <span class="p-column-title"> {{l('Wallet')}}</span>
                                        <span *ngIf="record.walletAmount">${{record.walletAmount}}</span>
                                    </td>
                                    <td style="width:150px; text-align: center;">
                                        <span class="p-column-title"> {{l('Orders')}}</span>
                                        {{record.numberOfOrders}}
                                    </td>

                                    <td style="width:150px; text-align: center;">
                                        <span class="p-column-title"> {{l('MembershipType')}}</span>
                                        <span class="badge badge-success">{{record.membershipTypeName}}</span>
                                    </td>

                                    <!-- <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.hubName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('FullName') }}</span>
                                        {{ record.contactFullName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplayScore') }}</span>
                                        {{ record.hubContact.displayScore }}
                                    </td> -->
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.HubContacts.Edit', 'Pages.HubContacts.Delete')">
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <!-- <li>
                                                    <a href="javascript:;" class="dropdown-item"
                                                        (click)="viewHubContactModal.show(record)">
                                                        {{ l('View') }}
                                                    </a>
                                                </li> -->
                                                <li>
                                                    <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubContacts.Edit')"
                                                        class="dropdown-item"
                                                        (click)="createOrEditHubContactModal.show(record.hubContact.id)">
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.HubContacts.Delete')"
                                                        (click)="deleteHubContact(record.hubContact)">
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                (onPageChange)="getHubContacts($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true" [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditHubContactModal #createOrEditHubContactModal (modalSave)="getHubContacts()">
    </createOrEditHubContactModal>
    <viewHubContactModal #viewHubContactModal></viewHubContactModal>
    <oneToOneConnectModal #oneToOneConnectModal></oneToOneConnectModal>
</div>