<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #hubForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="hub.id">{{ l('Edit Hub') }}</span>
                        <span *ngIf="!hub.id">{{ l('Create New Hub') }}</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-3">
                            <!--begin::Input group-->
                            <div class="mb-7">
                                <div class="image-input image-input-outline"
                                    style="background-image: url(assets/common/images/location.png)">
                                    <div *ngIf="imageSrc" class="image-input-wrapper w-125px h-125px"
                                        [style.background-image]="'url(' + imageSrc + ')'">
                                    </div>
                                    <label
                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                        data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                        aria-label="Change avatar" data-bs-original-title="Change avatar"
                                        data-kt-initialized="1">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <input type="file" name="profile_avatar" id="customFile" ng2FileSelect
                                            [uploader]="uploader" (change)="fileChangeEvent($event)"
                                            accept=".png, .jpg, .jpeg">
                                        <input type="hidden" name="avatar_remove">
                                    </label>
                                </div>
                                <div class="form-text">Allowed file types: png, jpg, jpeg.
                                </div>
                            </div>
                            <!--end::Input group-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="mt-0 mb-3">
                                <label class="form-label" for="Hub_Name">{{ l('Name') }} *</label>
                                <input type="text" #Hub_Name="ngModel" id="Hub_Name" class="form-control"
                                    [(ngModel)]="hub.name" name="Name" minlength="1" maxlength="128" required />
                                <validation-messages [formCtrl]="Hub_Name"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="my-3">
                                <label class="form-label" for="HubTypeName">{{ l('HubType') }}</label>
                                <select name="hub.hubTypeId" [(ngModel)]="hub.hubTypeId" class="form-select" required>
                                    <option value="">{{ l('SelectAHubType') }}</option>
                                    <option *ngFor="let item of allHubTypes" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <label class="form-check form-check-custom form-check-solid my-3 mt-5 ">
                                <input id="Hub_HasParentHub" #Hub_HasParentHub="ngModel" name="HasParentHub"
                                    [(ngModel)]="hub.hasParentHub" type="checkbox" class="form-check-input" />
                                <span class="form-check-label">
                                    {{ l('Has Parent Hub') }}
                                </span>
                            </label>
                            <validation-messages [formCtrl]="Hub_HasParentHub"></validation-messages>

                            <div class="my-3" *ngIf="hub.hasParentHub">
                                <label class="form-label required" for="Hub_ParentHubId">{{ l('Parent Hub') }}</label>
                                <!-- <input type="number" #Hub_ParentHubId="ngModel" id="Hub_ParentHubId"
                                    class="form-control" [(ngModel)]="hub.parentHubId" name="ParentHubId" />
                                <validation-messages [formCtrl]="Hub_ParentHubId"></validation-messages> -->
                                <select name="hub.parentHubId" [(ngModel)]="hub.parentHubId"
                                    class="form-select" required>
                                    <option value="">{{ l('Select Parent Hub') }}</option>
                                    <option *ngFor="let item of allHubs" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3 p_filter">
                                <label class="form-label" for="CountryName">{{ l('Country') }}</label>
                                <p-dropdown [options]="allCountrys" [filter]="true" [virtualScroll]="true"
                                    (onChange)="onCountryChange($event)" placeholder="Select Country" [itemSize]="30"
                                    name="displayName" optionLabel="displayName" optionId="id"
                                    [(ngModel)]="selectedCountry" filterBy="displayName"
                                    [style]="{ width: '100%' }"></p-dropdown>
                                <!-- <select name="hub.countryId" [(ngModel)]="hub.countryId" class="form-select">
                                    <option value="">{{ l('Select Country') }}</option>
                                    <option *ngFor="let item of allCountrys" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select> -->
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3 p_filter">
                                <label class="form-label" for="StateName">{{ l('State') }}</label>
                                <!-- <select name="hub.stateId" [(ngModel)]="hub.stateId" class="form-select">
                                    <option value="">{{ l('Select State') }}</option>
                                    <option *ngFor="let item of allStates" value="{{ item.id }}">{{ item.displayName }}
                                    </option>
                                </select> -->
                                <p-dropdown [options]="allStates" [filter]="true" [virtualScroll]="true"
                                    (onChange)="onStateChange($event)" placeholder="Select State" [itemSize]="30"
                                    name="displayName" optionLabel="displayName" optionId="id"
                                    [(ngModel)]="selectedState" filterBy="displayName"
                                    [style]="{ width: '100%' }"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3 p_filter">
                                <label class="form-label" for="CountyName">{{ l('County') }}</label>
                                <p-dropdown [options]="allCountys" [filter]="true" [virtualScroll]="true"
                                    (onChange)="onCountyChange($event)" placeholder="Select County" [itemSize]="30"
                                    name="displayName" optionLabel="displayName" optionId="id"
                                    [(ngModel)]="selectedCounty" filterBy="displayName"
                                    [style]="{ width: '100%' }"></p-dropdown>
                                <!-- <select name="hub.countyId" [(ngModel)]="hub.countyId" class="form-select">
                                    <option value="">{{ l('Select County') }}</option>
                                    <option *ngFor="let item of allCountys" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select> -->
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3 p_filter">
                                <label class="form-label" for="CityName">{{ l('City') }}</label>
                                <!-- <select name="hub.cityId" [(ngModel)]="hub.cityId" class="form-select">
                                    <option value="">{{ l('Select City') }}</option>
                                    <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}
                                    </option>
                                </select> -->
                                <p-dropdown [options]="allCitys" [filter]="true" [virtualScroll]="true"
                                    (onChange)="onCityChange($event)" placeholder="Select City" [itemSize]="30"
                                    name="displayName" optionLabel="displayName" optionId="id"
                                    [(ngModel)]="selectedCity" filterBy="displayName"
                                    [style]="{ width: '100%' }"></p-dropdown>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="CurrencyName">{{ l('Currency') }}</label>
                                <select name="hub.currencyId" [(ngModel)]="hub.currencyId" class="form-select">
                                    <option value="">{{ l('SelectACurrency') }}</option>
                                    <option *ngFor="let item of allCurrencys" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Hub_Phone">{{ l('Phone') }}</label>
                                <input type="text" #Hub_Phone="ngModel" id="Hub_Phone" class="form-control"
                                    [(ngModel)]="hub.phone" name="Phone" minlength="1" maxlength="50" />
                                <validation-messages [formCtrl]="Hub_Phone"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="my-3">
                                <label class="form-label" for="Hub_OfficeFullAddress">{{ l('Office Full Address')
                                    }}</label>
                                <input type="text" #Hub_OfficeFullAddress="ngModel" id="Hub_OfficeFullAddress"
                                    class="form-control" [(ngModel)]="hub.officeFullAddress" name="OfficeFullAddress"
                                    minlength="1" maxlength="1500" />
                                <validation-messages [formCtrl]="Hub_OfficeFullAddress"></validation-messages>
                            </div>
                        </div>
                    </div>








                    <div class="row">
                        <div class="col-xl-4">
                            <div class="my-3">
                                <label class="form-label" for="Hub_Latitude">{{ l('Latitude') }}</label>
                                <input type="number" #Hub_Latitude="ngModel" id="Hub_Latitude" class="form-control"
                                    [(ngModel)]="hub.latitude" name="Latitude" />
                                <validation-messages [formCtrl]="Hub_Latitude"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="my-3">
                                <label class="form-label" for="Hub_Longitude">{{ l('Longitude') }}</label>
                                <input type="number" #Hub_Longitude="ngModel" id="Hub_Longitude" class="form-control"
                                    [(ngModel)]="hub.longitude" name="Longitude" />
                                <validation-messages [formCtrl]="Hub_Longitude"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-end">
                            <div class="my-3 d-flex align-items-end">
                                <a href="javascript:;" (click)="getCoordinates()"
                                    class="btn btn mb-0 ms-4 fw-bold btn-primary">
                                    <i class="fa fa-map-marker"></i> Get Lat. Long. Data
                                </a>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Hub_EstimatedPopulation">{{ l('Estimated Population')
                                    }}</label>
                                <input type="number" #Hub_EstimatedPopulation="ngModel" id="Hub_EstimatedPopulation"
                                    class="form-control" [(ngModel)]="hub.estimatedPopulation"
                                    name="EstimatedPopulation" />
                                <validation-messages [formCtrl]="Hub_EstimatedPopulation"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="my-3">
                                <label class="form-label" for="Hub_YearlyRevenue">{{ l('Yearly Projected Revenue')
                                    }}</label>
                                <input type="text" #Hub_YearlyRevenue="ngModel" id="Hub_YearlyRevenue"
                                    class="form-control" [(ngModel)]="hub.yearlyRevenue" name="YearlyRevenue" />
                                <validation-messages [formCtrl]="Hub_YearlyRevenue"></validation-messages>
                            </div>
                        </div>
                    </div>





                    <!-- <div class="my-3">
                        <label class="form-label" for="MediaLibraryName">{{ l('MediaLibrary') }}</label>
                        <div class="input-group">
                            <input class="form-control" id="MediaLibraryName" name="mediaLibraryName"
                                [(ngModel)]="mediaLibraryName" type="text" disabled />
                            <button class="btn btn-primary blue" (click)="openSelectMediaLibraryModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button"
                                (click)="setPictureMediaLibraryIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input class="form-control" name="hub.pictureMediaLibraryId" [(ngModel)]="hub.pictureMediaLibraryId"
                        type="text" hidden /> -->



                    <div class="mb-3 mt-3">
                        <label class="form-check form-check-custom form-check-solid">
                            <input id="Hub_Live" #Hub_Live="ngModel" name="Live" [(ngModel)]="hub.live" type="checkbox"
                                class="form-check-input" />
                            <span class="form-check-label">
                                {{ l('Live') }}
                            </span>
                        </label>
                        <validation-messages [formCtrl]="Hub_Live"></validation-messages>
                    </div>
                    <!-- <div class="my-3">
                        <label class="form-label" for="Hub_Url">{{ l('Url') }}</label>
                        <input type="text" #Hub_Url="ngModel" id="Hub_Url" class="form-control" [(ngModel)]="hub.url"
                            name="Url" minlength="1" maxlength="512" />
                        <validation-messages [formCtrl]="Hub_Url"></validation-messages>
                    </div> -->

                    <div class="my-5 select_button_custom">
                        <p-selectButton [options]="partnerAndOwnedOptions" name="PartnerOrOwned" id="PartnerOrOwned"
                            [(ngModel)]="hub.partnerOrOwned" optionLabel="label" optionValue="value"></p-selectButton>
                    </div>

                    <!-- <div class="my-3">
                        <label class="form-label" for="Hub_Description">
                            <div class="d-flex align-items-end justify-content-between">
                                <span class="required">About Hub</span>
                                <button class="btn btn-sm btn-light-primary" (click)="openAiModalPr('About Hub')">
                                    <i class="fa-file-signature fas me-2"></i>
                                    Generate about Hub
                                </button>
                            </div>
                        </label>
                        <p-editor id="Description" name="Description" [(ngModel)]="hub.description" ngDefaultControl
                            [style]="{ height: '200px' }" placeholder="'Type here...'"></p-editor>
                    </div> -->

                    <!-- <label class="form-check form-check-custom form-check-solid">
                        <input id="Hub_PartnerOrOwned" #Hub_PartnerOrOwned="ngModel" name="PartnerOrOwned"
                            [(ngModel)]="hub.partnerOrOwned" type="checkbox" class="form-check-input" />
                        <span class="form-check-label">
                            {{ l('PartnerOrOwned') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="Hub_PartnerOrOwned"></validation-messages> -->



                    <!-- <div class="my-3">
                        <label class="form-label" for="Hub_DisplaySequence">{{ l('DisplaySequence') }}</label>
                        <input type="number" #Hub_DisplaySequence="ngModel" id="Hub_DisplaySequence"
                            class="form-control" [(ngModel)]="hub.displaySequence" name="DisplaySequence" />
                        <validation-messages [formCtrl]="Hub_DisplaySequence"></validation-messages>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!hubForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hubMediaLibraryLookupTableModal #hubMediaLibraryLookupTableModal (modalSave)="getNewPictureMediaLibraryId()">
    </hubMediaLibraryLookupTableModal>
    <p-sidebar [(visible)]="sidebarVisible2" position="right">
        <h3>Get Latitude and Longitude</h3>
        <h4>By-</h4>

    </p-sidebar>
</div>