<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contactTaskMapForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="contactTaskMap.id">{{ l('EditContactTaskMap') }}</span>
                        <span *ngIf="!contactTaskMap.id">{{ l('CreateNewContactTaskMap') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="ContactFullName">{{ l('Contact') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ContactFullName"
                                name="contactFullName"
                                [(ngModel)]="contactFullName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectContactModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setContactIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="contactTaskMap.contactId"
                        [(ngModel)]="contactTaskMap.contactId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="TaskEventName">{{ l('TaskEvent') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="TaskEventName"
                                name="taskEventName"
                                [(ngModel)]="taskEventName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectTaskEventModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setTaskEventIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="contactTaskMap.taskEventId"
                        [(ngModel)]="contactTaskMap.taskEventId"
                        type="text"
                        required
                        hidden
                    />
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!contactTaskMapForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <contactTaskMapContactLookupTableModal
        #contactTaskMapContactLookupTableModal
        (modalSave)="getNewContactId()"
    ></contactTaskMapContactLookupTableModal>
    <contactTaskMapTaskEventLookupTableModal
        #contactTaskMapTaskEventLookupTableModal
        (modalSave)="getNewTaskEventId()"
    ></contactTaskMapTaskEventLookupTableModal>
</div>
