<div [@routerTransition]>
    <sub-header
        [title]="'BusinessMasterTagSettings' | localize"
        [description]="'BusinessMasterTagSettingsHeaderInfo' | localize"
    >
        <div role="actions">
            <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
                <i class="fa fa-file-excel"></i>
                {{ l('ExportToExcel') }}
            </button>

            <button
                *ngIf="isGranted('Pages.BusinessMasterTagSettings.Create')"
                (click)="createBusinessMasterTagSetting()"
                class="btn btn-primary blue"
            >
                <i class="fa fa-plus"></i>
                {{ l('CreateNewBusinessMasterTagSetting') }}
            </button>
        </div>
    </sub-header>

    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="my-3">
                                    <div class="input-group mb-3">
                                        <input
                                            [(ngModel)]="filterText"
                                            (ngModelChange)="getBusinessMasterTagSettings()"
                                            name="filterText"
                                            autoFocus
                                            type="text"
                                            class="form-control"
                                            [placeholder]="l('SearchWithThreeDot')"
                                        />
                                        <button
                                            class="btn btn-primary"
                                            type="submit"
                                            (click)="getBusinessMasterTagSettings()"
                                        >
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!advancedFiltersAreShown">
                            <div class="col-md-12"></div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MinDisplaySequenceFilter">
                                        {{ l('MinMax') }} {{ l('DisplaySequence') }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="MinDisplaySequenceFilter"
                                            [(ngModel)]="minDisplaySequenceFilter"
                                            placeholder="{{ l('MinValue') }}"
                                            name="minDisplaySequenceFilter"
                                            (ngModelChange)="getBusinessMasterTagSettings()"
                                        />
                                        <input
                                            type="number"
                                            class="form-control"
                                            [(ngModel)]="maxDisplaySequenceFilter"
                                            placeholder="{{ l('MaxValue') }}"
                                            name="maxDisplaySequenceFilter"
                                            (ngModelChange)="getBusinessMasterTagSettings()"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="DisplayPublicFilterSelect">
                                        {{ l('DisplayPublic') }}
                                    </label>
                                    <select
                                        class="form-select"
                                        name="DisplayPublicFilter"
                                        id="DisplayPublicFilterSelect"
                                        [(ngModel)]="displayPublicFilter"
                                        (ngModelChange)="getBusinessMasterTagSettings()"
                                    >
                                        <option value="-1">{{ l('All') }}</option>
                                        <option value="0">{{ l('False') }}</option>
                                        <option value="1">{{ l('True') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CustomTagTitleFilter">
                                        {{ l('CustomTagTitle') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="CustomTagTitleFilter"
                                        name="customTagTitleFilter"
                                        [(ngModel)]="customTagTitleFilter"
                                        (ngModelChange)="getBusinessMasterTagSettings()"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="CustomTagChatQuestionFilter">
                                        {{ l('CustomTagChatQuestion') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="CustomTagChatQuestionFilter"
                                        name="customTagChatQuestionFilter"
                                        [(ngModel)]="customTagChatQuestionFilter"
                                        (ngModelChange)="getBusinessMasterTagSettings()"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="AnswerTypeIdFilterSelect">
                                        {{ l('AnswerTypeId') }}
                                    </label>
                                    <select
                                        class="form-select"
                                        name="AnswerTypeIdFilter"
                                        id="AnswerTypeIdFilterSelect"
                                        [(ngModel)]="answerTypeIdFilter"
                                        (ngModelChange)="getBusinessMasterTagSettings()"
                                    >
                                        <option value="-1">{{ l('All') }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MasterTagCategoryNameFilter">
                                        ({{ l('MasterTagCategory') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MasterTagCategoryNameFilter"
                                        name="masterTagCategoryNameFilter"
                                        [(ngModel)]="masterTagCategoryNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="my-3">
                                    <label class="form-label" for="MasterTagNameFilter">
                                        ({{ l('MasterTag') }}) {{ l('Name') }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="MasterTagNameFilter"
                                        name="masterTagNameFilter"
                                        [(ngModel)]="masterTagNameFilter"
                                    />
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button
                                    (click)="resetFilters()"
                                    class="btn btn-secondary btn-sm"
                                    id="btn-reset-filters"
                                >
                                    Reset
                                </button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-down"></i>
                                    {{ l('ShowAdvancedFilters') }}
                                </span>
                                <span
                                    class="clickable-item text-muted"
                                    *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                >
                                    <i class="fa fa-angle-up"></i>
                                    {{ l('HideAdvancedFilters') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                        <p-table
                            #dataTable
                            (onLazyLoad)="getBusinessMasterTagSettings($event)"
                            [value]="primengTableHelper.records"
                            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                            [paginator]="false"
                            [lazy]="true"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="primengTableHelper.resizableColumns"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.BusinessMasterTagSettings.Edit',
                                                'Pages.BusinessMasterTagSettings.Delete'
                                            )
                                        "
                                    >
                                        {{ l('Actions') }}
                                    </th>
                                    <th style="width: 150px" pSortableColumn="masterTagCategoryFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="masterTagCategoryName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="businessTypeFk.name">
                                        {{ l('Name') }}
                                        <p-sortIcon field="masterTagName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="displaySequence">
                                        {{ l('DisplaySequence') }}
                                        <p-sortIcon field="businessMasterTagSetting.displaySequence"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="displayPublic">
                                        {{ l('DisplayPublic') }}
                                        <p-sortIcon field="businessMasterTagSetting.displayPublic"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="customTagTitle">
                                        {{ l('CustomTagTitle') }}
                                        <p-sortIcon field="businessMasterTagSetting.customTagTitle"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="customTagChatQuestion">
                                        {{ l('CustomTagChatQuestion') }}
                                        <p-sortIcon field="businessMasterTagSetting.customTagChatQuestion"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="answerTypeId">
                                        {{ l('AnswerTypeId') }}
                                        <p-sortIcon field="businessMasterTagSetting.answerTypeId"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td
                                        style="width: 130px"
                                        [hidden]="
                                            !isGrantedAny(
                                                'Pages.BusinessMasterTagSettings.Edit',
                                                'Pages.BusinessMasterTagSettings.Delete'
                                            )
                                        "
                                    >
                                        <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i>
                                                <span class="caret"></span>
                                                {{ l('Actions') }}
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        class="dropdown-item"
                                                        (click)="viewBusinessMasterTagSettingModal.show(record)"
                                                    >
                                                        {{ l('View') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        *ngIf="
                                                            permission.isGranted('Pages.BusinessMasterTagSettings.Edit')
                                                        "
                                                        class="dropdown-item"
                                                        (click)="
                                                            createOrEditBusinessMasterTagSettingModal.show(
                                                                record.businessMasterTagSetting.id
                                                            )
                                                        "
                                                    >
                                                        {{ l('Edit') }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        class="dropdown-item"
                                                        href="javascript:;"
                                                        *ngIf="
                                                            permission.isGranted(
                                                                'Pages.BusinessMasterTagSettings.Delete'
                                                            )
                                                        "
                                                        (click)="
                                                            deleteBusinessMasterTagSetting(
                                                                record.businessMasterTagSetting
                                                            )
                                                        "
                                                    >
                                                        {{ l('Delete') }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.masterTagCategoryName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('Name') }}</span>
                                        {{ record.masterTagName }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplaySequence') }}</span>
                                        {{ record.businessMasterTagSetting.displaySequence }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('DisplayPublic') }}</span>
                                        <div *ngIf="record.businessMasterTagSetting.displayPublic" class="text-center">
                                            <i class="fa fa-check-circle text-success" title="True"></i>
                                        </div>
                                        <div *ngIf="!record.businessMasterTagSetting.displayPublic" class="text-center">
                                            <i class="fa fa-times-circle" title="False"></i>
                                        </div>
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('CustomTagTitle') }}</span>
                                        {{ record.businessMasterTagSetting.customTagTitle }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('CustomTagChatQuestion') }}</span>
                                        {{ record.businessMasterTagSetting.customTagChatQuestion }}
                                    </td>
                                    <td style="width: 150px">
                                        <span class="p-column-title">{{ l('AnswerTypeId') }}</span>
                                        {{ l(answerType[record.businessMasterTagSetting.answerTypeId]) }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{ l('NoData') }}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator
                                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                #paginator
                                (onPageChange)="getBusinessMasterTagSettings($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="
                                    'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount
                                "
                            ></p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditBusinessMasterTagSettingModal
        #createOrEditBusinessMasterTagSettingModal
        (modalSave)="getBusinessMasterTagSettings()"
    ></createOrEditBusinessMasterTagSettingModal>
    <viewBusinessMasterTagSettingModal #viewBusinessMasterTagSettingModal></viewBusinessMasterTagSettingModal>
</div>
