<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #businessMasterTagSettingForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="businessMasterTagSetting.id">{{ l('EditBusinessMasterTagSetting') }}</span>
                        <span *ngIf="!businessMasterTagSetting.id">{{ l('CreateNewBusinessMasterTagSetting') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="MasterTagCategoryName">{{ l('MasterTagCategory') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagCategoryName"
                                name="masterTagCategoryName"
                                [(ngModel)]="masterTagCategoryName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectMasterTagCategoryModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button
                                class="btn btn-danger btn-icon"
                                type="button"
                                (click)="setMasterTagCategoryIdNull()"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="businessMasterTagSetting.masterTagCategoryId"
                        [(ngModel)]="businessMasterTagSetting.masterTagCategoryId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagName">{{ l('MasterTag') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagName"
                                name="masterTagName"
                                [(ngModel)]="masterTagName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectMasterTagModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setBusinessTypeIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="businessMasterTagSetting.businessTypeId"
                        [(ngModel)]="businessMasterTagSetting.businessTypeId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my5">
                        <label class="form-label" for="BusinessMasterTagSetting_DisplaySequence">
                            {{ l('DisplaySequence') }}
                        </label>
                        <input
                            type="number"
                            #BusinessMasterTagSetting_DisplaySequence="ngModel"
                            id="BusinessMasterTagSetting_DisplaySequence"
                            class="form-control"
                            [(ngModel)]="businessMasterTagSetting.displaySequence"
                            name="DisplaySequence"
                        />
                        <validation-messages
                            [formCtrl]="BusinessMasterTagSetting_DisplaySequence"
                        ></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="BusinessMasterTagSetting_DisplayPublic"
                            #BusinessMasterTagSetting_DisplayPublic="ngModel"
                            name="DisplayPublic"
                            [(ngModel)]="businessMasterTagSetting.displayPublic"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('DisplayPublic') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="BusinessMasterTagSetting_DisplayPublic"></validation-messages>

                    <div class="my-3">
                        <label class="form-label" for="BusinessMasterTagSetting_CustomTagTitle">
                            {{ l('CustomTagTitle') }}
                        </label>
                        <input
                            type="text"
                            #BusinessMasterTagSetting_CustomTagTitle="ngModel"
                            id="BusinessMasterTagSetting_CustomTagTitle"
                            class="form-control"
                            [(ngModel)]="businessMasterTagSetting.customTagTitle"
                            name="CustomTagTitle"
                            minlength="1"
                            maxlength="128"
                        />
                        <validation-messages [formCtrl]="BusinessMasterTagSetting_CustomTagTitle"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="BusinessMasterTagSetting_CustomTagChatQuestion">
                            {{ l('CustomTagChatQuestion') }}
                        </label>
                        <input
                            type="text"
                            #BusinessMasterTagSetting_CustomTagChatQuestion="ngModel"
                            id="BusinessMasterTagSetting_CustomTagChatQuestion"
                            class="form-control"
                            [(ngModel)]="businessMasterTagSetting.customTagChatQuestion"
                            name="CustomTagChatQuestion"
                            minlength="1"
                            maxlength="512"
                        />
                        <validation-messages
                            [formCtrl]="BusinessMasterTagSetting_CustomTagChatQuestion"
                        ></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="BusinessMasterTagSetting_AnswerTypeId">
                            {{ l('AnswerTypeId') }}
                        </label>
                        <select
                            class="form-select"
                            #BusinessMasterTagSetting_AnswerTypeId="ngModel"
                            name="AnswerTypeId"
                            id="BusinessMasterTagSetting_AnswerTypeId"
                            [(ngModel)]="businessMasterTagSetting.answerTypeId"
                        ></select>
                        <validation-messages [formCtrl]="BusinessMasterTagSetting_AnswerTypeId"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!businessMasterTagSettingForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <businessMasterTagSettingMasterTagCategoryLookupTableModal
        #businessMasterTagSettingMasterTagCategoryLookupTableModal
        (modalSave)="getNewMasterTagCategoryId()"
    ></businessMasterTagSettingMasterTagCategoryLookupTableModal>
    <businessMasterTagSettingMasterTagLookupTableModal
        #businessMasterTagSettingMasterTagLookupTableModal
        (modalSave)="getNewBusinessTypeId()"
    ></businessMasterTagSettingMasterTagLookupTableModal>
</div>
