<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productPackageForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productPackage.id">{{ l('EditProductPackage') }}</span>
                        <span *ngIf="!productPackage.id">{{ l('CreateNewProductPackage') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="ProductName">{{ l('Product') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ProductName"
                                name="productName"
                                [(ngModel)]="productName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setPrimaryProductIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productPackage.primaryProductId"
                        [(ngModel)]="productPackage.primaryProductId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MediaLibraryName">{{ l('MediaLibrary') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MediaLibraryName"
                                name="mediaLibraryName"
                                [(ngModel)]="mediaLibraryName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectMediaLibraryModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setMediaLibraryIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productPackage.mediaLibraryId"
                        [(ngModel)]="productPackage.mediaLibraryId"
                        type="text"
                        hidden
                    />

                    <div class="my5">
                        <label class="form-label" for="ProductPackage_PackageProductId">
                            {{ l('PackageProductId') }}
                        </label>
                        <input
                            type="number"
                            #ProductPackage_PackageProductId="ngModel"
                            id="ProductPackage_PackageProductId"
                            class="form-control"
                            [(ngModel)]="productPackage.packageProductId"
                            name="PackageProductId"
                        />
                        <validation-messages [formCtrl]="ProductPackage_PackageProductId"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="ProductPackage_DisplaySequence">
                            {{ l('DisplaySequence') }}
                        </label>
                        <input
                            type="number"
                            #ProductPackage_DisplaySequence="ngModel"
                            id="ProductPackage_DisplaySequence"
                            class="form-control"
                            [(ngModel)]="productPackage.displaySequence"
                            name="DisplaySequence"
                        />
                        <validation-messages [formCtrl]="ProductPackage_DisplaySequence"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="ProductPackage_Price">{{ l('Price') }}</label>
                        <input
                            type="number"
                            #ProductPackage_Price="ngModel"
                            id="ProductPackage_Price"
                            class="form-control"
                            [(ngModel)]="productPackage.price"
                            name="Price"
                        />
                        <validation-messages [formCtrl]="ProductPackage_Price"></validation-messages>
                    </div>

                    <div class="my5">
                        <label class="form-label" for="ProductPackage_Quantity">{{ l('Quantity') }}</label>
                        <input
                            type="number"
                            #ProductPackage_Quantity="ngModel"
                            id="ProductPackage_Quantity"
                            class="form-control"
                            [(ngModel)]="productPackage.quantity"
                            name="Quantity"
                        />
                        <validation-messages [formCtrl]="ProductPackage_Quantity"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!productPackageForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <productPackageProductLookupTableModal
        #productPackageProductLookupTableModal
        (modalSave)="getNewPrimaryProductId()"
    ></productPackageProductLookupTableModal>
    <productPackageMediaLibraryLookupTableModal
        #productPackageMediaLibraryLookupTableModal
        (modalSave)="getNewMediaLibraryId()"
    ></productPackageMediaLibraryLookupTableModal>
</div>
