<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #storeRelevantStoreForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="storeRelevantStore.id">{{ l('EditStoreRelevantStore') }}</span>
                        <span *ngIf="!storeRelevantStore.id">{{ l('CreateNewStoreRelevantStore') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="StoreName">{{ l('Store') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="StoreName"
                                name="storeName"
                                [(ngModel)]="storeName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectStoreModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setPrimaryStoreIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="storeRelevantStore.primaryStoreId"
                        [(ngModel)]="storeRelevantStore.primaryStoreId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my5">
                        <label class="form-label" for="StoreRelevantStore_RelevantStoreId">
                            {{ l('RelevantStoreId') }}
                        </label>
                        <input
                            type="number"
                            #StoreRelevantStore_RelevantStoreId="ngModel"
                            id="StoreRelevantStore_RelevantStoreId"
                            class="form-control"
                            [(ngModel)]="storeRelevantStore.relevantStoreId"
                            name="RelevantStoreId"
                        />
                        <validation-messages [formCtrl]="StoreRelevantStore_RelevantStoreId"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!storeRelevantStoreForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <storeRelevantStoreStoreLookupTableModal
        #storeRelevantStoreStoreLookupTableModal
        (modalSave)="getNewPrimaryStoreId()"
    ></storeRelevantStoreStoreLookupTableModal>
</div>
