<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #employeeTagForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="employeeTag.id">{{ l('EditEmployeeTag') }}</span>
                        <span *ngIf="!employeeTag.id">{{ l('CreateNewEmployeeTag') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="EmployeeName">{{ l('Employee') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="EmployeeName"
                                name="employeeName"
                                [(ngModel)]="employeeName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectEmployeeModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setEmployeeIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="employeeTag.employeeId"
                        [(ngModel)]="employeeTag.employeeId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagCategoryName">{{ l('MasterTagCategory') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagCategoryName"
                                name="masterTagCategoryName"
                                [(ngModel)]="masterTagCategoryName"
                                type="text"
                                disabled
                            />
                            <button
                                class="btn btn-primary blue"
                                (click)="openSelectMasterTagCategoryModal()"
                                type="button"
                            >
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button
                                class="btn btn-danger btn-icon"
                                type="button"
                                (click)="setMasterTagCategoryIdNull()"
                            >
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="employeeTag.masterTagCategoryId"
                        [(ngModel)]="employeeTag.masterTagCategoryId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MasterTagName">{{ l('MasterTag') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MasterTagName"
                                name="masterTagName"
                                [(ngModel)]="masterTagName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectMasterTagModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setMasterTagIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="employeeTag.masterTagId"
                        [(ngModel)]="employeeTag.masterTagId"
                        type="text"
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="EmployeeTag_CustomTag">{{ l('CustomTag') }}</label>
                        <input
                            type="text"
                            #EmployeeTag_CustomTag="ngModel"
                            id="EmployeeTag_CustomTag"
                            class="form-control"
                            [(ngModel)]="employeeTag.customTag"
                            name="CustomTag"
                            minlength="1"
                            maxlength="128"
                        />
                        <validation-messages [formCtrl]="EmployeeTag_CustomTag"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="EmployeeTag_TagValue">{{ l('TagValue') }}</label>
                        <input
                            type="text"
                            #EmployeeTag_TagValue="ngModel"
                            id="EmployeeTag_TagValue"
                            class="form-control"
                            [(ngModel)]="employeeTag.tagValue"
                            name="TagValue"
                            minlength="1"
                            maxlength="128"
                        />
                        <validation-messages [formCtrl]="EmployeeTag_TagValue"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="EmployeeTag_Verified"
                            #EmployeeTag_Verified="ngModel"
                            name="Verified"
                            [(ngModel)]="employeeTag.verified"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('Verified') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="EmployeeTag_Verified"></validation-messages>

                    <div class="my5">
                        <label class="form-label" for="EmployeeTag_Sequence">{{ l('Sequence') }}</label>
                        <input
                            type="number"
                            #EmployeeTag_Sequence="ngModel"
                            id="EmployeeTag_Sequence"
                            class="form-control"
                            [(ngModel)]="employeeTag.sequence"
                            name="Sequence"
                        />
                        <validation-messages [formCtrl]="EmployeeTag_Sequence"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!employeeTagForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <employeeTagEmployeeLookupTableModal
        #employeeTagEmployeeLookupTableModal
        (modalSave)="getNewEmployeeId()"
    ></employeeTagEmployeeLookupTableModal>
    <employeeTagMasterTagCategoryLookupTableModal
        #employeeTagMasterTagCategoryLookupTableModal
        (modalSave)="getNewMasterTagCategoryId()"
    ></employeeTagMasterTagCategoryLookupTableModal>
    <employeeTagMasterTagLookupTableModal
        #employeeTagMasterTagLookupTableModal
        (modalSave)="getNewMasterTagId()"
    ></employeeTagMasterTagLookupTableModal>
</div>
