<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productMediaForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="selectUploadPhoto">Add New Product Photo</span>
                        <span *ngIf="selectAddVideo">Add New Product Video</span>
                    </h4>

                    <button type="button" class="btn-close" (click)="close()" aria-label="Close"
                        [disabled]="saving"></button>
                </div>
                <div class="modal-body">
                    <!-- <div class="my-3">
                        <label class="form-label" for="ProductName">{{ l('Product') }}</label>
                        <div class="input-group">
                            <input class="form-control" id="ProductName" name="productName" [(ngModel)]="productName"
                                type="text" disabled />
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input class="form-control" name="productMedia.productId" [(ngModel)]="productMedia.productId"
                        type="text" required hidden />

                    <div class="my-3">
                        <label class="form-label" for="MediaLibraryName">{{ l('MediaLibrary') }}</label>
                        <div class="input-group">
                            <input class="form-control" id="MediaLibraryName" name="mediaLibraryName"
                                [(ngModel)]="mediaLibraryName" type="text" disabled />
                            <button class="btn btn-primary blue" (click)="openSelectMediaLibraryModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setMediaLibraryIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input class="form-control" name="productMedia.mediaLibraryId"
                        [(ngModel)]="productMedia.mediaLibraryId" type="text" hidden />

                    <div class="my5">
                        <label class="form-label" for="ProductMedia_DisplaySequence">{{ l('DisplaySequence') }}</label>
                        <input type="number" #ProductMedia_DisplaySequence="ngModel" id="ProductMedia_DisplaySequence"
                            class="form-control" [(ngModel)]="productMedia.displaySequence" name="DisplaySequence" />
                        <validation-messages [formCtrl]="ProductMedia_DisplaySequence"></validation-messages>
                    </div> -->
                    <div class="row">
                        <div class="col-xl-12" *ngIf="selectUploadPhoto">
                            <h6 class="text-gray-400 text-center fw-semibold fs-3 mb-10">
                                Upload Photo <small>( Max Photo size 10 MB )</small>
                            </h6>
                            <div class="mb-7 d-flex align-items-center justify-content-center">
                                <div class="image-input image-input-outline"
                                    style="background-image: url(assets/common/images/c_logo.png)">
                                    <div *ngIf="imageSrc" class="image-input-wrapper w-125px h-125px"
                                        [style.background-image]="'url(' + imageSrc + ')'">
                                    </div>
                                    <label
                                        class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                        data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                        aria-label="Change avatar" data-bs-original-title="Change avatar"
                                        data-kt-initialized="1">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <input type="file" name="profile_avatar" id="customFile" ng2FileSelect
                                            [uploader]="uploader" (change)="fileChangeEvent($event)"
                                            accept=".png, .jpg, .jpeg">
                                        <input type="hidden" name="avatar_remove">
                                    </label>
                                </div>
                            </div>
                            <div class="form-text text-center">Allowed file types: png, jpg, jpeg.
                            </div>
                        </div>

                        <div *ngIf="selectAddVideo" class="col-xl-12  mt-4">
                            <div class="form-group mb-7">
                                <label class="form-label required" for="StoreMedia_DisplaySequence">{{l("Video
                                    Title")}}</label>
                                <input type="text" id="videoTitle" [(ngModel)]="mediaLibrary.name" class="form-control"
                                    name="videoTitle" required />
                            </div>
                            <div class="form-group mb-7">
                                <label class="form-label required" for="StoreMedia_DisplaySequence">{{l("Video
                                    Link")}}</label>
                                <input type="text" id="videolink" [(ngModel)]="mediaLibrary.videoLink" class="form-control"
                                    name="videolink" required />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productMediaForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <productMediaProductLookupTableModal #productMediaProductLookupTableModal (modalSave)="getNewProductId()">
    </productMediaProductLookupTableModal>
    <productMediaMediaLibraryLookupTableModal #productMediaMediaLibraryLookupTableModal
        (modalSave)="getNewMediaLibraryId()"></productMediaMediaLibraryLookupTableModal>
</div>