<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productMediaForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productMedia.id">{{ l('EditProductMedia') }}</span>
                        <span *ngIf="!productMedia.id">{{ l('CreateNewProductMedia') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="ProductName">{{ l('Product') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ProductName"
                                name="productName"
                                [(ngModel)]="productName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productMedia.productId"
                        [(ngModel)]="productMedia.productId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="my-3">
                        <label class="form-label" for="MediaLibraryName">{{ l('MediaLibrary') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="MediaLibraryName"
                                name="mediaLibraryName"
                                [(ngModel)]="mediaLibraryName"
                                type="text"
                                disabled
                            />
                            <button class="btn btn-primary blue" (click)="openSelectMediaLibraryModal()" type="button">
                                <i class="fa fa-search"></i>
                                {{ l('Pick') }}
                            </button>
                            <button class="btn btn-danger btn-icon" type="button" (click)="setMediaLibraryIdNull()">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="productMedia.mediaLibraryId"
                        [(ngModel)]="productMedia.mediaLibraryId"
                        type="text"
                        hidden
                    />

                    <div class="my5">
                        <label class="form-label" for="ProductMedia_DisplaySequence">{{ l('DisplaySequence') }}</label>
                        <input
                            type="number"
                            #ProductMedia_DisplaySequence="ngModel"
                            id="ProductMedia_DisplaySequence"
                            class="form-control"
                            [(ngModel)]="productMedia.displaySequence"
                            name="DisplaySequence"
                        />
                        <validation-messages [formCtrl]="ProductMedia_DisplaySequence"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!productMediaForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <productMediaProductLookupTableModal
        #productMediaProductLookupTableModal
        (modalSave)="getNewProductId()"
    ></productMediaProductLookupTableModal>
    <productMediaMediaLibraryLookupTableModal
        #productMediaMediaLibraryLookupTableModal
        (modalSave)="getNewMediaLibraryId()"
    ></productMediaMediaLibraryLookupTableModal>
</div>
